Repository ligato/vpp-agent, pull requests merged in 2018-10, with the labels that each got.

#914 Change test Tag
  tests/robot/suites/traffic/veth_af_packet_traffic/veth_af_packet_traffic.robot
  tests/robot/suites/trafficIPv6/veth_af_packet_traffic/veth_af_packet_trafficIPv6.robot
Labels: 🔨 testing

#915 fix vpp route type dump
  plugins/vpp/l3plugin/vppcalls/route_dump.go
Labels: :bug: bug

#918 Change ssh timeout
  tests/robot/libraries/common_setup-teardown.robot
  tests/robot/libraries/docker.robot
  tests/robot/libraries/kubernetes/KubeSetup.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/libraries/ssh.robot
Labels: 🔨 testing

#917 rest security access & update cn-infra to v1.6
  Gopkg.lock
  plugins/rest/plugin_impl_rest.go
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/ligato/cn-infra/.gitignore
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/rpc/rest/README.md
  vendor/github.com/ligato/cn-infra/rpc/rest/config.go
  vendor/github.com/ligato/cn-infra/rpc/rest/http.conf
  vendor/github.com/ligato/cn-infra/rpc/rest/plugin_api_rest.go
  vendor/github.com/ligato/cn-infra/rpc/rest/plugin_impl_rest.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/auth_store.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/bindata.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/model/access-security/accesssecurity.pb.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/model/access-security/accesssecurity.proto
  vendor/github.com/ligato/cn-infra/rpc/rest/security/password-hasher/README.md
  vendor/github.com/ligato/cn-infra/rpc/rest/security/password-hasher/main.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/rest_security.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/templates/login.tmpl
  vendor/github.com/ligato/cn-infra/scripts/check_links.sh
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
Labels: ⚡️ feature, 🔗 dependencies

#919 v1.7 changelog
  CHANGELOG.md
Labels: 📜 docs

#926 Log revision for changes
  plugins/linux/data_change.go
  plugins/vpp/data_change.go
Labels: 🔧 enhancement

#929 Update cn-infra
  Gopkg.lock
  plugins/govppmux/plugin_impl_govppmux.go
  vendor/github.com/ligato/cn-infra/.gitignore
  vendor/github.com/ligato/cn-infra/CHANGELOG.md
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/Gopkg.toml
  vendor/github.com/ligato/cn-infra/Makefile
  vendor/github.com/ligato/cn-infra/README.md
  vendor/github.com/ligato/cn-infra/agent/agent.go
  vendor/github.com/ligato/cn-infra/agent/options.go
  vendor/github.com/ligato/cn-infra/agent/plugin_lookup.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/msg/datamsg.pb.go
  vendor/github.com/ligato/cn-infra/docs/guidelines/CONFIG.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/LOGGING.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/PLUGIN_DEPENDENCIES.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/PLUGIN_FLAVORS.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/PLUGIN_LIFECYCLE.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/README.md
  vendor/github.com/ligato/cn-infra/docs/guidelines/TESTING.md
  vendor/github.com/ligato/cn-infra/examples/etcd-lib/model/phonebook/phonebook.pb.go
  vendor/github.com/ligato/cn-infra/examples/logs-plugin/main.go
  vendor/github.com/ligato/cn-infra/examples/redis-lib/airport/model/flight.pb.go
  vendor/github.com/ligato/cn-infra/examples/simple-agent/README.md
  vendor/github.com/ligato/cn-infra/health/statuscheck/model/status/status.pb.go
  vendor/github.com/ligato/cn-infra/logging/log_api.go
  vendor/github.com/ligato/cn-infra/logging/logmanager/README.md
  vendor/github.com/ligato/cn-infra/logging/measure/model/apitrace/apitrace.pb.go
  vendor/github.com/ligato/cn-infra/logging/measure/model/apitrace/apitrace.proto
  vendor/github.com/ligato/cn-infra/logging/measure/tracer.go
  vendor/github.com/ligato/cn-infra/messaging/kafka/plugin_impl_kafka.go
Labels: 🔗 dependencies

#927 Update GoVPP and regenerate binapi
  Gopkg.lock
  Makefile
  docker/dev/Dockerfile
  docker/dev/build.sh
  plugins/vpp/binapi/acl/acl.ba.go
  plugins/vpp/binapi/af_packet/af_packet.ba.go
  plugins/vpp/binapi/bfd/bfd.ba.go
  plugins/vpp/binapi/dhcp/dhcp.ba.go
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/memif/memif.ba.go
  plugins/vpp/binapi/nat/nat.ba.go
  plugins/vpp/binapi/session/session.ba.go
  plugins/vpp/binapi/sr/sr.ba.go
  plugins/vpp/binapi/stats/stats.ba.go
  plugins/vpp/binapi/stn/stn.ba.go
  plugins/vpp/binapi/tap/tap.ba.go
  plugins/vpp/binapi/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vpe/vpe.ba.go
  plugins/vpp/binapi/vxlan/vxlan.ba.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/generate.go
Labels: 🔗 dependencies, 🔧 enhancement

#934 SFC test fix
  tests/robot/suites/sfc/traffic/veth_af_packet_traffic/sfc_veth_af_packet_traffic.robot
  tests/robot/suites/sfc/traffic/veth_af_packet_traffic/test_data/veth_basic.conf
Labels: 🔨 testing

#935 Fix sfc IPv6 test
  tests/robot/suites/sfcIPv6/test_controller_start/controller_startIPv6.robot
  tests/robot/suites/sfcIPv6/test_controller_start/test_data/simpleIPv6.conf
Labels: 🔨 testing

#920 support for rx-mode/placement dump
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
Labels: ⚡️ feature

#942 fix traffic iproute test
  tests/robot/libraries/vat_term.py
  tests/robot/suites/trafficIPv6/ip_route/test1_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test2_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test3_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test4_ip_routeIPv6.robot
Labels: 🔨 testing

#947 fix trafficIPv6 iproute test
  tests/robot/suites/trafficIPv6/ip_route/test3_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test4_ip_routeIPv6.robot
Labels: 🔨 testing

#950 fix tap traffic test
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_trafficIPv6.robot
Labels: :bug: bug, 🔨 testing

#952 fix BD traffic test IPv6
  tests/robot/suites/trafficIPv6/bridge_domain/test1_bridge_domainIPv6.robot
Labels: :bug: bug, 🔨 testing

#954 fix l2xconnect remove expected fail
  tests/robot/suites/traffic/l2xconnect_traffic/l2xconnect_trafic.robot
  tests/robot/suites/trafficIPv6/l2xconnect_traffic/l2xconnect_traficIPv6.robot
Labels: 🔨 testing

#951 updated IPSec resync
  plugins/vpp/ipsecplugin/data_resync.go
  plugins/vpp/ipsecplugin/ipsec_config.go
  plugins/vpp/ipsecplugin/vppcalls/dump_vppcalls.go
Labels: 🔧 enhancement

#956 IPSec resync updated (2. part)
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ipsecplugin/data_resync.go
  plugins/vpp/ipsecplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/model/interfaces/interfaces.pb.go
  plugins/vpp/model/interfaces/interfaces.proto
Labels: 🔧 enhancement

#960 fix app namespaces test
  tests/robot/suites/crudIPv6/app_namespaces_crudIPv6.robot
Labels: 🔨 testing

#964 fix linux interface dump for default namespace
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
Labels: :bug: bug

#965 (master) fix linux interface dump for default namespace
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
Labels: :bug: bug

#966 re-enble VRF configuration for vxlan tunnels
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/interface_config_test.go
Labels: :bug: bug

#967 [master] Update VPP to v19.01-rc0-29-g02a95ce8 (CSIT checkpoint)
  plugins/vpp/binapi/ip/ip.ba.go
  vpp.env
Labels: 🔗 dependencies

#968 Update VPP to v19.01-rc0-80-g2322798b
  plugins/vpp/binapi/ip/ip.ba.go
  vpp.env
Labels: 🔗 dependencies

#969 NAT Plugin v.2
  Makefile
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  examples/kvscheduler/acls/main.go
  examples/kvscheduler/interconnect/main.go
  examples/kvscheduler/nat/main.go
  plugins/vppv2/aclplugin/aclplugin.go
  plugins/vppv2/ifplugin/descriptor/dhcp.go
  plugins/vppv2/ifplugin/descriptor/interface.go
  plugins/vppv2/ifplugin/descriptor/interface_crud.go
  plugins/vppv2/ifplugin/descriptor/unnumbered.go
  plugins/vppv2/ifplugin/publish_state.go
  plugins/vppv2/l2plugin/descriptor/bd_interface.go
  plugins/vppv2/l2plugin/descriptor/bridgedomain.go
  plugins/vppv2/model/acl/keys.go
  plugins/vppv2/model/acl/keys_test.go
  plugins/vppv2/model/gen.go
  plugins/vppv2/model/interfaces/keys.go
  plugins/vppv2/model/interfaces/keys_test.go
  plugins/vppv2/model/l2/keys.go
  plugins/vppv2/model/l2/keys_test.go
  plugins/vppv2/model/l2/xconnect.pb.go
  plugins/vppv2/model/nat/keys.go
  plugins/vppv2/model/nat/keys_test.go
  plugins/vppv2/model/nat/nat.pb.go
  plugins/vppv2/model/nat/nat.proto
  plugins/vppv2/natplugin/descriptor/adapter/dnat44.go
  plugins/vppv2/natplugin/descriptor/adapter/nat44global.go
  plugins/vppv2/natplugin/descriptor/adapter/nat44interface.go
  plugins/vppv2/natplugin/descriptor/nat44_dnat.go
  plugins/vppv2/natplugin/descriptor/nat44_global.go
  plugins/vppv2/natplugin/descriptor/nat44_interface.go
  plugins/vppv2/natplugin/natplugin.go
  plugins/vppv2/natplugin/options.go
  plugins/vppv2/natplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/doc.go
  plugins/vppv2/natplugin/vppcalls/dump_nat_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/dump_nat_vppcalls_test.go
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls_test.go
Labels: 💡 refactoring

#963 [dev] KVScheduler: vpp/l3plugin
  Makefile
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  examples/kvscheduler/interconnect/main.go
  examples/kvscheduler/vpp-l3/main.go
  plugins/kvscheduler/api/kv_descriptor_api.go
  plugins/linuxv2/ifplugin/ifplugin.go
  plugins/linuxv2/l3plugin/descriptor/arp.go
  plugins/linuxv2/l3plugin/descriptor/route.go
  plugins/vpp/model/interfaces/interfaces.pb.go
  plugins/vppv2/l3plugin/descriptor/adapter/arpentry.go
  plugins/vppv2/l3plugin/descriptor/adapter/ipscanneighbor.go
  plugins/vppv2/l3plugin/descriptor/adapter/proxyarp.go
  plugins/vppv2/l3plugin/descriptor/adapter/proxyarpinterface.go
  plugins/vppv2/l3plugin/descriptor/adapter/staticroute.go
  plugins/vppv2/l3plugin/descriptor/arp_entry.go
  plugins/vppv2/l3plugin/descriptor/ip_scan_neighbor.go
  plugins/vppv2/l3plugin/descriptor/proxy_arp.go
  plugins/vppv2/l3plugin/descriptor/proxy_arp_interface.go
  plugins/vppv2/l3plugin/descriptor/static_route.go
  plugins/vppv2/l3plugin/l3plugin.go
  plugins/vppv2/l3plugin/options.go
  plugins/vppv2/l3plugin/vppcalls/api_vppcalls.go
  plugins/vppv2/l3plugin/vppcalls/arp_dump.go
  plugins/vppv2/l3plugin/vppcalls/arp_vppcalls.go
  plugins/vppv2/l3plugin/vppcalls/arp_vppcalls_test.go
  plugins/vppv2/l3plugin/vppcalls/doc.go
  plugins/vppv2/l3plugin/vppcalls/ipneigh_vppcalls.go
  plugins/vppv2/l3plugin/vppcalls/ipneigh_vppcalls_test.go
  plugins/vppv2/l3plugin/vppcalls/proxyarp_dump.go
  plugins/vppv2/l3plugin/vppcalls/proxyarp_vppcalls.go
  plugins/vppv2/l3plugin/vppcalls/proxyarp_vppcalls_test.go
  plugins/vppv2/l3plugin/vppcalls/route_dump.go
  plugins/vppv2/l3plugin/vppcalls/route_dump_test.go
  plugins/vppv2/l3plugin/vppcalls/route_vppcalls.go
  plugins/vppv2/l3plugin/vppcalls/route_vppcalls_test.go
  plugins/vppv2/model/gen.go
  plugins/vppv2/model/l3/arp.pb.go
  plugins/vppv2/model/l3/arp.proto
  plugins/vppv2/model/l3/keys.go
  plugins/vppv2/model/l3/keys_test.go
  plugins/vppv2/model/l3/static_route.pb.go
  plugins/vppv2/model/l3/static_route.proto
  plugins/vppv2/model/nat/nat.pb.go
Labels: 💡 refactoring
