Repository ligato/vpp-agent, pull requests merged in 2018-09, with the labels that each got.

#850 corrected some logs in acl plugin
  plugins/vpp/aclplugin/acl_config.go
Labels: 💡 refactoring

#853 Update cn-infra to fix GRPC initialization when plugin is disabled
  Gopkg.lock
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_impl_grpc.go
Labels: :bug: bug, 🔗 dependencies

#855 vpp v18.10-rc0~320-g73202107
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/nat/nat.ba.go
  plugins/vpp/binapi/session/session.ba.go
  vpp.env
Labels: 🔗 dependencies

#852 support for unnumbered interface dump
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/export_test.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
Labels: ⚡️ feature, 🔨 testing

#863 replace rx-placement cli call with binary API
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/rx_placement_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/rx_placement_vppcalls_test.go
  plugins/vpp/model/acl/acl.pb.go
  plugins/vpp/model/interfaces/interfaces.pb.go
  plugins/vpp/model/interfaces/interfaces.proto
  plugins/vpp/model/rpc/rpc.pb.go
Labels: 🔧 enhancement

#862 reverted linux interface watcher
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_config_test.go
  plugins/linux/ifplugin/interface_state.go
  plugins/linux/linuxplugin_init.go
Labels: ⚡️ feature, 🔨 testing

#857 bridge domain ARP table dump
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls_test.go
Labels: ⚡️ feature

#866 Fix IPv6 traffic test
  tests/robot/suites/crudIPv6/ip_route_crudIPv6.robot
  tests/robot/suites/crudIPv6/veth_crudIPv6.robot
Labels: 🔨 testing

#870 Fix 'lo' change in Ubuntu
  tests/robot/suites/crud/linux_arp_crud.robot
Labels: 🔨 testing

#868 fixed occasional fib configuration failures
  plugins/govppmux/options.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/bd_config_test.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/l2plugin/l2idx/bd_index.go
  plugins/vpp/l2plugin/l2idx/bd_index_test.go
  plugins/vpp/l2plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/l2fib_vppcalls.go
  plugins/vpp/watch_events.go
Labels: :bug: bug

#873 improved nat tag handling
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls_test.go
Labels: 🔧 enhancement

#877 do not interrupt linux resync on error
  plugins/linux/ifplugin/data_resync.go
Labels: :bug: bug

#878 (contiv) fix for occassional fib configuration issue
  plugins/govppmux/options.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/bd_config_test.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/l2plugin/l2idx/bd_index.go
  plugins/vpp/l2plugin/l2idx/bd_index_test.go
  plugins/vpp/l2plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/l2fib_vppcalls.go
  plugins/vpp/watch_events.go
Labels: :bug: bug

#879 (contiv) do not fail linux interface resync on error
  plugins/linux/ifplugin/data_resync.go
Labels: :bug: bug, contiv

#880 (contiv) nat tag length check
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls_test.go
Labels: :bug: bug, contiv, 🔧 enhancement

#882 Build enhancements
  Makefile
Labels: 🔧 enhancement

#884 linux resync registers also veth-type interfaces
  plugins/linux/ifplugin/data_resync.go
Labels: :bug: bug

#886 SFC change image 2
  tests/robot/variables/common_variables.robot
Labels: 🔨 testing

#887 Update VPP to v18.10-rc0+434
  plugins/vpp/binapi/nat/nat.ba.go
  vpp.env
Labels: 🔗 dependencies

#888 faster suite setup/cleanup
  tests/robot/libraries/docker.robot
  tests/robot/variables/common_variables.robot
Labels: 🔨 testing

#890 Fix concurrent map access in LinuxInterfaceConfigurator
  plugins/linux/ifplugin/data_resync.go
  plugins/linux/ifplugin/interface_config.go
Labels: :bug: bug

#891 add dump for linux interfaces, arps and routes
  app/vpp_agent.go
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/govppmux/govpp_channel.go
  plugins/linux/ifplugin/export_test.go
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_config_test.go
  plugins/linux/ifplugin/linuxcalls/admin_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/ip_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mac_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mock_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/arp_config.go
  plugins/linux/l3plugin/arp_config_test.go
  plugins/linux/l3plugin/linuxcalls/dump_l3_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/linuxcalls/route_linuxcalls.go
  plugins/linux/l3plugin/route_config.go
  plugins/linux/l3plugin/route_config_test.go
  plugins/linux/linuxplugin_api.go
  plugins/linux/linuxplugin_init.go
  plugins/linux/nsplugin/ns_handler.go
  plugins/linux/nsplugin/ns_handler_api.go
  plugins/linux/nsplugin/ns_handler_test.go
  plugins/rest/README.md
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  tests/linuxmock/namespace_mock.go
  tests/linuxmock/netlink_if_handler_mock.go
  tests/linuxmock/netlink_l3_handler_mock.go
Labels: ⚡️ feature

#908 Update VPP to v18.10-rc0-505-ge23edac3
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls_test.go
  vpp.env
Labels: 🔗 dependencies

#900 Support for building of docker images for ARM64 platform
  docker/dev/build.sh
  docker/dev/push_image.sh
  docker/prod/build.sh
  docker/prod/push_image.sh
Labels: 🔧 enhancement
