Repository ligato/vpp-agent, pull requests merged in 2018-07, with the labels that each got.

#720 ipv6 tests
  tests/robot/suites/traffic/tap_int_traffic/tap_int_traffic.robot
  tests/robot/suites/trafficIPv6/ip_route/test1_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test2_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test3_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test4_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/ip_route/test_ip_routeIPv6.robot
  tests/robot/suites/trafficIPv6/libmemif/libmemif_master_trafic1IPv6.robot
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/veth_af_packet_traffic/veth_af_packet_trafficIPv6.robot
Labels: 🔨 tests

#719 Some tests for TAP interfaces started failing
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_config_test.go
Labels: :bug: bug

#721 remove deprecated safeclose.CloseAll()
  examples/govpp_call/main.go
  examples/idx_bd_cache/main.go
  examples/idx_iface_cache/main.go
  examples/idx_veth_cache/main.go
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_stage.go
  plugins/linux/linuxplugin_init.go
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/ifplugin/afpacket_config.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/vppcalls/afpacket_vppcalls_test.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/bd_state.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/srplugin/srv6_config.go
Labels: 🔧 enhancement

#724 Pantheon devfixies of ipv6 tests
  tests/robot/suites/trafficIPv6/bridge_domain/test1_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test2_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test3_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test_bridge_domainIPv6.robot
Labels: 🔨 tests

#722 Fix tests with MockHandler
  .travis.yml
  plugins/linux/nsplugin/microservices.go
  plugins/linux/nsplugin/ns_handler_test.go
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/interface_config_test.go
  plugins/vpp/ifplugin/vppcalls/compat_vppcalls.go
  plugins/vpp/ifplugin/vppdump/dump_vppcalls.go
Labels: :bug: bug

#736 Add scale scenario to integration tests
  tests/robot/libraries/kubernetes/KubeEnv.robot
  tests/robot/libraries/kubernetes/KubeSetup.robot
  tests/robot/libraries/kubernetes/KubeTestOperations.robot
  tests/robot/libraries/kubernetes/Restarts_Setup.robot
  tests/robot/libraries/kubernetes/kube_config_gen.py
  tests/robot/resources/k8-scripts/pull-images.sh
  tests/robot/resources/k8-yaml/vnf-vpp.yaml
  tests/robot/resources/k8-yaml/vswitch.yaml
  tests/robot/suites/integration/restarts/basic_restarts.robot
  tests/robot/suites/integration/restarts/scale_restarts.robot
  tests/robot/variables/ccmts_vm_variables.robot
  tests/robot/variables/common_variables.robot
Labels: 🔨 tests

#737 Fix missing default value for test variable vnf_image_name
  tests/robot/libraries/kubernetes/Restarts_Setup.robot
  tests/robot/variables/ccmts_vm_variables.robot
  tests/robot/variables/common_variables.robot
Labels: 🔨 tests

#740 Update travis
  .travis.yml
  Makefile
Labels: 🔧 Enhancement

#741 Bugfixes for integration test
  tests/robot/libraries/kubernetes/KubeTestOperations.robot
  tests/robot/libraries/kubernetes/kube_config_gen.py
Labels: 🔨 Testing

#742 Optimize dev docker image
  .gitignore
  .travis.yml
  Makefile
  docker/dev/Dockerfile
  docker/dev/build.sh
  scripts/genjsonapi.sh
Labels: 🔧 Enhancement

#743 align master with dev (cn-infra v1.4)
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/datasync/syncbase/prev_revisions.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/watcher.go
  vendor/github.com/ligato/cn-infra/logging/logmanager/README.md
  vendor/github.com/ligato/cn-infra/logging/logmanager/plugin_impl_log_manager.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_impl_grpc.go
Labels: 📜 Docs, 🔗 Deps update

#745 use default values in example config files
  plugins/govppmux/govpp.conf
  plugins/linux/linuxplugin.conf
  plugins/vpp/vpp-plugin.conf
Labels: 📜 Docs

#753 added config file for telemetry plugin
  plugins/telemetry/config.go
  plugins/telemetry/telemetry.conf
  plugins/telemetry/telemetry.go
Labels: ⚡️ Feature

#754 Release vpp-agent v1.5.1
  CHANGELOG.md
  plugins/telemetry/README.md
Labels: 🌟 Release

#752 Fix incorrect setting of VRF in handleNat44IdentityMapping
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls.go
Labels: :bug: Bug

#723 vppcalls api: vpp/aclplugin
  plugins/linux/ifplugin/interface_config.go
  plugins/rest/rest_handlers.go
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/aclplugin/data_resync.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/api_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/doc.go
  plugins/vpp/aclplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls_test.go
  plugins/vpp/aclplugin/vppdump/doc.go
  plugins/vpp/plugin_impl_vpp.go
Labels: 💡 Refactoring

#747 Support for inter-VRF routes
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/vpp/data_change.go
  plugins/vpp/ifplugin/vppcalls/vrf_vppcalls.go
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/l3plugin/route_utils.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls.go
  plugins/vpp/l3plugin/vppdump/dump_vppcalls.go
  plugins/vpp/model/l3/keys_agent_l3.go
  plugins/vpp/model/l3/l3.pb.go
  plugins/vpp/model/l3/l3.proto
  plugins/vpp/model/rpc/rpc.pb.go
Labels: 🔧 Enhancement

#751 retry binary api request if vpp disconnects
  plugins/govppmux/govpp.conf
  plugins/govppmux/govpp_channel.go
  plugins/govppmux/plugin_impl_govppmux.go
Labels: ⚡️ Feature

#757 Fix setting telemetry update period to default and closing
  plugins/telemetry/telemetry.go
Labels: :bug: Bug

#758 v1.5.2 changelog + cn-infra 1.4.1
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/db/keyval/consul/consul.go
Labels: 📜 Docs, 🔗 Deps update

#729 vppcalls api: vpp/l2plugin
  plugins/rest/rest_handlers.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/bd_config_test.go
  plugins/vpp/l2plugin/data_resync.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/l2plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/bridge_domain_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/bridge_domain_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/doc.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/l2fib_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/l2fib_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/xconnect_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/xconnect_vppcalls_test.go
  plugins/vpp/l2plugin/vppdump/doc.go
  plugins/vpp/l2plugin/xconnect_config.go
  plugins/vpp/plugin_impl_vpp.go
Labels: 💡 Refactoring

#732 vppcalls api: vpp/l4plugin
  plugins/vpp/l4plugin/appns_config.go
  plugins/vpp/l4plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l4plugin/vppcalls/app_namespace_vppcalls.go
  plugins/vpp/l4plugin/vppcalls/features_vppcalls.go
Labels: 💡 Refactoring

#730 vppcalls api: vpp/ipsec
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ipsecplugin/ipsec_config.go
  plugins/vpp/ipsecplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/ipsec_vppcalls.go
Labels: 💡 Refactoring

#731 vppcalls api: vpp/l3plugin
  plugins/rest/rest_handlers.go
  plugins/vpp/l3plugin/arp_config.go
  plugins/vpp/l3plugin/arp_proxy_config.go
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/l3plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/arp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/arp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/doc.go
  plugins/vpp/l3plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/proxyarp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls_test.go
  plugins/vpp/l3plugin/vppdump/doc.go
Labels: 💡 Refactoring

#765 Use specific version of markdown-link-check because latest is broken
  Makefile
Labels: :bug: Bug

#763 rest & dump for acl, interfaces, bfd and l2 plugin
  clientv1/linux/dbadapter/data_resync_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
  cmd/agentctl/cmd/clean_cmd.go
  cmd/agentctl/utils/common_utils_test.go
  cmd/agentctl/utils/db_utils.go
  cmd/vpp-agent-ctl/data_cmd.go
  flavors/vpp/vpp_flavor.go
  plugins/rest/README.md
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/aclplugin/data_resync.go
  plugins/vpp/aclplugin/vppcalls/api_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/error_status.go
  plugins/vpp/ifplugin/bfd_config.go
  plugins/vpp/ifplugin/bfd_config_test.go
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/ifaceidx/cache_iface.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/bfd_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/bfd_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/dump_bfd_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_bfd_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls_test.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/data_resync.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/l2plugin/l2idx/cache_bd.go
  plugins/vpp/l2plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/bridge_domain_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/l2fib_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/xconnect_vppcalls_test.go
  plugins/vpp/l2plugin/xconnect_config.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/model/acl/keys_agent_acl.go
  plugins/vpp/model/bfd/keys_agent.go
  plugins/vpp/model/interfaces/keys_agent_interfaces.go
  plugins/vpp/model/l2/keys_agent_l2.go
  plugins/vpp/watch_events.go
Labels: 🔧 Enhancement

#766 fix route dump + rest support
  plugins/rest/README.md
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/l3plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls_test.go
Labels: :bug: Bug, 🔧 Enhancement

#767 Fix parsing parentheses for 'show node counters' in Telemetry
  plugins/govppmux/vppcalls/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpe_vppcalls_test.go
Labels: :bug: Bug

#733 vppcalls api: vpp/srplugin
  plugins/vpp/ifplugin/vppcalls/compat_vppcalls.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/srplugin/data_resync.go
  plugins/vpp/srplugin/srv6_config.go
  plugins/vpp/srplugin/srv6_config_test.go
  plugins/vpp/srplugin/vppcalls/api_vppcalls.go
  plugins/vpp/srplugin/vppcalls/srv6.go
  plugins/vpp/srplugin/vppcalls/srv6_test.go
  tests/vppcallfake/srv6calls.go
Labels: 💡 Refactoring
