Repository ligato/vpp-agent, pull requests merged in 2018-12, with the labels that each got.

#1053 Fix ipv6 localhost
  tests/robot/libraries/etcdctl.robot
Labels: 🔨 testing

#1054 (dev) vmxnet3 support
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/vmxnet3/vmxnet3.ba.go
  plugins/vppv2/ifplugin/descriptor/interface.go
  plugins/vppv2/ifplugin/descriptor/interface_crud.go
  plugins/vppv2/ifplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/vmxnet3_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/vmxnet3_vppcalls_test.go
  plugins/vppv2/model/interfaces/interface.pb.go
  plugins/vppv2/model/interfaces/interface.proto
Labels: 💡 refactoring

#1048 punt plugin (socket register only)
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/json/punt-socket-register.json
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/punt/punt.ba.go
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/model/gen.go
  plugins/vpp/model/punt/keys_punt.go
  plugins/vpp/model/punt/punt.pb.go
  plugins/vpp/model/punt/punt.proto
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/puntplugin/README.md
  plugins/vpp/puntplugin/data_resync.go
  plugins/vpp/puntplugin/punt_config.go
  plugins/vpp/puntplugin/puntidx/puntidx.go
  plugins/vpp/puntplugin/vppcalls/api_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/punt_vpcalls.go
Labels: ⚡️ feature

#1055 Punt improvements
  clientv1/linux/data_change_api.go
  clientv1/linux/data_resync_api.go
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  clientv1/vpp/data_change_api.go
  clientv1/vpp/data_dump_api.go
  clientv1/vpp/data_resync_api.go
  clientv1/vpp/dbadapter/data_change_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
  clientv1/vpp/grpcadapter/data_change_grpc.go
  clientv1/vpp/grpcadapter/data_dump_grpc.go
  clientv1/vpp/grpcadapter/data_resync_grpc.go
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/vpp/model/rpc/rpc.pb.go
  plugins/vpp/model/rpc/rpc.proto
  plugins/vpp/plugin_api_vpp.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/puntplugin/punt_config.go
  plugins/vpp/puntplugin/puntidx/puntidx.go
  plugins/vpp/puntplugin/vppcalls/api_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/punt_vpcalls.go
  plugins/vpp/rpc/services.go
Labels: ⚡️ feature

#1049 IPSec tunnel can be set as unnumbered interface
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/vpp/ipsecplugin/ipsec_config.go
  plugins/vpp/model/ipsec/ipsec.pb.go
  plugins/vpp/model/ipsec/ipsec.proto
Labels: ⚡️ feature

#978 support for data persistence in remote client GRPC
  Gopkg.lock
  app/vpp_agent.go
  plugins/vpp/rpc/README.md
  plugins/vpp/rpc/options.go
  plugins/vpp/rpc/services.go
  vendor/github.com/boltdb/bolt/.gitignore
  vendor/github.com/boltdb/bolt/LICENSE
  vendor/github.com/boltdb/bolt/Makefile
  vendor/github.com/boltdb/bolt/README.md
  vendor/github.com/boltdb/bolt/appveyor.yml
  vendor/github.com/boltdb/bolt/bolt_386.go
  vendor/github.com/boltdb/bolt/bolt_amd64.go
  vendor/github.com/boltdb/bolt/bolt_arm.go
  vendor/github.com/boltdb/bolt/bolt_arm64.go
  vendor/github.com/boltdb/bolt/bolt_linux.go
  vendor/github.com/boltdb/bolt/bolt_openbsd.go
  vendor/github.com/boltdb/bolt/bolt_ppc.go
  vendor/github.com/boltdb/bolt/bolt_ppc64.go
  vendor/github.com/boltdb/bolt/bolt_ppc64le.go
  vendor/github.com/boltdb/bolt/bolt_s390x.go
  vendor/github.com/boltdb/bolt/bolt_unix.go
  vendor/github.com/boltdb/bolt/bolt_unix_solaris.go
  vendor/github.com/boltdb/bolt/bolt_windows.go
  vendor/github.com/boltdb/bolt/boltsync_unix.go
  vendor/github.com/boltdb/bolt/bucket.go
  vendor/github.com/boltdb/bolt/cursor.go
  vendor/github.com/boltdb/bolt/db.go
  vendor/github.com/boltdb/bolt/doc.go
  vendor/github.com/boltdb/bolt/errors.go
  vendor/github.com/boltdb/bolt/freelist.go
  vendor/github.com/boltdb/bolt/node.go
  vendor/github.com/boltdb/bolt/page.go
  vendor/github.com/boltdb/bolt/tx.go
Labels: ⚡️ feature

#1060 (v1.5) removed troubling log & expected error from supervisord script
  docker/prod/supervisord_kill.py
  plugins/govppmux/plugin_impl_govppmux.go
Labels: :bug: bug

#1062 Fix IPv6 localhost
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/libraries/vat_term.robot
  tests/robot/suites/trafficIPv6/ip_route/test1_ip_routeIPv6.robot
Labels: 🔨 testing

#1064 Fix traffic IPv6 dev test
  tests/robot/suites/trafficIPv6/ip_route/test4_ip_routeIPv6.robot
Labels: :bug: bug, 🔨 testing

#1065 fix test for traffic ipv6
  tests/robot/suites/trafficIPv6/ip_route/test4_ip_routeIPv6.robot
Labels: :bug: bug, 🔨 testing

#1066 update VPP to v19.01-rc0~394-g6b4a32de (vpp checkpoint)
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/session/session.ba.go
  vpp.env
Labels: 🔗 dependencies

#1061 vpp-agent-ctl v2
  cmd/vpp-agent-ctlv2/README.md
  cmd/vpp-agent-ctlv2/data/aclplugin.go
  cmd/vpp-agent-ctlv2/data/etcd.go
  cmd/vpp-agent-ctlv2/data/ifplugins.go
  cmd/vpp-agent-ctlv2/data/ipsecplugin.go
  cmd/vpp-agent-ctlv2/data/l2plugin.go
  cmd/vpp-agent-ctlv2/data/l3plugins.go
  cmd/vpp-agent-ctlv2/data/natplugin.go
  cmd/vpp-agent-ctlv2/data/puntplugin.go
  cmd/vpp-agent-ctlv2/data/stnplugin.go
  cmd/vpp-agent-ctlv2/data/vpp-agent-ctl.go
  cmd/vpp-agent-ctlv2/json/acl-macip.json
  cmd/vpp-agent-ctlv2/json/acl-tcp.json
  cmd/vpp-agent-ctlv2/json/acl-udp.json
  cmd/vpp-agent-ctlv2/json/afpacket.json
  cmd/vpp-agent-ctlv2/json/arp-linux.json
  cmd/vpp-agent-ctlv2/json/arp.json
  cmd/vpp-agent-ctlv2/json/bridge-domain-arp.json
  cmd/vpp-agent-ctlv2/json/bridge-domain.json
  cmd/vpp-agent-ctlv2/json/dhcp.json
  cmd/vpp-agent-ctlv2/json/ipsec-sa10.json
  cmd/vpp-agent-ctlv2/json/ipsec-sa20.json
  cmd/vpp-agent-ctlv2/json/ipsec-spd.json
  cmd/vpp-agent-ctlv2/json/ipsec-tunnel.json
  cmd/vpp-agent-ctlv2/json/l2_fib.json
  cmd/vpp-agent-ctlv2/json/linux-tap.json
  cmd/vpp-agent-ctlv2/json/loop.json
  cmd/vpp-agent-ctlv2/json/memif.json
  cmd/vpp-agent-ctlv2/json/nat-dnat.json
  cmd/vpp-agent-ctlv2/json/nat-global.json
  cmd/vpp-agent-ctlv2/json/proxy-arp-interface.json
  cmd/vpp-agent-ctlv2/json/proxy-arp-ranges.json
  cmd/vpp-agent-ctlv2/json/routes-linux-default.json
  cmd/vpp-agent-ctlv2/json/routes-linux-static.json
  cmd/vpp-agent-ctlv2/json/routes.json
  cmd/vpp-agent-ctlv2/json/stn-rule.json
  cmd/vpp-agent-ctlv2/json/tap.json
  cmd/vpp-agent-ctlv2/json/veth1.json
  cmd/vpp-agent-ctlv2/json/veth2.json
  cmd/vpp-agent-ctlv2/json/vxlan.json
  cmd/vpp-agent-ctlv2/main.go
Labels: 💡 refactoring

#1067 kvscheduler REST API improvements
  Gopkg.lock
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_queue.go
  plugins/kvscheduler/txn_record.go
  plugins/kvscheduler/utils_for_test.go
Labels: 🔧 enhancement

#1079 fixed panic if vpp plugin is not defined in rpc plugin
  plugins/vpp/rpc/services.go
Labels: :bug: bug

#1076 punt plugin documentation
  cmd/vpp-agent-ctlv2/json/ip-redirect.json
  cmd/vpp-agent-ctlv2/json/punt-to-host.json
  plugins/vppv2/puntplugin/README.md
Labels: 📜 docs & examples

#1083 Changes in configuration of GoVPP
  docker/dev/exec_agent.sh
  docker/dev/govpp.conf
  docker/dev/supervisord_kill.py
  docker/prod/govpp.conf
  plugins/govppmux/plugin_impl_govppmux.go
Labels: 🔧 enhancement

#1084 ipsec test add wait until
  tests/robot/suites/crud/ipsec_crud.robot
  tests/robot/suites/crudIPv6/ipsec_crudIPv6.robot
Labels: 🔨 testing

#1086 fix arp_crud test
  tests/robot/suites/crud/arp_crud.robot
Labels: 🔨 testing

#1082 kvscheduler: expose transaction history.
  plugins/kvscheduler/api/errors.go
  plugins/kvscheduler/api/kv_scheduler_api.go
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_queue.go
  plugins/kvscheduler/txn_record.go
  plugins/kvscheduler/value_flags.go
Labels: 🔧 enhancement
