Repository ligato/vpp-agent, pull requests merged in 2018-03, with the labels that each got.

#476 set correct namespace parameter if type is microservice_ref_ns
  plugins/linuxplugin/ifplugin/interface_config.go
Labels: bug

#474 docker image improvements
  docker/dev_vpp_agent/Dockerfile
  docker/dev_vpp_agent/README.md
  docker/dev_vpp_agent/agent_start.py
  docker/dev_vpp_agent/supervisord.conf
  docker/dev_vpp_agent/supervisord_kill.py
  docker/prod_vpp_agent/Dockerfile
  docker/prod_vpp_agent/README.md
  docker/prod_vpp_agent/agent_start.py
  docker/prod_vpp_agent/supervisord_kill.py
Labels: enhancement

#472 order by preference - link route
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/linuxplugin/l3plugin/data_resync.go
  plugins/linuxplugin/l3plugin/l3idx/linux_l3_route_index.go
  plugins/linuxplugin/l3plugin/route_config.go
Labels: enhancement

#480 update cn-infra
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_broker_impl.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_watcher_impl.go
Labels: bug

#481 Pantheon dev
  tests/robot/suites/crud/linux_ip_route_crud.robot
  tests/robot/suites/traffic/ip_route/test_ip_route.robot
  tests/robot/suites/traffic/linux_traffic/1x_vpp_3x_namespaces_traffic.robot
Labels: testing

#482 fix linux routes
  plugins/defaultplugins/watch_events.go
  plugins/linuxplugin/ifplugin/data_resync.go
  plugins/linuxplugin/ifplugin/ifaceidx/linux_if_index.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/l3plugin/arp_config.go
  plugins/linuxplugin/l3plugin/data_resync.go
  plugins/linuxplugin/l3plugin/linuxcalls/ns_linuxcalls.go
  plugins/linuxplugin/l3plugin/route_config.go
  plugins/linuxplugin/linuxplugin_init.go
Labels: bug

#484 added network reachability check while reading routes with dst address
  plugins/linuxplugin/l3plugin/data_resync.go
Labels: bug

#485 cached linux route is correctly removed
  plugins/linuxplugin/l3plugin/route_config.go
Labels: bug

#486 tests fixes and improvements
  tests/robot/libraries/docker.robot
  tests/robot/libraries/ssh.robot
  tests/robot/libraries/vpp.robot
  tests/robot/suites/sfc/east-west/vswitch_1x_vpp_1x_novpp/vswitch_1x_vpp_1x_novpp.robot
Labels: testing

#490 fixed unreachable gw check for new interface
  plugins/linuxplugin/l3plugin/route_config.go
Labels: bug

#487 namespace and microservice related code moved to namespace plugin
  plugins/linuxplugin/ifplugin/data_resync.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/ifplugin/linuxcalls/ns_common_linuxcalls.go
  plugins/linuxplugin/ifplugin/linuxcalls/ns_linuxcalls.go
  plugins/linuxplugin/l3plugin/arp_config.go
  plugins/linuxplugin/l3plugin/data_resync.go
  plugins/linuxplugin/l3plugin/linuxcalls/ns_linuxcalls.go
  plugins/linuxplugin/l3plugin/route_config.go
  plugins/linuxplugin/linuxplugin_init.go
  plugins/linuxplugin/nsplugin/microservices.go
  plugins/linuxplugin/nsplugin/namespaces.go
  plugins/linuxplugin/nsplugin/ns_impl.go
  plugins/linuxplugin/watch_events.go
Labels: enhancement

#491 acl_crud tests for ipv6
  tests/robot/suites/crud/acl_crudIPv6.robot
  tests/robot/suites/crud/replyACL/reply_acl1IPv6_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl1IPv6_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl1IPv6_update_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl1IPv6_update_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2IPv6_delete_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2IPv6_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl2IPv6_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl3IPv6_udp.txt
  tests/robot/suites/crud/replyACL/reply_acl3IPv6_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl4IPv6_udp.txt
  tests/robot/suites/crud/replyACL/reply_acl4IPv6_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl5IPv6_icmp.txt
  tests/robot/suites/crud/replyACL/reply_acl5IPv6_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6IPv6_all_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6IPv6_icmp.txt
  tests/robot/suites/crud/replyACL/reply_acl6IPv6_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_aclIPv6_all.txt
  tests/robot/suites/crud/replyACL/reply_aclIPv6_all_term.txt
  tests/robot/suites/crud/test_data/acl_crudIPv6.robot
Labels: testing

#492 linux interface resync: cache interface before checking namespace
  plugins/linuxplugin/ifplugin/data_resync.go
Labels: bug

#493 fixed default namespace initialization
  plugins/linuxplugin/nsplugin/ns_impl.go
Labels: bug

#494 fix6
  tests/robot/suites/crud/afpacket_crudIPv6.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_traffic.robot
Labels: testing

#495 check config before removing obsolete veth peer
  plugins/linuxplugin/ifplugin/interface_config.go
Labels: bug

#499 shg can be set/modified for interfaces
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls_test.go
Labels: bug

#500 cn-infra update
  vendor/github.com/ligato/cn-infra/config/plugin_config.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/watcher.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_broker_impl.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/config.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/plugin_impl_etcdv3.go
Labels: CN-INFRA upgrade

#501 updated .toml and .lock files
  Gopkg.lock
  Gopkg.toml
Labels: CN-INFRA upgrade

#497 veth and afpacket bugfix
  plugins/defaultplugins/ifplugin/afpacket_config.go
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/defaultplugins/ifplugin/interface_config.go
  plugins/defaultplugins/l2plugin/vppdump/dump_vppcalls.go
  plugins/linuxplugin/ifplugin/data_resync.go
  plugins/linuxplugin/nsplugin/microservices.go
Labels: bug

#489 Proxy arp configurator
  clientv1/defaultplugins/data_change_api.go
  clientv1/defaultplugins/data_resync_api.go
  clientv1/defaultplugins/dbadapter/data_change_db.go
  clientv1/defaultplugins/dbadapter/data_resync_db.go
  clientv1/defaultplugins/grpcadapter/data_change_grpc.go
  clientv1/defaultplugins/grpcadapter/data_resync_grpc.go
  clientv1/linux/data_change_api.go
  clientv1/linux/data_resync_api.go
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  cmd/vpp-agent-ctl/json/proxy-arp-interface.json
  cmd/vpp-agent-ctl/json/proxy-arp-ranges.json
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/common/model/l3/keys_agent_l3.go
  plugins/defaultplugins/common/model/l3/l3.pb.go
  plugins/defaultplugins/common/model/l3/l3.proto
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/l3plugin/README.md
  plugins/defaultplugins/l3plugin/arp_proxy_config.go
  plugins/defaultplugins/l3plugin/data_resync.go
  plugins/defaultplugins/l3plugin/vppcalls/proxyarp_vppcalls.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
Labels: feature

#508 fixed removal of linux static route without gateway address
  plugins/linuxplugin/l3plugin/route_config.go
Labels: bug

#510 Optimize production image
  Makefile
  docker/dev_vpp_agent/Dockerfile
  docker/prod_vpp_agent/Dockerfile
  docker/prod_vpp_agent/build.sh
  docker/prod_vpp_agent/extract_agent_files.sh
  docker/prod_vpp_agent/extract_vpp_files.sh
Labels: enhancement

#511 Update cn-infra
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/datasync/kvdbsync/watch_impl.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_broker_impl.go
Labels: CN-INFRA upgrade

#509 vpp route resync comparsion works if weight is not set
  plugins/defaultplugins/l3plugin/data_resync.go
  plugins/linuxplugin/common/model/l3/l3.proto
Labels: bug

#464 IPsec support
  Makefile
  clientv1/defaultplugins/data_change_api.go
  clientv1/defaultplugins/data_resync_api.go
  clientv1/defaultplugins/dbadapter/data_change_db.go
  clientv1/defaultplugins/dbadapter/data_resync_db.go
  clientv1/defaultplugins/grpcadapter/data_change_grpc.go
  clientv1/defaultplugins/grpcadapter/data_resync_grpc.go
  cmd/vpp-agent-ctl/json/ipsec-sa10.json
  cmd/vpp-agent-ctl/json/ipsec-sa20.json
  cmd/vpp-agent-ctl/json/ipsec-spd.json
  docker/dev_vpp_agent/Dockerfile
  docker/prod_vpp_agent/Dockerfile
  plugins/defaultplugins/common/bin_api/ipsec/ipsec.go
  plugins/defaultplugins/common/bin_api/ipsec/pkgreflect.go
  plugins/defaultplugins/common/model/ipsec/ipsec.pb.go
  plugins/defaultplugins/common/model/ipsec/ipsec.proto
  plugins/defaultplugins/common/model/ipsec/keys.go
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/ipsecplugin/README.md
  plugins/defaultplugins/ipsecplugin/data_resync.go
  plugins/defaultplugins/ipsecplugin/ipsec_config.go
  plugins/defaultplugins/ipsecplugin/ipsecidx/spd_index.go
  plugins/defaultplugins/ipsecplugin/vppcalls/ipsec_vppcalls.go
  plugins/defaultplugins/plugin_api_vpp.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
  tests/go/itest/iftst/given.go
  tests/go/itest/iftst/then.go
  tests/go/itest/iftst/when.go
  tests/go/itest/memif_tcs.go
Labels: feature

#515 adding non-bvi interfaces does not crash the agent
  plugins/defaultplugins/l2plugin/bd_config.go
Labels: bug

#516 added ipv6 tests
  tests/robot/libraries/vpp_term.robot
  tests/robot/suites/crud/stn_rule_crud.robot
  tests/robot/suites/crud/stn_rule_crudIPv6.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_trafficIPv6.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_traffic_other_vrfIPv6.robot
  tests/robot/variables/ccmts_vm_variables.robot
Labels: testing

#514 Separate vpp channel for dumping ACLs and NATs
  plugins/defaultplugins/aclplugin/acl_config.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls.go
  plugins/linuxplugin/data_change.go
  plugins/linuxplugin/data_resync.go
Labels: bug

#517 add af-packet interface to lacal cache during resync
  plugins/defaultplugins/ifplugin/data_resync.go
Labels: bug

#519 cn-infra update (b1d7b65)
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/idxmap/api.go
  vendor/github.com/ligato/cn-infra/idxmap/mem/inmemory_name_mapping.go
Labels: CN-INFRA upgrade

#518 update metadata for name-to-idx mapping
  idxvpp/api.go
  idxvpp/nametoidx/inmemory_name_to_idx_mapping.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index_test.go
Labels: enhancement

#520 do not register unknown veths during resync
  plugins/linuxplugin/ifplugin/data_resync.go
Labels: bug

#507 refactored vpp-agent-ctl
  cmd/README.md
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/etcd.go
  cmd/vpp-agent-ctl/main.go
  cmd/vpp-agent-ctl/topology/static_routing.sh
  cmd/vpp-agent-ctl/topology/topology.sh
  cmd/vpp-agent-ctl/topology/topology_modify.sh
  cmd/vpp-agent-ctl/topology/topology_xcon.sh
  cmd/vpp-agent-ctl/topology/topology_xcon_modify.sh
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  docker/dev_vpp_agent/README.md
  plugins/defaultplugins/aclplugin/README.md
  plugins/defaultplugins/aclplugin/vppcalls/acl_vppcalls.go
  plugins/defaultplugins/ifplugin/README.md
  plugins/defaultplugins/ipsecplugin/README.md
  plugins/defaultplugins/l2plugin/README.md
  plugins/defaultplugins/l3plugin/README.md
  plugins/defaultplugins/l4plugin/README.md
  plugins/linuxplugin/README.md
Labels: enhancement

#522 updated changelog for new release
  CHANGELOG.md
Labels: WORK IN PROGRESS, release

#521 Synchronize watch events with mutex
  flavors/vpp/vpp_flavor.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
  plugins/linuxplugin/linuxplugin_init.go
  plugins/linuxplugin/watch_events.go
Labels: enhancement

#524 Fix vpp-agent-ctl
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/etcd.go
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
Labels: bug

#526 Strip go binaries in production image
  Makefile
  docker/prod_vpp_agent/Dockerfile
Labels: enhancement

#531 fixes in tests
  tests/robot/libraries/docker.robot
  tests/robot/suites/crud/linux_arp_crud.robot
  tests/robot/suites/misc/etcd_clear.robot
  tests/robot/suites/sfc/test_controller_start/controller_start.robot
Labels: testing

#532 dnat static/identity mapping modify based on diff
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/vppcalls/nat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/nat_vppcalls_test.go
  plugins/defaultplugins/plugin_impl_vpp.go
Labels: enhancement

#533 Release v1.3
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  Makefile
  docker/dev_vpp_agent/Dockerfile
  docker/dev_vpp_agent/build-agent.sh
  docker/prod_vpp_agent/Dockerfile
  tests/robot/libraries/docker.robot
  tests/robot/suites/crud/linux_arp_crud.robot
  tests/robot/suites/misc/etcd_clear.robot
  tests/robot/suites/sfc/test_controller_start/controller_start.robot
Labels: release

#536 update govpp
  Gopkg.lock
  Gopkg.toml
  plugins/defaultplugins/l2plugin/vppcalls/arp_term_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppcalls/bridge_domain_vppcalls_test.go
  vendor/git.fd.io/govpp.git/adapter/mock/mock_adapter.go
  vendor/git.fd.io/govpp.git/api/api.go
  vendor/git.fd.io/govpp.git/core/msg_codec.go
  vendor/git.fd.io/govpp.git/core/request_handler.go
Labels: testing

#538 fixes in tests
  tests/robot/libraries/setup-teardown.robot
  tests/robot/suites/crud/memif_crud.robot
Labels: testing

#541 update readme for examples
  examples/README.md
Labels: docs & examples
