Repository ligato/vpp-agent, pull requests merged in 2018-08, with the labels that each got.

#770 comment out examples to enable build
  examples/govpp_call/deps.go
  examples/govpp_call/main.go
  examples/grpc_vpp/notifications/main.go
  examples/grpc_vpp/remote_client/main.go
  examples/idx_bd_cache/deps.go
  examples/idx_bd_cache/main.go
  examples/idx_iface_cache/deps.go
  examples/idx_iface_cache/main.go
  examples/idx_mapping_lookup/deps.go
  examples/idx_mapping_lookup/main.go
  examples/idx_mapping_watcher/deps.go
  examples/idx_mapping_watcher/main.go
  examples/idx_veth_cache/deps.go
  examples/idx_veth_cache/main.go
  examples/localclient_linux/tap/main.go
  examples/localclient_linux/veth/main.go
  examples/localclient_vpp/nat/main.go
  examples/localclient_vpp/plugins/main.go
Labels: 📜 Docs

#771 fix plugin loading order
  app/vpp_agent.go
  plugins/vpp/data_resync.go
  plugins/vpp/plugin_impl_vpp.go
Labels: :bug: Bug

#768 rest support for nat, ipsec, l3 and l4 plugin
  clientv1/vpp/dbadapter/data_change_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
  cmd/agentctl/utils/common_utils_test.go
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  plugins/rest/README.md
  plugins/rest/bindata.go
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/rest/templates/index.tmpl
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/stn_config.go
  plugins/vpp/ifplugin/stn_config_test.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_nat_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_nat_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/dump_stn_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/stn_vppcalls_test.go
  plugins/vpp/ipsecplugin/ipsec_config.go
  plugins/vpp/ipsecplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l3plugin/arp_config.go
  plugins/vpp/l3plugin/arp_proxy_config.go
  plugins/vpp/l3plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/arp_dump.go
  plugins/vpp/l3plugin/vppcalls/arp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/proxyarp_dump.go
  plugins/vpp/l3plugin/vppcalls/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/route_dump.go
  plugins/vpp/l3plugin/vppcalls/route_dump_test.go
  plugins/vpp/l4plugin/appns_config.go
  plugins/vpp/l4plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l4plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/model/l3/keys_agent_l3.go
  plugins/vpp/model/l4/keys_agent_l4.go
  plugins/vpp/model/nat/keys_nat.go
  plugins/vpp/model/stn/keys_agent_stn.go
Labels: 🔧 Enhancement

#772 Cleanup tests and use latest dep
  Gopkg.lock
  Makefile
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls_test.go
  plugins/vpp/srplugin/srv6_config_test.go
  plugins/vpp/srplugin/srv6calls_test.go
  plugins/vpp/srplugin/vppcalls/srv6_test.go
  tests/vppcallmock/vpp_ctx_mock.go
  vendor/github.com/gorilla/mux/.travis.yml
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/middleware.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/route.go
  vendor/github.com/gorilla/mux/test_helpers.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_agpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_apache_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_lgpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_mit.go
  vendor/github.com/spf13/cobra/cobra/cmd/licenses.go
Labels: 💡 Refactoring

#776 fixed l4 prefixes
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/model/l4/keys_agent_l4.go
Labels: :bug: Bug

#775 example cleanup
  app/vpp_agent.go
  examples/govpp_call/deps.go
  examples/govpp_call/main.go
  examples/grpc_vpp/notifications/main.go
  examples/grpc_vpp/remote_client/main.go
  examples/idx_bd_cache/deps.go
  examples/idx_bd_cache/main.go
  examples/idx_iface_cache/deps.go
  examples/idx_iface_cache/main.go
  examples/idx_mapping_lookup/deps.go
  examples/idx_mapping_lookup/main.go
  examples/idx_mapping_watcher/deps.go
  examples/idx_mapping_watcher/main.go
  examples/idx_veth_cache/deps.go
  examples/idx_veth_cache/main.go
  examples/localclient_linux/tap/main.go
  examples/localclient_linux/veth/main.go
  examples/localclient_vpp/nat/main.go
  examples/localclient_vpp/plugins/main.go
  plugins/linux/ifplugin/ifaceidx/iface_cache.go
Labels: 📜 Docs

#769 nat virtual reassembly
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/json/nat-global.json
  plugins/rest/rest_handlers.go
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/nat_config_test.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_nat_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls_test.go
  plugins/vpp/model/nat/nat.pb.go
  plugins/vpp/model/nat/nat.proto
Labels: ⚡️ Feature

#780 switch to namespace handles IPv6 addresses
  plugins/linux/ifplugin/data_resync.go
  plugins/linux/nsplugin/ns_handler.go
  plugins/linux/nsplugin/ns_handler_test.go
  plugins/linux/nsplugin/system_api.go
  tests/linuxmock/netlink_if_handler_mock.go
  tests/linuxmock/system_mock.go
Labels: :bug: Bug

#778 drop-type routes support
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/l3plugin/route_config_test.go
  plugins/vpp/l3plugin/route_utils.go
  plugins/vpp/l3plugin/route_utils_test.go
  plugins/vpp/l3plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/route_dump.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/route_vppcalls_test.go
  plugins/vpp/model/l3/l3.pb.go
  plugins/vpp/model/l3/l3.proto
Labels: ⚡️ Feature

#782 fixed nat resync resolution for static mapping with lb
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/export_test.go
Labels: :bug: Bug

#781 l3 ip scan neighbor
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/ip_neigh_config.go
  plugins/vpp/l3plugin/vppcalls/api_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/ipneigh_vppcalls.go
  plugins/vpp/model/l3/keys_agent_l3.go
  plugins/vpp/model/l3/l3.pb.go
  plugins/vpp/model/l3/l3.proto
  plugins/vpp/plugin_impl_vpp.go
Labels: ⚡️ Feature

#785 dhcp support added to interface dump
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls_test.go
Labels: 🔧 Enhancement

#792 Update README.md
  plugins/rest/README.md
Labels: 📜 Docs

#791 Use Ubuntu 18.04 as base for docker image
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/prod/Dockerfile
Labels: ⚡️ Feature

#793 added probe plugin to enable liveness/readiness
  app/vpp_agent.go
Labels: :bug: Bug

#794 fix deps
  Gopkg.lock
Labels: 🔗 Deps update

#797 Update GoVPP with fix for decoding other type of notification messages
  Gopkg.lock
  Gopkg.toml
  vendor/git.fd.io/govpp.git/codec/msg_codec.go
  vendor/git.fd.io/govpp.git/core/notification_handler.go
Labels: :bug: Bug, 🔗 Deps update

#798 [contiv-1807] Update GoVPP with fix for decoding other type of notification messages
  Gopkg.lock
  Gopkg.toml
  vendor/git.fd.io/govpp.git/codec/msg_codec.go
  vendor/git.fd.io/govpp.git/core/notification_handler.go
Labels: :bug: Bug, 🔗 Deps update

#799 Use short names for linux/vpp plugins with "-plugin" suffix for conf files
  plugins/linux/options.go
  plugins/vpp/options.go
Labels: 🔧 Enhancement

#801 Fix issue with VPP CLI in robot tests
  tests/robot/libraries/vpp_term.robot
Labels: :bug: Bug, 🔨 Testing

#807 fixed vxlan delete for entries with vrf != 0
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vxlan_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vxlan_vppcalls_test.go
Labels: :bug: Bug

#813 Fix Bug with new line
  tests/robot/libraries/basic_operations.py
  tests/robot/libraries/vpp_term.robot
Labels: :bug: Bug, 🔨 Testing

#815 Inter vrf routing test
  tests/robot/libraries/pretty_keywords.robot
  tests/robot/libraries/vpp_ctl.robot
  tests/robot/resources/route_to_other_vrf.json
  tests/robot/suites/crud/inter_vrf_routing_crud.robot
  tests/robot/suites/crudIPv6/inter_vrf_routing_crud_ipv6.robot
  tests/robot/suites/traffic/ip_route/test_inter_vrf_routes.robot
  tests/robot/suites/trafficIPv6/ip_route/test_inter_vrf_routes_ipv6.robot
Labels: 🔨 Testing

#817 fixed route resync resolution for zero next hop IP
  plugins/vpp/l3plugin/data_resync.go
Labels: :bug: Bug

#800 ifconfig + afpacket: error propagation, removed redundant logs
  Gopkg.lock
  Gopkg.toml
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/ifplugin/afpacket_config.go
  plugins/vpp/ifplugin/afpacket_config_test.go
  plugins/vpp/ifplugin/bfd_config.go
  plugins/vpp/ifplugin/bfd_config_test.go
  plugins/vpp/ifplugin/data_resync.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/export_test.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/interface_config_test.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/interface_state_test.go
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/ifplugin/nat_config_test.go
  plugins/vpp/ifplugin/stn_config.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/watch_events.go
  vendor/github.com/go-errors/errors/LICENSE.MIT
  vendor/github.com/go-errors/errors/error.go
  vendor/github.com/go-errors/errors/parse_panic.go
  vendor/github.com/go-errors/errors/stackframe.go
Labels: 💡 Refactoring

#833 Merge master into pantheon-dev
  CHANGELOG.md
  Gopkg.lock
  vendor/github.com/ligato/cn-infra/.github/dco.yml
  vendor/github.com/ligato/cn-infra/.travis.yml
  vendor/github.com/ligato/cn-infra/.yamllint.yml
  vendor/github.com/ligato/cn-infra/CHANGELOG.md
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/Makefile
  vendor/github.com/ligato/cn-infra/examples/cassandra-lib/client-config.yaml
  vendor/github.com/ligato/cn-infra/examples/redis-lib/cluster-client.yaml
  vendor/github.com/ligato/cn-infra/examples/redis-lib/node-client.yaml
  vendor/github.com/ligato/cn-infra/examples/redis-lib/sentinel-client.yaml
Labels: 🌟 Release

#837 Update CHANGELOG
  CHANGELOG.md
Labels: 📜 Docs

#831 l2-plugin: logs & errors
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/l2plugin/bd_config.go
  plugins/vpp/l2plugin/bd_config_test.go
  plugins/vpp/l2plugin/bd_state.go
  plugins/vpp/l2plugin/bd_state_test.go
  plugins/vpp/l2plugin/data_resync.go
  plugins/vpp/l2plugin/fib_config.go
  plugins/vpp/l2plugin/xconnect_config.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/watch_events.go
Labels: 💡 Refactoring

#829 acl-plugin: logs & errors
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/aclplugin/acl_config_test.go
  plugins/vpp/aclplugin/data_resync.go
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/watch_events.go
Labels: 💡 Refactoring

#830 ipsec-plugin: logs & errors
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/ipsecplugin/data_resync.go
  plugins/vpp/ipsecplugin/ipsec_config.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/watch_events.go
Labels: 💡 Refactoring

#832 l3/l4-plugin: logs & errors
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/ifplugin/nat_config.go
  plugins/vpp/l3plugin/arp_config.go
  plugins/vpp/l3plugin/arp_proxy_config.go
  plugins/vpp/l3plugin/data_resync.go
  plugins/vpp/l3plugin/ip_neigh_config.go
  plugins/vpp/l3plugin/route_config.go
  plugins/vpp/l4plugin/appns_config.go
  plugins/vpp/l4plugin/data_resync.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/watch_events.go
Labels: 💡 Refactoring

#834 sr-plugin: logs & errors
  plugins/vpp/data_change.go
  plugins/vpp/data_resync.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/srplugin/data_resync.go
  plugins/vpp/srplugin/srv6_config.go
Labels: 💡 Refactoring

#835 linux-plugin: logs & errors
  plugins/linux/data_change.go
  plugins/linux/data_resync.go
  plugins/linux/ifplugin/data_resync.go
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_config_test.go
  plugins/linux/ifplugin/interface_state.go
  plugins/linux/l3plugin/arp_config.go
  plugins/linux/l3plugin/data_resync.go
  plugins/linux/l3plugin/route_config.go
  plugins/linux/linuxplugin_init.go
  plugins/linux/nsplugin/microservices.go
  plugins/linux/nsplugin/namespaces.go
  plugins/linux/nsplugin/ns_handler.go
  plugins/linux/watch_events.go
Labels: 💡 Refactoring

#847 fix linux tap host/temp name
  plugins/linux/ifplugin/interface_config.go
Labels: :bug: bug

#848 fix incorrect linux tap error propagation
  examples/localclient_linux/tap/main.go
  plugins/linux/ifplugin/interface_config.go
  plugins/linux/ifplugin/interface_config_test.go
  plugins/vpp/ifplugin/interface_state.go
Labels: :bug: bug
