Repository ligato/vpp-agent, pull requests merged in 2018-04, with the labels that each got.

#542 Configurable govpp reply timeout
  docker/dev_vpp_agent/govpp.conf
  docker/prod_vpp_agent/govpp.conf
  plugins/govppmux/README.md
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/vppcalls/vpe_vppcalls.go
Labels: enhancement

#543 nat configuration example
  .gitignore
  Makefile
  examples/README.md
  examples/localclient_vpp/doc.go
  examples/localclient_vpp/nat/doc.go
  examples/localclient_vpp/nat/main.go
  examples/localclient_vpp/plugins/doc.go
  examples/localclient_vpp/plugins/main.go
Labels: docs & examples

#539 defaultplugins/l2plugin unit tests
  examples/remoteclient_grpc_vpp/main.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index_test.go
  plugins/defaultplugins/l2plugin/data_resync.go
  plugins/defaultplugins/l2plugin/fib_config.go
  plugins/defaultplugins/l2plugin/vppcalls/arp_term_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppcalls/bridge_domain_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/bridge_domain_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppcalls/compat_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppcalls/l2fib_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/l2fib_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppcalls/xconnect_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/xconnect_vppcalls_test.go
  plugins/defaultplugins/l2plugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/l2plugin/vppdump/dump_vppcalls_test.go
  plugins/defaultplugins/l2plugin/xconnect_config.go
  plugins/restplugin/rest_handlers.go
Labels: testing

#534 defaultplugins/ifplugin unit tests
  Makefile
  plugins/defaultplugins/ifplugin/afpacket_config.go
  plugins/defaultplugins/ifplugin/afpacket_config_test.go
  plugins/defaultplugins/ifplugin/bfd_config.go
  plugins/defaultplugins/ifplugin/bfd_config_test.go
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/defaultplugins/ifplugin/ifaceidx/sw_if_index.go
  plugins/defaultplugins/ifplugin/interface_config.go
  plugins/defaultplugins/ifplugin/interface_config_test.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/nat_config_test.go
  plugins/defaultplugins/ifplugin/stn_config.go
  plugins/defaultplugins/ifplugin/stn_config_test.go
  plugins/defaultplugins/ifplugin/vppcalls/bfd_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/compat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/dhcp_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/ip_container_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/ip_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/loopback_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/mac_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/memif_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/mtu_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/rx_mode_vppcals.go
  plugins/defaultplugins/ifplugin/vppcalls/stn_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/tap_vppcals.go
  plugins/defaultplugins/ifplugin/vppcalls/vpp_channel.go
  plugins/defaultplugins/ifplugin/vppcalls/vrf_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/vxlan_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
  tests/vppcallmock/vpp_ctx_mock.go
Labels: testing

#544 refactored fib configurator
  cmd/vpp-agent-ctl/data_cmd.go
  examples/idx_bd_cache/main.go
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/l2plugin/bd_state.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index.go
  plugins/defaultplugins/l2plugin/bdidx/bd_index_test.go
  plugins/defaultplugins/l2plugin/bdidx/fib_index.go
  plugins/defaultplugins/l2plugin/data_resync.go
  plugins/defaultplugins/l2plugin/fib_config.go
  plugins/defaultplugins/plugin_api_vpp.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
Labels: bug, refactoring

#546 cn-infra update (461693b)
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/datasync/resync/plugin_impl_resync.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/plugin_impl_etcdv3.go
  vendor/github.com/ligato/cn-infra/flavors/connectors/all_connectors_flavor.go
  vendor/github.com/ligato/cn-infra/utils/addrs/ip.go
Labels: CN-INFRA upgrade

#547 vppcalls unit tests - admin, af-packet, bfd
  plugins/defaultplugins/ifplugin/vppcalls/admin_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/afpacket_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/bfd_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/bfd_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/nat_vppcalls_test.go
Labels: testing

#551 upadted cn-infra
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_watcher_impl.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/config.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/plugin_impl_etcdv3.go
  vendor/github.com/ligato/cn-infra/db/sql/cassandra/query.go
  vendor/github.com/ligato/cn-infra/messaging/messaging_api.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_impl_grpc.go
  vendor/github.com/ligato/cn-infra/rpc/rest/config.go
  vendor/github.com/ligato/cn-infra/rpc/rest/plugin_impl_fork.go
Labels: CN-INFRA upgrade

#553 Fix log level for error message
  plugins/defaultplugins/l2plugin/vppcalls/l2fib_vppcalls.go
Labels: bug

#554 fix for l2fib interface/bridge domain resolution
  plugins/defaultplugins/l2plugin/fib_config.go
Labels: bug

#549 refactored grpc adapter
  .gitignore
  Makefile
  clientv1/defaultplugins/grpcadapter/data_change_grpc.go
  clientv1/defaultplugins/grpcadapter/data_resync_grpc.go
  clientv1/defaultplugins/remoteclient/remoteclient_api.go
  examples/remoteclient_grpc_vpp/main.go
  flavors/rpc/rpc_flavor.go
  plugins/defaultplugins/common/model/rpc/doc.go
  plugins/defaultplugins/common/model/rpc/rpc.pb.go
  plugins/defaultplugins/common/model/rpc/rpc.proto
  plugins/defaultplugins/rpc/services.go
Labels: refactoring

#552 Fix govpp
  Gopkg.lock
  Gopkg.toml
  vendor/git.fd.io/govpp.git/core/request_handler.go
Labels: bug

#556 fixed scope definition for linux routes
  plugins/linuxplugin/l3plugin/linuxcalls/route_linuxcalls.go
  plugins/linuxplugin/l3plugin/route_config.go
Labels: bug

#557 Support for IPSec tunnel interfaces
  plugins/defaultplugins/common/model/ipsec/ipsec.pb.go
  plugins/defaultplugins/common/model/ipsec/ipsec.proto
  plugins/defaultplugins/common/model/ipsec/keys.go
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/ipsecplugin/data_resync.go
  plugins/defaultplugins/ipsecplugin/ipsec_config.go
  plugins/defaultplugins/ipsecplugin/vppcalls/ipsec_vppcalls.go
  tests/go/itest/memif_tcs.go
Labels: feature

#558 Fix setting VRF for IPSec tunnel
  plugins/defaultplugins/ipsecplugin/ipsec_config.go
Labels: bug

#561 cn-infra update
  Gopkg.lock
  Gopkg.toml
  cmd/agentctl/utils/common_utils.go
  cmd/vpp-agent-ctl/etcd.go
  vendor/github.com/ligato/cn-infra/datasync/aggregator.go
  vendor/github.com/ligato/cn-infra/datasync/datasync_api.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/watcher.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/config.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/plugin_impl_etcdv3.go
  vendor/github.com/ligato/cn-infra/db/keyval/plugin/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/plugin/doc.go
  vendor/github.com/ligato/cn-infra/db/keyval/plugin/skeleton.go
  vendor/github.com/ligato/cn-infra/db/keyval/redis/config.go
  vendor/github.com/ligato/cn-infra/db/keyval/redis/plugin_impl_redis.go
Labels: CN-INFRA upgrade

#560 Cleanup ACL model and its code
  clientv1/defaultplugins/grpcadapter/data_change_grpc.go
  clientv1/defaultplugins/grpcadapter/data_resync_grpc.go
  cmd/vpp-agent-ctl/data_cmd.go
  examples/localclient_vpp/plugins/main.go
  examples/remoteclient_grpc_vpp/main.go
  plugins/defaultplugins/aclplugin/acl_config.go
  plugins/defaultplugins/aclplugin/data_resync.go
  plugins/defaultplugins/aclplugin/vppcalls/acl_vppcalls.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls_test.go
  plugins/defaultplugins/common/model/acl/acl.pb.go
  plugins/defaultplugins/common/model/acl/acl.proto
  plugins/defaultplugins/common/model/acl/pkgreflect.go
  plugins/defaultplugins/rpc/services.go
  plugins/restplugin/rest_handlers.go
Labels: refactoring

#571 add initial basic K8 support for testing
  tests/robot/libraries/KubeAdm.robot
  tests/robot/libraries/KubeCtl.robot
  tests/robot/libraries/KubeEnv.robot
  tests/robot/libraries/KubeEnvConnections.robot
  tests/robot/libraries/SshCommons.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/resources/k8-yaml/etcd_k8.yaml
  tests/robot/resources/k8-yaml/kafka-k8.yaml
  tests/robot/resources/k8-yaml/sfc-k8.yaml
  tests/robot/resources/k8-yaml/vnf-k8-agent-cfg.yaml
  tests/robot/resources/k8-yaml/vnf-k8-vpp-cfg.yaml
  tests/robot/resources/k8-yaml/vnf-k8.yaml
  tests/robot/resources/k8-yaml/vswitch-k8.yaml
  tests/robot/suites/integration/ccmts/simple_topo_restarts.robot
  tests/robot/variables/jozo_local_variables.robot
Labels: testing

#570 added more unit tests for ifplugin vppcalls
  plugins/defaultplugins/ifplugin/vppcalls/admin_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/afpacket_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/bfd_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/dhcp_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/ip_container_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/ip_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/loopback_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/mac_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/memif_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/mtu_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/rx_mode_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/rx_mode_vppcalls_test.go
Labels: testing

#572 switch.yaml
  tests/robot/resources/k8-yaml/vswitch-k8.yaml
Labels: testing

#574 added even more unit tests to ifplugin vppcalls
  plugins/defaultplugins/ifplugin/stn_config.go
  plugins/defaultplugins/ifplugin/vppcalls/stn_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/stn_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/tap_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/tap_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/vrf_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/vrf_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/vxlan_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppdump/dump_stn_vppcalls.go
Labels: testing

#577 fix1
  tests/robot/libraries/KubeEnvConnections.robot
  tests/robot/resources/k8-yaml/dev-cn-infra-k8.yaml
  tests/robot/suites/integration/ccmts/simple_topo_restarts.robot
Labels: testing

#578 fix2
  tests/robot/libraries/KubeEnvConnections.robot
  tests/robot/libraries/all_libs.robot
  tests/robot/suites/integration/ccmts/simple_topo_restarts.robot
Labels: testing

#575 add test cases for vpp interface plugin
  plugins/defaultplugins/ifplugin/interface_config.go
  plugins/defaultplugins/ifplugin/interface_config_test.go
  plugins/defaultplugins/ifplugin/vppcalls/rx_mode_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/rx_mode_vppcalls_test.go
Labels: testing

#582 fix6
  tests/robot/libraries/SshCommons.robot
  tests/robot/libraries/setup-teardown.robot
Labels: testing

#591 fix7
  tests/robot/libraries/KubeEnv.robot
  tests/robot/libraries/SshCommons.robot
  tests/robot/suites/integration/ccmts/simple_topo_restarts.robot
  tests/robot/variables/ccmts_vm_variables.robot
Labels: testing
