Repository ligato/vpp-agent, pull requests merged in 2018-05, with the labels that each got.

#592 support for vpp shared memory prefix
  Gopkg.lock
  Gopkg.toml
  plugins/govppmux/README.md
  plugins/govppmux/adapter_stubs.go
  plugins/govppmux/adapter_vppapiclient.go
  plugins/govppmux/govpp.conf
  plugins/govppmux/plugin_impl_govppmux.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/vppapiclient_adapter.go
Labels: feature

#598 improved l2 xconnect configurator
  Makefile
  cmd/vpp-agent-ctl/data_cmd.go
  examples/idx_bd_cache/main.go
  plugins/defaultplugins/ifplugin/interface_config_test.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/bd_state.go
  plugins/defaultplugins/l2plugin/data_resync.go
  plugins/defaultplugins/l2plugin/fib_config.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index_test.go
  plugins/defaultplugins/l2plugin/l2idx/cache_bd.go
  plugins/defaultplugins/l2plugin/l2idx/doc.go
  plugins/defaultplugins/l2plugin/l2idx/fib_index.go
  plugins/defaultplugins/l2plugin/l2idx/xc_index.go
  plugins/defaultplugins/l2plugin/vppcalls/vpp_channel.go
  plugins/defaultplugins/l2plugin/vppcalls/xconnect_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/xconnect_vppcalls_test.go
  plugins/defaultplugins/l2plugin/xconnect_config.go
  plugins/defaultplugins/l2plugin/xconnect_config_test.go
  plugins/defaultplugins/plugin_api_vpp.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
Labels: bug, refactoring, testing

#595 Bug fixes from the Contiv branch
  Makefile
  plugins/defaultplugins/aclplugin/acl_config.go
  plugins/defaultplugins/aclplugin/acl_config_test.go
  plugins/defaultplugins/aclplugin/data_resync.go
  plugins/defaultplugins/aclplugin/vppcalls/acl_vppcalls.go
  plugins/defaultplugins/aclplugin/vppcalls/vpp_channel.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls_test.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls_test.go
Labels: bug

#596 support for grpc plugin in vpp flavor
  Gopkg.lock
  Gopkg.toml
  Makefile
  cmd/vpp-agent-grpc/main.go
  flavors/rpc/rpc_flavor.go
  flavors/vpp/vpp_flavor.go
  plugins/defaultplugins/ifplugin/bfd_config.go
  plugins/defaultplugins/rpc/services.go
  vendor/github.com/ligato/cn-infra/db/keyval/redis/plugin_impl_redis.go
  vendor/github.com/ligato/cn-infra/flavors/rpc/rpc_flavor.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/config.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_impl_grpc.go
Labels: CN-INFRA upgrade, enhancement

#599 stream vpp notifications with grpc
  .gitignore
  Gopkg.lock
  Gopkg.toml
  Makefile
  examples/README.md
  examples/grpc_vpp/notifications/README.md
  examples/grpc_vpp/notifications/doc.go
  examples/grpc_vpp/notifications/main.go
  examples/grpc_vpp/remote_client/README.md
  examples/grpc_vpp/remote_client/doc.go
  examples/grpc_vpp/remote_client/main.go
  examples/remoteclient_grpc_vpp/README.md
  examples/remoteclient_grpc_vpp/doc.go
  flavors/vpp/vpp_flavor.go
  plugins/defaultplugins/common/model/interfaces/interfaces.pb.go
  plugins/defaultplugins/common/model/interfaces/interfaces.proto
  plugins/defaultplugins/common/model/interfaces/notifications.go
  plugins/defaultplugins/common/model/rpc/rpc.pb.go
  plugins/defaultplugins/common/model/rpc/rpc.proto
  plugins/defaultplugins/ifplugin/interface_state.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/publish.go
  plugins/defaultplugins/rpc/grpc_api.go
  plugins/defaultplugins/rpc/notifications.go
  plugins/defaultplugins/rpc/notifications_test.go
  plugins/defaultplugins/rpc/services.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/config.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/listen_and_serve.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_api_grpc.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/plugin_impl_grpc.go
Labels: CN-INFRA upgrade, feature

#609 fixed shg if interface is created after bridge domain
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/data_resync.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls_test.go
Labels: bug

#613 fill 'instance' for vxlan api call
  plugins/defaultplugins/ifplugin/vppcalls/vxlan_vppcalls.go
Labels: bug

#616 more fixes for acl tests
  tests/robot/resources/acl_ICMP.json
  tests/robot/resources/acl_MACIP.json
  tests/robot/resources/acl_TCP.json
  tests/robot/resources/acl_UDP.json
  tests/robot/suites/crud/replyACL/reply_acl4_udp.txt
Labels: testing

#597 Telemetry plugin
  Gopkg.lock
  Makefile
  flavors/vpp/vpp_flavor.go
  plugins/govppmux/vppcalls/vpe_vppcalls.go
  plugins/restplugin/bindata.go
  plugins/restplugin/plugin_impl_rest.go
  plugins/restplugin/rest_handlers.go
  plugins/restplugin/templates/index.tmpl
  plugins/telemetry/README.md
  plugins/telemetry/telemetry.go
  vendor/github.com/elazarl/go-bindata-assetfs/LICENSE
  vendor/github.com/elazarl/go-bindata-assetfs/README.md
  vendor/github.com/elazarl/go-bindata-assetfs/assetfs.go
  vendor/github.com/elazarl/go-bindata-assetfs/doc.go
Labels: feature

#619 Set proper names for runtime thread info
  plugins/govppmux/vppcalls/vpe_vppcalls.go
Labels: bug

#605 Add unit tests for vpp/ifplugin: ifaceidx + vppdump
  plugins/defaultplugins/ifplugin/ifaceidx/dhcp_index_test.go
  plugins/defaultplugins/ifplugin/ifaceidx/sw_if_index_test.go
  plugins/defaultplugins/ifplugin/vppdump/dump_vppcalls_test.go
Labels: testing

#623 fixed tests for release
  docker/dev_vpp_agent/Dockerfile
  docker/prod_vpp_agent/Dockerfile
  tests/robot/suites/crud/l2xconnect_crud.robot
  tests/robot/suites/crud/loopback_crud.robot
Labels: testing

#610 Added support for segment routing
  Makefile
  plugins/defaultplugins/README.md
  plugins/defaultplugins/common/bin_api/sr/pkgreflect.go
  plugins/defaultplugins/common/bin_api/sr/sr.go
  plugins/defaultplugins/common/model/srv6/keys_agent_srv6.go
  plugins/defaultplugins/common/model/srv6/srv6.pb.go
  plugins/defaultplugins/common/model/srv6/srv6.proto
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/srplugin/README.md
  plugins/defaultplugins/srplugin/cache/doc.go
  plugins/defaultplugins/srplugin/cache/policy.go
  plugins/defaultplugins/srplugin/cache/policysegment.go
  plugins/defaultplugins/srplugin/cache/steering.go
  plugins/defaultplugins/srplugin/srv6_config.go
  plugins/defaultplugins/srplugin/srv6_config_test.go
  plugins/defaultplugins/srplugin/vppcalls/doc.go
  plugins/defaultplugins/srplugin/vppcalls/srv6.go
  plugins/defaultplugins/srplugin/vppcalls/srv6_test.go
  plugins/defaultplugins/srplugin/vppcalls/vpp_channel.go
  tests/vppcallfake/srv6calls.go
Labels: feature

#626 Telemetry fixes and improvements
  plugins/govppmux/vppcalls/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpe_vppcalls_test.go
  plugins/telemetry/README.md
  plugins/telemetry/telemetry.go
Labels: bug, enhancement

#628 updated cn-infra to 53d9f11
  Gopkg.lock
  Gopkg.toml
  examples/idx_bd_cache/main.go
  examples/idx_iface_cache/main.go
  examples/idx_mapping_lookup/main.go
  examples/idx_mapping_watcher/main.go
  idxvpp/nametoidx/inmemory_name_to_idx_mapping.go
  idxvpp/nametoidx/inmemory_scenario_test.go
  plugins/defaultplugins/aclplugin/vppdump/dump_vppcalls_test.go
  plugins/defaultplugins/ifplugin/afpacket_config_test.go
  plugins/defaultplugins/ifplugin/bfd_config.go
  plugins/defaultplugins/ifplugin/bfd_config_test.go
  plugins/defaultplugins/ifplugin/ifaceidx/cache_iface.go
  plugins/defaultplugins/ifplugin/interface_config.go
  plugins/defaultplugins/ifplugin/interface_config_test.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/nat_config_test.go
  plugins/defaultplugins/ifplugin/stn_config.go
  plugins/defaultplugins/ifplugin/stn_config_test.go
  plugins/defaultplugins/ifplugin/vppcalls/bfd_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppdump/dump_vppcalls_test.go
  plugins/defaultplugins/l2plugin/fib_config.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index_test.go
  plugins/defaultplugins/l2plugin/l2idx/cache_bd.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/defaultplugins/l2plugin/xconnect_config.go
  plugins/defaultplugins/l2plugin/xconnect_config_test.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/srplugin/cache/policy.go
  plugins/defaultplugins/srplugin/cache/policysegment.go
  plugins/defaultplugins/srplugin/cache/steering.go
  plugins/defaultplugins/srplugin/srv6_config.go
  plugins/defaultplugins/srplugin/srv6_config_test.go
  plugins/defaultplugins/srplugin/vppcalls/srv6_test.go
  plugins/linuxplugin/ifplugin/ifaceidx/iface_cache.go
  plugins/linuxplugin/linuxplugin_init.go
  plugins/restplugin/bindata.go
  vendor/github.com/ligato/cn-infra/core/event_loop.go
  vendor/github.com/ligato/cn-infra/db/keyval/etcdv3/bytes_broker_impl.go
  vendor/github.com/ligato/cn-infra/idxmap/api.go
  vendor/github.com/ligato/cn-infra/idxmap/mem/doc.go
  vendor/github.com/ligato/cn-infra/idxmap/mem/inmemory_name_mapping.go
Labels: CN-INFRA upgrade

#633 Fix processing VPP interface stats combined counters
  plugins/defaultplugins/ifplugin/interface_state.go
Labels: bug

#629 fixed fib resolution case where interface and bridge domain are not tied
  idxvpp/api.go
  plugins/defaultplugins/l2plugin/bd_config.go
  plugins/defaultplugins/l2plugin/data_resync.go
  plugins/defaultplugins/l2plugin/fib_config.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index.go
  plugins/defaultplugins/l2plugin/l2idx/bd_index_test.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls.go
  plugins/defaultplugins/l2plugin/vppcalls/interface_vppcalls_test.go
  plugins/defaultplugins/watch_events.go
Labels: bug, testing

#630 added unit tests for fib configurator
  plugins/defaultplugins/l2plugin/fib_config_test.go
  plugins/defaultplugins/l2plugin/xconnect_config_test.go
Labels: testing

#634 updated changelog
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
Labels: CN-INFRA upgrade, docs & examples

#637 Fix parsing node counters info when node includes slash
  plugins/govppmux/vppcalls/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpe_vppcalls_test.go
Labels: bug

#632 Added resync robot test for segment routing plugin
  tests/robot/suites/crud/srv6_crud.robot
Labels: testing

#620 Add unit tests for vpp/ifplugin/interface_state
  plugins/defaultplugins/ifplugin/interface_state.go
  plugins/defaultplugins/ifplugin/interface_state_test.go
Labels: testing

#624 Add acl-plugin vppcalls+vppdump unit tests
  Makefile
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/aclplugin/data_resync.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls_test.go
  plugins/vpp/aclplugin/vppdump/dump_vppcalls.go
  plugins/vpp/aclplugin/vppdump/dump_vppcalls_test.go
  plugins/vpp/aclplugin/vppdump/vpp_channel.go
Labels: testing

#644 newest cn-infra
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/ligato/cn-infra/rpc/grpc/config.go
  vendor/github.com/ligato/cn-infra/rpc/grpc/listen_and_serve.go
Labels: CN-INFRA upgrade

#643 Fix renamed configs for docker images
  docker/dev/Dockerfile
  docker/dev/agent_start.py
  docker/dev/linux-plugin.conf
  docker/dev/vpp-plugin.conf
  docker/prod/Dockerfile
  docker/prod/agent_start.py
  docker/prod/linux-plugin.conf
  docker/prod/vpp-plugin.conf
Labels: bug

#642 Fix occasional fail of test of combined stats from VPP
  plugins/vpp/ifplugin/interface_state_test.go
Labels: bug, testing

#646 Automatic check for verifying VPP binapi compatibility
  .travis.yml
  Makefile
  docker/dev/Dockerfile
  plugins/vpp/binapi/doc.go
  plugins/vpp/binapi/fixapi.patch
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/patches/ip.diff
  scripts/genjsonapi.sh
Labels: enhancement

#645 grpc example supports all socket types
  examples/grpc_vpp/notifications/README.md
  examples/grpc_vpp/notifications/main.go
  examples/grpc_vpp/remote_client/README.md
  examples/grpc_vpp/remote_client/main.go
Labels: docs & examples

#647 Cleanup unit tests in Makefile and fix issues
  Makefile
  plugins/govppmux/vppcalls/vpe_vppcalls_test.go
  plugins/vpp/ifplugin/ifaceidx/dhcp_index_test.go
Labels: bug, testing

#648 Always run all unit tests recursively
  .travis.yml
  Makefile
  docker/prod/README.md
  plugins/vpp/aclplugin/acl_config_test.go
Labels: enhancement, testing

#649 Fix occasional fail of unit test
  plugins/vpp/ifplugin/interface_config_test.go
Labels: bug, testing

#656 support for docker to build images under proxy env
  docker/dev/build.sh
  docker/prod/build.sh
  docker/prod/supervisord.conf
  tests/perf/vpp.yaml
  tests/perf/vswitch-vpp.yaml
  tests/robot/resources/k8-yaml/vswitch-k8.yaml
Labels: testing

#635 Add unit tests for ifplugin/data_resync
  plugins/vpp/ifplugin/data_resync_test.go
Labels: testing

#655 Added acl-plugin aclidx unit tests
  plugins/vpp/aclplugin/aclidx/aclidx.go
  plugins/vpp/aclplugin/aclidx/aclidx_test.go
Labels: testing

#653 Added acl-plugin acl_config unit tests
  plugins/rest/rest_handlers.go
  plugins/vpp/aclplugin/acl_config.go
  plugins/vpp/aclplugin/acl_config_test.go
  plugins/vpp/aclplugin/data_resync.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/interfaces_vppcalls_test.go
  plugins/vpp/aclplugin/vppdump/dump_vppcalls.go
  plugins/vpp/aclplugin/vppdump/dump_vppcalls_test.go
  plugins/vpp/plugin_api_vpp.go
  plugins/vpp/plugin_impl_vpp.go
Labels: testing

#660 Upgrade VPP to latest 18.04 stable
  vpp.env
Labels: VPP upgrade
