Repository ligato/vpp-agent, pull requests merged in 2018-02, with the labels that each got.

#449 Fix error checking in linux l3plugin
  plugins/linuxplugin/l3plugin/arp_config.go
  plugins/linuxplugin/l3plugin/route_config.go
Labels: bug

#448 aggregate model files in linuxplugins
  clientv1/linux/data_change_api.go
  clientv1/linux/data_resync_api.go
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  cmd/vpp-agent-ctl/main.go
  examples/idx_veth_cache/main.go
  examples/localclient_linux/main.go
  plugins/linuxplugin/README.md
  plugins/linuxplugin/common/model/doc.go
  plugins/linuxplugin/common/model/interfaces/interfaces.pb.go
  plugins/linuxplugin/common/model/interfaces/interfaces.proto
  plugins/linuxplugin/common/model/interfaces/keys_agent_interfaces.go
  plugins/linuxplugin/common/model/l3/keys_agent_l3.go
  plugins/linuxplugin/common/model/l3/l3.pb.go
  plugins/linuxplugin/common/model/l3/l3.proto
  plugins/linuxplugin/data_change.go
  plugins/linuxplugin/data_resync.go
  plugins/linuxplugin/ifplugin/data_resync.go
  plugins/linuxplugin/ifplugin/ifaceidx/iface_cache.go
  plugins/linuxplugin/ifplugin/ifaceidx/linux_if_index.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/ifplugin/linuxcalls/mock_linuxcalls.go
  plugins/linuxplugin/ifplugin/linuxcalls/ns_linuxcalls.go
  plugins/linuxplugin/l3plugin/arp_config.go
  plugins/linuxplugin/l3plugin/data_resync.go
  plugins/linuxplugin/l3plugin/l3idx/linux_l3_arp_index.go
  plugins/linuxplugin/l3plugin/l3idx/linux_l3_route_index.go
  plugins/linuxplugin/l3plugin/linuxcalls/ns_linuxcalls.go
  plugins/linuxplugin/l3plugin/route_config.go
Labels: enhancement

#411 NAT44 support
  Makefile
  clientv1/defaultplugins/data_change_api.go
  clientv1/defaultplugins/data_resync_api.go
  clientv1/defaultplugins/dbadapter/data_change_db.go
  clientv1/defaultplugins/dbadapter/data_resync_db.go
  clientv1/defaultplugins/grpcadapter/data_change_grpc.go
  clientv1/defaultplugins/grpcadapter/data_resync_grpc.go
  clientv1/linux/data_change_api.go
  clientv1/linux/data_resync_api.go
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  cmd/vpp-agent-ctl/json/nat-dnat.json
  cmd/vpp-agent-ctl/json/nat-global.json
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/common/bin_api/nat/nat.go
  plugins/defaultplugins/common/bin_api/nat/pkgreflect.go
  plugins/defaultplugins/common/model/nat/keys_nat.go
  plugins/defaultplugins/common/model/nat/nat.pb.go
  plugins/defaultplugins/common/model/nat/nat.proto
  plugins/defaultplugins/common/model/stn/keys_agent_stn.go
  plugins/defaultplugins/data_change.go
  plugins/defaultplugins/data_resync.go
  plugins/defaultplugins/ifplugin/README.md
  plugins/defaultplugins/ifplugin/bfd_config.go
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/vppcalls/nat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls.go
  plugins/defaultplugins/plugin_api_vpp.go
  plugins/defaultplugins/plugin_impl_vpp.go
Labels: feature

#439 linuxplugin TAP support
  cmd/vpp-agent-ctl/main.go
  examples/idx_veth_cache/main.go
  examples/localclient_linux/main.go
  plugins/linuxplugin/common/model/interfaces/interfaces.pb.go
  plugins/linuxplugin/common/model/interfaces/interfaces.proto
  plugins/linuxplugin/common/model/l3/l3.pb.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/ifplugin/interface_state.go
  plugins/linuxplugin/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linuxplugin/linuxplugin_init.go
Labels: feature

#454 acl reacts to interface events
  plugins/defaultplugins/aclplugin/acl_config.go
  plugins/defaultplugins/aclplugin/aclidx/aclidx.go
  plugins/defaultplugins/aclplugin/vppcalls/interfaces_vppcalls.go
  plugins/defaultplugins/plugin_impl_vpp.go
  plugins/defaultplugins/watch_events.go
Labels: enhancement

#458 resync and tap handling improvements
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/ifplugin/afpacket_config.go
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/defaultplugins/ifplugin/interface_config.go
  plugins/defaultplugins/ifplugin/vppcalls/admin_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/afpacket_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/afpacket_vppcalls_test.go
  plugins/defaultplugins/ifplugin/vppcalls/ip_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/loopback_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/memif_vppcalls.go
  plugins/defaultplugins/ifplugin/vppcalls/tap_vppcals.go
  plugins/defaultplugins/ifplugin/vppcalls/vxlan_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_vppcalls.go
  plugins/defaultplugins/watch_events.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/ifplugin/interface_state.go
  plugins/linuxplugin/ifplugin/linuxcalls/ip_linuxcalls.go
  plugins/linuxplugin/ifplugin/linuxcalls/ns_linuxcalls.go
Labels: testing

#465 stn ip address resolution
  cmd/vpp-agent-ctl/json/stn-rule.json
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/ifplugin/stn_config.go
Labels: bug

#466 add static/identity mapping tags to NATconfiguration process
  cmd/vpp-agent-ctl/json/nat-dnat.json
  cmd/vpp-agent-ctl/main.go
  plugins/defaultplugins/common/model/nat/nat.pb.go
  plugins/defaultplugins/common/model/nat/nat.proto
  plugins/defaultplugins/ifplugin/README.md
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/defaultplugins/ifplugin/nat_config.go
  plugins/defaultplugins/ifplugin/vppcalls/nat_vppcalls.go
  plugins/defaultplugins/ifplugin/vppdump/dump_nat_vppcalls.go
Labels: enhancement

#461 linux interface resync improvements
  plugins/defaultplugins/ifplugin/data_resync.go
  plugins/linuxplugin/ifplugin/data_resync.go
  plugins/linuxplugin/ifplugin/interface_config.go
  plugins/linuxplugin/ifplugin/linuxcalls/ip_linuxcalls.go
Labels: enhancement

#473 Dev docker image enhacements
  docker/dev_vpp_agent/Dockerfile
  docker/dev_vpp_agent/README.md
  docker/dev_vpp_agent/build.sh
  docker/dev_vpp_agent/runvpp.sh
  docker/dev_vpp_agent/supervisord.conf
  docker/travis_vpp/Dockerfile
  docker/travis_vpp/README.md
  docker/travis_vpp/build.sh
  docker/travis_vpp/travis.patch
Labels: enhancement
