Repository ligato/vpp-agent, pull requests merged in 2018-11, with the labels that each got.

#971 fix IPv6 VRF for VxLAN
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vxlan_vppcalls.go
Labels: :bug: bug

#986 do not return error if linux namespace is not accessible in interface…
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
Labels: 🔧 enhancement

#985 Fix IPv6 linux route test
  tests/robot/suites/crudIPv6/linux_ip_route_crudIPv6.robot
Labels: 🔨 testing

#976 support for vmxnet3 interface type
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/vmxnet3/vmxnet3.ba.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vmxnet3_vppcalls_test.go
  plugins/vpp/model/gen.go
  plugins/vpp/model/interfaces/interfaces.pb.go
  plugins/vpp/model/interfaces/interfaces.proto
Labels: ⚡️ feature

#989 corrected linux if 'del' key + all keys are checked for removal while…
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
Labels: :bug: bug

#990 linux if dump uses correct name to read links
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
Labels: :bug: bug

#993 (contiv) vmxnet3 support, fixed linux remote client and interface dump
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
  cmd/vpp-agent-ctl/data_cmd.go
  cmd/vpp-agent-ctl/vpp-agent-ctl.go
  plugins/linux/ifplugin/linuxcalls/dump_link_linuxcalls.go
  plugins/rest/plugin_impl_rest.go
  plugins/rest/rest_handlers.go
  plugins/rest/resturl/rest_url.go
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/vmxnet3/vmxnet3.ba.go
  plugins/vpp/ifplugin/interface_config.go
  plugins/vpp/ifplugin/vppcalls/api_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vmxnet3_vppcalls_test.go
  plugins/vpp/model/gen.go
  plugins/vpp/model/interfaces/interfaces.pb.go
  plugins/vpp/model/interfaces/interfaces.proto
Labels: contiv

#1000 (dev) Revert workaround for bug in VPP NAT plugin that is fixed now
  examples/kvscheduler/nat/main.go
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  plugins/vppv2/model/nat/keys.go
  plugins/vppv2/model/nat/keys_test.go
  plugins/vppv2/model/nat/nat.pb.go
  plugins/vppv2/model/nat/nat.proto
  plugins/vppv2/natplugin/descriptor/nat44_dnat.go
  plugins/vppv2/natplugin/descriptor/nat44_global.go
  plugins/vppv2/natplugin/vppcalls/dump_nat_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/dump_nat_vppcalls_test.go
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls_test.go
  vpp.env
Labels: 💡 refactoring

#1003 do not leave file opened on unsuccessful ns switch
  plugins/linux/nsplugin/ns_handler.go
Labels: contiv

#1002 Refactor cleanup (examples)
  examples/kvscheduler/acl/main.go
  examples/kvscheduler/interconnect/main.go
  examples/kvscheduler/l2/main.go
  examples/kvscheduler/nat/main.go
  examples/kvscheduler/vpp-l3/main.go
  plugins/kvscheduler/internal/graph/graph_read.go
Labels: 💡 refactoring

#1007 (dev) Preliminary sub-interface support & model cleanup
  .gitignore
  Makefile
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  cmd/vpp-agent/main.go
  examples/kvscheduler/acl/main.go
  examples/kvscheduler/interconnect/main.go
  examples/kvscheduler/l2/main.go
  examples/kvscheduler/nat/main.go
  examples/kvscheduler/vpp-l3/main.go
  plugins/kvscheduler/internal/graph/graph_api.go
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/refresh.go
  plugins/linuxv2/ifplugin/descriptor/adapter/interface.go
  plugins/linuxv2/ifplugin/descriptor/interface.go
  plugins/linuxv2/ifplugin/descriptor/interface_tap.go
  plugins/linuxv2/ifplugin/descriptor/interface_veth.go
  plugins/linuxv2/ifplugin/ifaceidx/ifaceidx.go
  plugins/linuxv2/ifplugin/ifplugin.go
  plugins/linuxv2/l3plugin/descriptor/adapter/arp.go
  plugins/linuxv2/l3plugin/descriptor/adapter/route.go
  plugins/linuxv2/l3plugin/descriptor/arp.go
  plugins/linuxv2/l3plugin/descriptor/route.go
  plugins/linuxv2/l3plugin/l3plugin.go
  plugins/linuxv2/model/interfaces/interfaces.pb.go
  plugins/linuxv2/model/interfaces/interfaces.proto
  plugins/linuxv2/model/interfaces/keys.go
  plugins/linuxv2/model/l3/keys.go
  plugins/linuxv2/model/l3/l3.pb.go
  plugins/linuxv2/model/l3/l3.proto
  plugins/linuxv2/model/namespace/keys.go
  plugins/linuxv2/model/namespace/namespace.pb.go
  plugins/linuxv2/model/namespace/namespace.proto
  plugins/linuxv2/nsplugin/ns_plugin.go
  plugins/linuxv2/nsplugin/ns_plugin_api.go
  plugins/restv2/rest_handlers.go
  plugins/vppv2/ifplugin/descriptor/interface.go
  plugins/vppv2/ifplugin/descriptor/interface_crud.go
  plugins/vppv2/ifplugin/descriptor/unnumbered.go
  plugins/vppv2/ifplugin/vppcalls/afpacket_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/afpacket_vppcalls_test.go
  plugins/vppv2/ifplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/dump_interface_vppcalls_test.go
  plugins/vppv2/ifplugin/vppcalls/memif_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/memif_vppcalls_test.go
  plugins/vppv2/ifplugin/vppcalls/subif_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/tap_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/tap_vppcalls_test.go
  plugins/vppv2/ifplugin/vppcalls/vxlan_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/vxlan_vppcalls_test.go
  plugins/vppv2/l3plugin/descriptor/ip_scan_neighbor.go
  plugins/vppv2/l3plugin/descriptor/proxy_arp.go
  plugins/vppv2/model/interfaces/interface.pb.go
  plugins/vppv2/model/interfaces/interface.proto
  plugins/vppv2/model/interfaces/state.pb.go
  plugins/vppv2/model/l3/keys.go
  scripts/static_analysis.sh
Labels: 💡 refactoring

#1011 fix veth with ip data
  tests/robot/resources/veth_interface_with_ip.json
Labels: 🔨 testing

#1012 (dev) bridge domain dump returns a list instead of map
  plugins/vppv2/l2plugin/descriptor/bridgedomain.go
  plugins/vppv2/l2plugin/vppcalls/api_vppcalls.go
  plugins/vppv2/l2plugin/vppcalls/dump_vppcalls.go
  plugins/vppv2/l2plugin/vppcalls/dump_vppcalls_test.go
Labels: 🔧 enhancement

#1009 (dev) stn plugin v2
  app/v2/vpp_agent.go
  plugins/vppv2/model/gen.go
  plugins/vppv2/model/stn/keys.go
  plugins/vppv2/model/stn/keys_test.go
  plugins/vppv2/model/stn/stn.pb.go
  plugins/vppv2/model/stn/stn.proto
  plugins/vppv2/stnplugin/descriptor/adapter/stn.go
  plugins/vppv2/stnplugin/descriptor/stn.go
  plugins/vppv2/stnplugin/options.go
  plugins/vppv2/stnplugin/stnplugin.go
  plugins/vppv2/stnplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/stnplugin/vppcalls/dump_stn_vppcalls.go
  plugins/vppv2/stnplugin/vppcalls/stn_vppcalls.go
  plugins/vppv2/stnplugin/vppcalls/stn_vppcalls_test.go
Labels: 💡 refactoring

#1015 fixed bd crud suite
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/rest_api.robot
Labels: 🔨 testing

#1016 added ipsec to rpc.proto
  clientv1/linux/data_change_api.go
  clientv1/linux/data_resync_api.go
  clientv1/linux/dbadapter/data_change_db.go
  clientv1/linux/dbadapter/data_resync_db.go
  clientv1/vpp/data_change_api.go
  clientv1/vpp/data_resync_api.go
  clientv1/vpp/dbadapter/data_change_db.go
  clientv1/vpp/dbadapter/data_resync_db.go
  clientv1/vpp/grpcadapter/data_change_grpc.go
  clientv1/vpp/grpcadapter/data_resync_grpc.go
  plugins/vpp/model/rpc/rpc.pb.go
  plugins/vpp/model/rpc/rpc.proto
  plugins/vpp/rpc/services.go
Labels: 🔧 enhancement

#1017 Fix linux route test
  tests/robot/resources/linux_static_route.json
  tests/robot/resources/linux_static_route_without_interface.json
  tests/robot/resources/linux_veth_interface.json
Labels: 🔨 testing

#1023 update VPP to v19.01-rc0~234-gb11175d7
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls_test.go
  vpp.env
Labels: 🔗 dependencies

#1029 Change modules to v2.1.2
  tests/robot/libraries/etcdctl.robot
  tests/robot/suites/crud/bd_crud.robot
Labels: 🔨 testing

#1031 Fix linux arp test, remove lo
  tests/robot/suites/crud/linux_arp_crud.robot
Labels: 🔨 testing

#1035 update VPP to v19.01-rc0~234-gb11175d7 (vpp checkpoint)
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  vpp.env
Labels: 🔗 dependencies

#1036 Fix ip riute crud ipv6 test
  tests/robot/suites/crudIPv6/ip_route_crudIPv6.robot
Labels: 🔨 testing

#1037 read VPP config via GRPC
  app/vpp_agent.go
  clientv1/vpp/data_dump_api.go
  clientv1/vpp/grpcadapter/data_dump_grpc.go
  clientv1/vpp/remoteclient/remoteclient_api.go
  examples/grpc_vpp/remote_client/README.md
  examples/grpc_vpp/remote_client/main.go
  plugins/vpp/model/rpc/rpc.pb.go
  plugins/vpp/model/rpc/rpc.proto
  plugins/vpp/plugin_api_vpp.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/publish.go
  plugins/vpp/rpc/grpc_api.go
  plugins/vpp/rpc/options.go
  plugins/vpp/rpc/services.go
Labels: ⚡️ feature

#1039 Fix crash in processing of linux notifications
  plugins/linux/ifplugin/interface_state.go
Labels: :bug: bug

#1026 vpp punt proxy/redirect plugin
  app/v2/vpp_agent.go
  plugins/linuxv2/model/gen.go
  plugins/linuxv2/model/punt/punt.pb.go
  plugins/linuxv2/model/punt/punt.proto
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/punt/punt.ba.go
  plugins/vppv2/model/gen.go
  plugins/vppv2/model/punt/keys.go
  plugins/vppv2/model/punt/keys_test.go
  plugins/vppv2/model/punt/punt.pb.go
  plugins/vppv2/model/punt/punt.proto
  plugins/vppv2/puntplugin/README.md
  plugins/vppv2/puntplugin/descriptor/adapter/ippuntredirect.go
  plugins/vppv2/puntplugin/descriptor/adapter/punttohost.go
  plugins/vppv2/puntplugin/descriptor/ip_punt_redirect.go
  plugins/vppv2/puntplugin/descriptor/punt_to_host.go
  plugins/vppv2/puntplugin/options.go
  plugins/vppv2/puntplugin/puntplugin.go
  plugins/vppv2/puntplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/puntplugin/vppcalls/punt_vppcalls.go
  plugins/vppv2/puntplugin/vppcalls/punt_vppcalls_test.go
Labels: 💡 refactoring

#1045 natplugin v2: Avoid overflow in dnat lb programming
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls.go
Labels: :bug: bug

#1046 Fix interface counters for TX packets
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/interface_state_test.go
Labels: :bug: bug

#1047 linux ifplugin v.2: add support for checksum offloading
  plugins/kvscheduler/txn_process.go
  plugins/linuxv2/ifplugin/descriptor/interface.go
  plugins/linuxv2/ifplugin/linuxcalls/ethtool_linuxcalls.go
  plugins/linuxv2/ifplugin/linuxcalls/ip_linuxcalls.go
  plugins/linuxv2/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linuxv2/ifplugin/linuxcalls/netlink_api.go
  plugins/linuxv2/model/interfaces/interfaces.pb.go
  plugins/linuxv2/model/interfaces/interfaces.proto
  plugins/vppv2/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vppv2/model/l3/keys.go
Labels: ⚡️ feature

#1050 fix potential crash in acl tcp/udp/icmp rules
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
Labels: :bug: bug
