Repository ligato/vpp-agent, pull requests merged in 2019-12, with the labels that each got.

#1577 fix: Improve error context for linuxcalls
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/linux/ifplugin/linuxcalls/ip_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mac_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mock_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/ifplugin/linuxcalls/veth_linuxcalls.go
Labels: 🔧 enhancement

#1576 fix: Improve error context for linuxcalls
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/linux/ifplugin/linuxcalls/dump_interface_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/ip_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mac_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/mock_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/ifplugin/linuxcalls/veth_linuxcalls.go
Labels: :beetle: bug, 🔧 enhancement

#1578 fix: VRF table origin for SR policy (fixes #1566)
  plugins/vpp/l3plugin/descriptor/vrf_table.go
Labels: :beetle: bug

#1579 fix: VRF table origin for SR policy (dev)
  plugins/vpp/l3plugin/descriptor/vrf_table.go
Labels: :beetle: bug

#1580 chore: Release 2.5.1
  CHANGELOG.md
Labels: ✨ release

#1581 feat: Agentctl output format
  cmd/agentctl/commands/model.go
Labels: 🔧 enhancement

#1582 fix: Agentctl enhancements
  cmd/agentctl/commands/vpp.go
Labels: 🔧 enhancement

#1586 fix: check for duplicate Linux interface IP addr
  plugins/linux/ifplugin/descriptor/interface_address.go
  tests/e2e/020_netalloc_test.go
Labels: :beetle: bug

#1588 fix: duplicate linux addr
  plugins/linux/ifplugin/descriptor/interface_address.go
  tests/e2e/020_netalloc_test.go
Labels: :beetle: bug

#1591 ci: Add workflow for labelling PRs
  .github/labeler.yml
  .github/workflows/label-prs.yml
Labels: ⚙️ CI/CD

#1594 fix: interface name in stats poller service (fixes #1590)
  plugins/telemetry/options.go
  plugins/telemetry/stats_poller.go
  plugins/telemetry/telemetry.go
Labels: :beetle: bug

#1596 fix: Fix interface name in stats poller service (dev)
  plugins/telemetry/options.go
  plugins/telemetry/stats_poller.go
  plugins/telemetry/telemetry.go
Labels: :beetle: bug

#1597 ci: Allow breaking change check to fail
  scripts/make/buf.make
Labels: ⚙️ CI/CD
