Repository ligato/vpp-agent, pull requests merged in 2019-01, with the labels that each got.

#1098 fixed occasional pointless recovery in grpc plugin
  plugins/vpp/rpc/services.go
Labels: :bug: bug

#1100 Fix 3x vpp traffic test
  tests/robot/suites/traffic/3x_vpp_traffic/3x_vpp_traffic.robot
Labels: 🔨 testing

#1097 kvscheduler: performance optimalizations
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/internal/graph/graph_api.go
  plugins/kvscheduler/internal/graph/graph_impl.go
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/internal/graph/graph_test.go
  plugins/kvscheduler/internal/graph/graph_write.go
  plugins/kvscheduler/internal/graph/node_read.go
  plugins/kvscheduler/internal/graph/node_write.go
  plugins/kvscheduler/internal/graph/utils_for_test.go
  plugins/kvscheduler/internal/registry/registry_impl.go
  plugins/kvscheduler/internal/utils/dependencies.go
  plugins/kvscheduler/internal/utils/keyset.go
  plugins/kvscheduler/internal/utils/keyset_test.go
  plugins/kvscheduler/internal/utils/record.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/options.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_order.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_queue.go
  plugins/kvscheduler/txn_record.go
  plugins/kvscheduler/utils_for_test.go
  plugins/linuxv2/l3plugin/descriptor/route.go
  plugins/linuxv2/model/interfaces/keys.go
  plugins/linuxv2/model/l3/keys.go
  plugins/vppv2/ifplugin/ifplugin.go
  plugins/vppv2/ifplugin/interface_state.go
Labels: 🔧 enhancement

#1108 Enable UDP encap for the IPSec tunnel
  cmd/vpp-agent-ctlv2/data/ifplugin.go
  plugins/vppv2/ifplugin/descriptor/interface.go
  plugins/vppv2/ifplugin/vppcalls/dump_interface_vppcalls.go
  plugins/vppv2/ifplugin/vppcalls/ipsec_vppcalls.go
  plugins/vppv2/model/interfaces/interface.pb.go
  plugins/vppv2/model/interfaces/interface.proto
Labels: 🔧 enhancement

#1103 (pantheon-dev) Enable UDP encap for the IPSec tunnel
  Gopkg.lock
  cmd/vpp-agent-ctl/data_cmd.go
  plugins/vpp/binapi/acl/acl.ba.go
  plugins/vpp/binapi/af_packet/af_packet.ba.go
  plugins/vpp/binapi/bfd/bfd.ba.go
  plugins/vpp/binapi/dhcp/dhcp.ba.go
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/memif/memif.ba.go
  plugins/vpp/binapi/nat/nat.ba.go
  plugins/vpp/binapi/punt/punt.ba.go
  plugins/vpp/binapi/session/session.ba.go
  plugins/vpp/binapi/sr/sr.ba.go
  plugins/vpp/binapi/stats/stats.ba.go
  plugins/vpp/binapi/stn/stn.ba.go
  plugins/vpp/binapi/tap/tap.ba.go
  plugins/vpp/binapi/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpe/vpe.ba.go
  plugins/vpp/binapi/vxlan/vxlan.ba.go
  plugins/vpp/ipsecplugin/vppcalls/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/ipsec_vppcalls.go
  plugins/vpp/model/ipsec/ipsec.pb.go
  plugins/vpp/model/ipsec/ipsec.proto
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/definitions.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/generate.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/objects.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/parse.go
  vpp.env
Labels: 🔗 dependencies, 🔧 enhancement

#1105 Nat session affinity support
  plugins/vppv2/model/nat/nat.pb.go
  plugins/vppv2/model/nat/nat.proto
  plugins/vppv2/natplugin/descriptor/nat44_dnat.go
  plugins/vppv2/natplugin/vppcalls/dump_nat_vppcalls.go
  plugins/vppv2/natplugin/vppcalls/nat_vppcalls.go
Labels: ⚡️ feature

#1110 fix interface-related json example files
  cmd/vpp-agent-ctlv2/json/afpacket.json
  cmd/vpp-agent-ctlv2/json/loop.json
  cmd/vpp-agent-ctlv2/json/memif.json
  cmd/vpp-agent-ctlv2/json/tap.json
  cmd/vpp-agent-ctlv2/json/vxlan.json
Labels: :bug: bug

#1116 Update clientv2 to include ipsec and punt plugins.
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
Labels: 🔧 enhancement

#1115 (master, vpp checkpoint) support for new stats
  Gopkg.lock
  plugins/govppmux/adapter_stubs.go
  plugins/govppmux/adapter_vppapiclient.go
  plugins/govppmux/govpp.conf
  plugins/govppmux/plugin_api_govppmux.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/vppcalls/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpe_vppcalls_test.go
  plugins/rest/rest_handlers.go
  plugins/vpp/binapi/acl/acl.ba.go
  plugins/vpp/binapi/af_packet/af_packet.ba.go
  plugins/vpp/binapi/bfd/bfd.ba.go
  plugins/vpp/binapi/dhcp/dhcp.ba.go
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/interfaces/interfaces.ba.go
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/ipsec/ipsec.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/memif/memif.ba.go
  plugins/vpp/binapi/nat/nat.ba.go
  plugins/vpp/binapi/punt/punt.ba.go
  plugins/vpp/binapi/session/session.ba.go
  plugins/vpp/binapi/sr/sr.ba.go
  plugins/vpp/binapi/stats/stats.ba.go
  plugins/vpp/binapi/stn/stn.ba.go
  plugins/vpp/binapi/tap/tap.ba.go
  plugins/vpp/binapi/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpe/vpe.ba.go
  plugins/vpp/binapi/vxlan/vxlan.ba.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/interface_state_test.go
  plugins/vpp/ifplugin/vppcalls/nat_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/arp_term_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/dump_vppcalls_test.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/puntplugin/vppcalls/punt_vpcalls.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/generate.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/objects.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/parse.go
  vpp.env
Labels: 💡 refactoring, 🔗 dependencies

#1125 add netcat and nat
  docker/dev/vpp.conf
  docker/prod/Dockerfile
  docker/prod/vpp.conf
Labels: 🔨 testing

#1121 (master) tests re-enabled for interface status updater
  Gopkg.lock
  plugins/govppmux/adapter_stubs.go
  plugins/govppmux/mock/mock_govppmux.go
  plugins/govppmux/plugin_api_govppmux.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/vpp/aclplugin/acl_config_test.go
  plugins/vpp/aclplugin/data_resync_test.go
  plugins/vpp/ifplugin/bfd_config_test.go
  plugins/vpp/ifplugin/data_resync_test.go
  plugins/vpp/ifplugin/interface_config_test.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/interface_state_test.go
  plugins/vpp/ifplugin/nat_config_test.go
  plugins/vpp/ifplugin/stn_config_test.go
  plugins/vpp/l2plugin/bd_config_test.go
  plugins/vpp/l2plugin/bd_state_test.go
  plugins/vpp/l2plugin/fib_config_test.go
  plugins/vpp/l2plugin/xconnect_config_test.go
  plugins/vpp/l3plugin/arp_config_test.go
  plugins/vpp/l3plugin/arp_proxy_config_test.go
  plugins/vpp/l3plugin/route_config_test.go
  plugins/vpp/options.go
  plugins/vpp/plugin_impl_vpp.go
  plugins/vpp/srplugin/srv6_config_test.go
  tests/vppcallmock/vpp_ctx_mock.go
  vendor/git.fd.io/govpp.git/adapter/mock/mock_stats_adapter.go
  vendor/git.fd.io/govpp.git/adapter/mock/mock_vpp_adapter.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
Labels: 🔗 dependencies, 🔧 enhancement, 🔨 testing

#1134 add statseq to vpp conf
  docker/prod/vpp.conf
  tests/robot/resources/vpp_nat.conf
Labels: 🔨 testing

#1137 fix keys after change in tests
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/pretty_keywords.robot
Labels: 🔨 testing

#1140 Minor bugfixes for kvscheduler and ifplugin
  plugins/kvscheduler/api/errors.go
  plugins/vppv2/ifplugin/publish_state.go
Labels: :bug: bug

#1142 Several bug fixes for kvscheduler.
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_process.go
Labels: :bug: bug

#1144 Publish registered punt socket to KVDB
  cmd/vpp-agent/app/v2/vpp_agent.go
  pkg/util/proto.go
  plugins/vppv2/ifplugin/ifplugin.go
  plugins/vppv2/ifplugin/interface_state.go
  plugins/vppv2/puntplugin/descriptor/ip_punt_redirect.go
  plugins/vppv2/puntplugin/puntplugin.go
  plugins/vppv2/puntplugin/vppcalls/api_vppcalls.go
  plugins/vppv2/puntplugin/vppcalls/dump_vppcalls.go
  plugins/vppv2/puntplugin/vppcalls/punt_vppcalls.go
Labels: 🔧 enhancement

#1146 (master) Update VPP to v19.04-rc0-67-g72de626d
  plugins/vpp/binapi/ip/ip.ba.go
  plugins/vpp/binapi/l2/l2.ba.go
  plugins/vpp/binapi/tapv2/tapv2.ba.go
  vpp.env
Labels: 🔗 dependencies
