Repository ligato/vpp-agent, pull requests merged in 2019-03, with the labels that each got.

#1174 Updated Segment Routing to Ligato v2 changes
  Makefile
  api/models/vpp/srv6/keys.go
  api/models/vpp/srv6/keys_test.go
  api/models/vpp/srv6/srv6.pb.go
  api/models/vpp/srv6/srv6.proto
  cmd/vpp-agent/app/vpp_agent.go
  plugins/kvscheduler/api/kv_scheduler_api.go
  plugins/vpp/srplugin/README.md
  plugins/vpp/srplugin/descriptor/adapter/localsid.go
  plugins/vpp/srplugin/descriptor/adapter/policy.go
  plugins/vpp/srplugin/descriptor/adapter/steering.go
  plugins/vpp/srplugin/descriptor/localsid.go
  plugins/vpp/srplugin/descriptor/policy.go
  plugins/vpp/srplugin/descriptor/steering.go
  plugins/vpp/srplugin/options.go
  plugins/vpp/srplugin/srplugin.go
  plugins/vpp/srplugin/vppcalls/api_vppcalls.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1810/vppcalls_handlers.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1901/vppcalls_handlers.go
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/linux.robot
  tests/robot/libraries/pretty_keywords.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/libraries/vpp_term.robot
  tests/robot/resources/srv6_local_sid_with_ad_end_function.json
  tests/robot/resources/srv6_local_sid_with_base_end_function.json
  tests/robot/resources/srv6_local_sid_with_dx4_end_function.json
  tests/robot/resources/srv6_local_sid_with_dx6_end_function.json
  tests/robot/resources/srv6_policy.json
  tests/robot/resources/srv6_policy_segment.json
  tests/robot/resources/srv6_policy_segmentlist.json
  tests/robot/resources/srv6_steering.json
  tests/robot/resources/static_route_with_interface.json
  tests/robot/resources/tapv2_interface_with_two_ips.json
  tests/robot/suites/crud/srv6_crud.robot
  tests/robot/suites/crud/test_data/srv6_sh_sr_localsid_output_match.txt
  tests/robot/suites/crud/test_data/srv6_sh_sr_localsid_output_no_match.txt
  tests/robot/suites/crud/test_data/srv6_sh_sr_policies_output_no_match.txt
  tests/robot/suites/crud/test_data/srv6_sh_sr_policy_segments_output_match.txt
  tests/robot/suites/crud/test_data/srv6_sh_sr_steering_output_match.txt
  tests/robot/suites/crudIPv6/srv6_crudIPv6.robot
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_proxy_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_policies_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_policies_output_regexp_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_policy_segments_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_policy_segments_output_regexp_match.txt
  tests/robot/suites/trafficIPv6/sr_proxy_traffic/dynamic_sr_proxy_trafficIPv6.robot
Labels: ⚡️ feature

#1201 kvscheduler docs: rephrase explanation for derived values, add diagrams
  docs/kvscheduler/img/derived-interface-ip.svg
  docs/kvscheduler/img/derived-interface-ip.xml
  docs/kvscheduler/img/derived-values.svg
  docs/kvscheduler/img/derived-values.xml
  docs/kvscheduler/kvdescriptor.md
  docs/kvscheduler/troubleshooting.md
Labels: 📜 docs & examples

#1209 Add ping to vpe-related vppcalls.
  plugins/govppmux/vppcalls/vpp1810/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp1901/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vppcalls_api.go
Labels: 🔧 enhancement

#1206 changelog for v1.8.1
  CHANGELOG.md
  examples/README.md
Labels: 📜 docs & examples

#1208 remove kafka from images
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/dev/kafka.conf
  docker/prod/Dockerfile
  docker/prod/kafka.conf
Labels: 🔧 enhancement

#1207 Linux loopback support
  api/models/linux/interfaces/interface.pb.go
  api/models/linux/interfaces/interface.proto
  cmd/vpp-agent-ctl/data/ifplugin.go
  cmd/vpp-agent-ctl/main.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_loop.go
Labels: ⚡️ feature

#1204 Support for Dynamic segment routing proxy with L2 segment routing unaware services
  api/models/vpp/srv6/srv6.pb.go
  api/models/vpp/srv6/srv6.proto
  plugins/vpp/srplugin/descriptor/localsid.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6_test.go
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/linux.robot
  tests/robot/resources/sendEthernetFrame.py
  tests/robot/resources/srv6_local_sid_with_ad_end_function.json
  tests/robot/resources/srv6_steering_l2.json
  tests/robot/resources/srv6_steering_l3.json
  tests/robot/suites/crudIPv6/srv6_crudIPv6.robot
  tests/robot/suites/trafficIPv6/sr_proxy_traffic/dynamic_sr_proxy_trafficIPv6.robot
Labels: ⚡️ feature

#1212 Fix and re-enable remaining kvscheduler UTs.
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/txn_exec.go
Labels: 🔨 testing

#1213 Improve grpc-perf test and cleanup tests folder
  Gopkg.lock
  plugins/govppmux/govpp_channel_test.go
  plugins/govppmux/mock/mock_govppmux.go
  plugins/linux/linuxmock/namespace_mock.go
  plugins/linux/linuxmock/netlink_if_handler_mock.go
  plugins/linux/linuxmock/netlink_l3_handler_mock.go
  plugins/linux/linuxmock/system_mock.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/vpp1901/acl_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/admin_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls_test.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1901/ipsec_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/bridge_domain_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/dump_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/l2fib_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/xconnect_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1901/bridge_domain_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1901/dump_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1901/l2fib_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1901/xconnect_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/arp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/ipneigh_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/route_dump_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/route_vppcalls_test.go
  plugins/vpp/natplugin/vppcalls/vpp1901/dump_nat_vppcalls_test.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/punt_vppcalls_test.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6_test.go
  plugins/vpp/stnplugin/vppcalls/vpp1901/stn_vppcalls_test.go
  plugins/vpp/vppcallmock/vpp_ctx_mock.go
  tests/coverage/coverage_agent_vpp.sh
  tests/golint/check_style.sh
  tests/perf/grpc-perf.sh
  tests/perf/grpc-perf/run_agent_vpp_and_perf.sh
  tests/perf/k8s/README.md
  tests/perf/k8s/download-images.sh
  tests/perf/k8s/remove-pods.sh
  tests/perf/k8s/startK8.sh
  tests/perf/k8s/timemeasure.sh
  tests/perf/k8s/topology-generate-fib.sh
  tests/perf/k8s/topology-generate-loopback.sh
  tests/perf/k8s/topology-generate-routes.sh
  tests/perf/k8s/topology.sh
  tests/perf/k8s/vnf-vpp.yaml
  tests/perf/k8s/vpp.yaml
  tests/perf/k8s/vswitch-vpp.yaml
Labels: 🔧 enhancement

#1218 Use socketclient for binapi
  Gopkg.lock
  Gopkg.toml
  plugins/configurator/configurator.go
  plugins/govppmux/adapter_vppapiclient.go
  plugins/govppmux/govpp_channel.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/stats.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/stats.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_record.go
  plugins/orchestrator/dispatcher.go
  plugins/restapi/handlers.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/watch_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/watch_vppcalls.go
  tests/perf/grpc-perf/run_agent_vpp_and_perf.sh
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/core/channel.go
  vendor/git.fd.io/govpp.git/core/request_handler.go
  vendor/git.fd.io/govpp.git/examples/bin_api/memclnt/memclnt.ba.go
  vpp.env
Labels: 🔧 enhancement

#1220 add test example and fix aclip6
  tests/robot/examples/example_crud_test.robot
  tests/robot/suites/crudIPv6/acl_crudIPv6.robot
Labels: 🔨 testing

#1214 kvgraph performance improvements
  examples/kvscheduler/mock_plugins/kvscheduler.conf
  examples/kvscheduler/mock_plugins/main.go
  examples/kvscheduler/mock_plugins/scenario/failure_fixed_by_retry.go
  examples/kvscheduler/mock_plugins/scenario/fixed_invalid_config.go
  examples/kvscheduler/mock_plugins/scenario/interface_recreation.go
  examples/kvscheduler/mock_plugins/scenario/pending_after_change.go
  examples/kvscheduler/mock_plugins/scenario/pending_after_resync.go
  examples/kvscheduler/mock_plugins/scenario/perf.go
  examples/kvscheduler/mock_plugins/scenario/reverted_change.go
  examples/kvscheduler/mock_plugins/scenario/scenario.go
  plugins/kvscheduler/api/txn_options.go
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/graphviz.go
  plugins/kvscheduler/internal/graph/graph_api.go
  plugins/kvscheduler/internal/graph/graph_impl.go
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/internal/graph/graph_test.go
  plugins/kvscheduler/internal/graph/graph_write.go
  plugins/kvscheduler/internal/graph/node_read.go
  plugins/kvscheduler/internal/graph/node_write.go
  plugins/kvscheduler/internal/graph/utils_for_test.go
  plugins/kvscheduler/internal/test/flag.go
  plugins/kvscheduler/internal/utils/keyset.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/stats.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_order.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_record.go
  plugins/kvscheduler/value_flags.go
Labels: 🔧 enhancement

#1215 kv scheduler tutorial
  docs/tutorials/05_kv-scheduler.md
  docs/tutorials/README.md
  examples/tutorials/05_kv-scheduler/adapter/interface.go
  examples/tutorials/05_kv-scheduler/adapter/route.go
  examples/tutorials/05_kv-scheduler/descriptors.go
  examples/tutorials/05_kv-scheduler/main.go
  examples/tutorials/05_kv-scheduler/model/model.pb.go
  examples/tutorials/05_kv-scheduler/model/model.proto
Labels: 📜 docs & examples

#1226 link tutorials to ligato.io
  docs/README.md
  docs/tutorials/README.md
Labels: 📜 docs & examples

#1227 Add benchmarks for kvscheduler
  examples/kvscheduler/mock_plugins/ifplugin/mockcalls/mockcalls.go
  examples/kvscheduler/mock_plugins/l2plugin/mockcalls/bd_mockcalls.go
  plugins/kvscheduler/bench_test.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/rest.go
  plugins/kvscheduler/txn_record.go
Labels: 🔨 testing

#1228 Models & Orchestrator input checks
  api/models/vpp/l3/keys.go
  api/models/vpp/nat/keys.go
  pkg/models/models.go
  pkg/models/spec.go
  plugins/orchestrator/orchestrator.go
Labels: :bug: bug, 🔧 enhancement

#1231 Fix crash in kvscheduler in case of descriptor with no dependencies
  plugins/kvscheduler/internal/graph/node_read.go
Labels: :bug: bug

#1233 KVScheduler benchmark tests and minor cleanups
  plugins/kvscheduler/bench_test.go
  plugins/kvscheduler/internal/utils/keyset.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_record.go
Labels: 🔨 testing

#1234 Improve perf test script and add script for comparing benchmarks
  Makefile
  k8s/tests/README.md
  k8s/tests/download-images.sh
  k8s/tests/remove-pods.sh
  k8s/tests/startK8.sh
  k8s/tests/timemeasure.sh
  k8s/tests/topology-generate-fib.sh
  k8s/tests/topology-generate-loopback.sh
  k8s/tests/topology-generate-routes.sh
  k8s/tests/topology.sh
  k8s/tests/vnf-vpp.yaml
  k8s/tests/vpp.yaml
  k8s/tests/vswitch-vpp.yaml
  scripts/cmpbench.sh
  tests/perf/grpc-perf.sh
  tests/perf/grpc-perf/etcd.conf
  tests/perf/grpc-perf/main.go
  tests/perf/grpc-perf/run_agent_vpp_and_perf.sh
  tests/perf/grpc-perf/test.sh
  tests/perf/run_all.sh
Labels: 🔧 enhancement

#1232 Linux iptables plugin implementation
  Gopkg.lock
  Gopkg.toml
  Makefile
  api/models/linux/iptables/iptables.pb.go
  api/models/linux/iptables/iptables.proto
  api/models/linux/iptables/keys.go
  cmd/vpp-agent-ctl/data/iptablesplugin.go
  cmd/vpp-agent-ctl/data/vpp-agent-ctl.go
  cmd/vpp-agent-ctl/main.go
  cmd/vpp-agent/app/vpp_agent.go
  plugins/linux/iptablesplugin/descriptor/adapter/rulechain.go
  plugins/linux/iptablesplugin/descriptor/rulechain.go
  plugins/linux/iptablesplugin/iptablesplugin.go
  plugins/linux/iptablesplugin/linux-iptablesplugin.conf
  plugins/linux/iptablesplugin/linuxcalls/iptables_api.go
  plugins/linux/iptablesplugin/linuxcalls/iptables_linuxcalls.go
  plugins/linux/iptablesplugin/options.go
  vendor/github.com/coreos/go-iptables/LICENSE
  vendor/github.com/coreos/go-iptables/NOTICE
  vendor/github.com/coreos/go-iptables/iptables/iptables.go
  vendor/github.com/coreos/go-iptables/iptables/lock.go
Labels: ⚡️ feature

#1237 fix and optimize 1.0
  tests/robot/libraries/etcdctl.robot
  tests/robot/suites/crudIPv6/bd_crudIPv6.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_traffic_other_vrf.robot
  tests/robot/suites/traffic/vpp_2novpp_memif_traffic/vpp_2novpp_memif_traffic.robot
Labels: 🔨 testing

#1238 removed doc references that the kafka is required
  README.md
  examples/README.md
Labels: 📜 docs & examples

#1236 kvgraph: optimized lookup over graph edges
  api/models/linux/interfaces/keys.go
  api/models/linux/l3/keys.go
  api/models/vpp/interfaces/keys.go
  plugins/kvscheduler/api/kv_descriptor_api.go
  plugins/kvscheduler/bench_test.go
  plugins/kvscheduler/graphviz.go
  plugins/kvscheduler/internal/graph/bench_test.go
  plugins/kvscheduler/internal/graph/edge_lookup.go
  plugins/kvscheduler/internal/graph/edge_lookup_test.go
  plugins/kvscheduler/internal/graph/graph_api.go
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/internal/graph/graph_test.go
  plugins/kvscheduler/internal/graph/graph_write.go
  plugins/kvscheduler/internal/graph/node_read.go
  plugins/kvscheduler/internal/graph/node_write.go
  plugins/kvscheduler/internal/graph/utils_for_test.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/txn_exec.go
  plugins/linux/l3plugin/descriptor/arp.go
  plugins/linux/l3plugin/descriptor/route.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/unnumbered.go
Labels: 🔧 enhancement

#1241 Re-enable interface status publishing and fix deadlock
  Gopkg.lock
  cmd/vpp-agent/app/vpp_agent.go
  plugins/doc.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/nsplugin/descriptor/microservice.go
  plugins/orchestrator/orchestrator.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/publish_state.go
  vendor/github.com/ligato/cn-infra/CHANGELOG.md
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/README.md
  vendor/github.com/ligato/cn-infra/agent/agent.go
  vendor/github.com/ligato/cn-infra/config/plugin_config.go
  vendor/github.com/ligato/cn-infra/datasync/kvdbsync/watch_impl.go
  vendor/github.com/ligato/cn-infra/datasync/resync/plugin_impl_resync.go
  vendor/github.com/ligato/cn-infra/db/keyval/bolt/plugin.go
  vendor/github.com/ligato/cn-infra/db/keyval/bolt/watch.go
  vendor/github.com/ligato/cn-infra/db/keyval/proto_serializer.go
  vendor/github.com/ligato/cn-infra/examples/datasync-plugin/main.go
  vendor/github.com/ligato/cn-infra/health/statuscheck/plugin_impl_statuscheck.go
Labels: :bug: bug, 💡 refactoring

#1242 kvgraph: optimize iterSources to have logarithmic complexity
  plugins/kvscheduler/internal/graph/edge_lookup.go
  plugins/kvscheduler/internal/graph/edge_lookup_test.go
Labels: 🔧 enhancement

#1217 support for bond-type interfaces
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  api/models/vpp/interfaces/keys.go
  cmd/vpp-agent-ctl/data/ifplugin.go
  cmd/vpp-agent-ctl/main.go
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/vpp1810/bond/bond.ba.go
  plugins/vpp/binapi/vpp1901/bond/bond.ba.go
  plugins/vpp/ifplugin/descriptor/adapter/bondedinterface.go
  plugins/vpp/ifplugin/descriptor/bonded_interface.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/bond_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/bond_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/vppcalls_handler.go
Labels: ⚡️ feature

#1246 Fix retrieving VPP metrics in telemetry plugin
  plugins/telemetry/config.go
  plugins/telemetry/prometheus.go
  plugins/telemetry/telemetry.go
  plugins/telemetry/vppcalls/vpp1810/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vppcalls_api.go
Labels: :bug: bug

#1224 support for l2 tag-rewrite
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  cmd/vpp-agent-ctl/data/ifplugin.go
  cmd/vpp-agent-ctl/data/l2plugin.go
  cmd/vpp-agent-ctl/main.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/l2_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/l2_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/vppcalls_handler.go
Labels: ⚡️ feature
