Repository ligato/vpp-agent, pull requests merged in 2019-06, with the labels that each got.

#1366 vpp updated to v19.08-rc0.324-g2ecf18a55
  Gopkg.lock
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/session/session.ba.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/punt_vppcalls_test.go
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client_wrapper.h
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/generate.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/main.go
  vendor/git.fd.io/govpp.git/cmd/binapi-generator/types.go
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1368 add rest support for ipsec and punt
  plugins/restapi/handlers.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/dump_vppcalls.go
Labels: ⚡️ feature

#1369 Fix init order for state chan
  plugins/vpp/ifplugin/ifplugin.go
Labels: :bug: bug

#1371 initialize abf plugin handler in configurator
  plugins/configurator/options.go
  plugins/configurator/plugin.go
Labels: :bug: bug

#1372 Add env var (RESYNC_TIMEOUT) for setting resync timeout
  cmd/vpp-agent/main.go
Labels: 🔧 enhancement

#1374 Minor enhancements in Linux interface descriptor
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/nsplugin/ns_plugin.go
Labels: 🔧 enhancement

#1375 tweaked interface statistics
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/publish_state.go
Labels: :bug: bug, :exclamation: WIP, 🔧 enhancement

#1381 Retrieve cmdline (config) after conencting to VPP
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/vppcalls/vpp1901/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp1904/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp1908/vpe_vppcalls.go
Labels: 🔧 enhancement

#1379 fix punt dump for all vpp versions
  plugins/configurator/dump.go
  plugins/vpp/puntplugin/descriptor/punt_to_host.go
  plugins/vpp/puntplugin/vppcalls/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/punt_vppcalls.go
Labels: :bug: bug

#1383 Fix dumps for unavailable handlers
  cmd/vpp-agent/app/vpp_agent.go
  plugins/configurator/dump.go
  plugins/configurator/plugin.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/restapi/handlers.go
  plugins/restapi/plugin_restapi.go
  plugins/vpp/abfplugin/abfplugin.go
  plugins/vpp/abfplugin/vppcalls/abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/dump_abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/abfplugin/vppcalls/vpp1904/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1904/dump_abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/dump_abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/aclplugin/aclplugin.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1901/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/vpp1901/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/vppcalls_handlers.go
Labels: :bug: bug

#1389 Add fixes for punt plugin
  plugins/vpp/puntplugin/descriptor/ip_punt_redirect.go
  plugins/vpp/puntplugin/descriptor/punt_exception.go
  plugins/vpp/puntplugin/descriptor/punt_to_host.go
  plugins/vpp/puntplugin/options.go
  plugins/vpp/puntplugin/puntplugin.go
  plugins/vpp/puntplugin/vppcalls/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1904/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/punt_vppcalls.go
Labels: :bug: bug

#1390 Update VPP to v19.08-rc0~432-gb63dbc537
  plugins/govppmux/vppcalls/vpp1908/vpe_vppcalls.go
  plugins/telemetry/vppcalls/vpp1908/telemetry_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/binapi/vpp1908/abf/abf.ba.go
  plugins/vpp/binapi/vpp1908/acl/acl.ba.go
  plugins/vpp/binapi/vpp1908/af_packet/af_packet.ba.go
  plugins/vpp/binapi/vpp1908/bfd/bfd.ba.go
  plugins/vpp/binapi/vpp1908/bond/bond.ba.go
  plugins/vpp/binapi/vpp1908/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp1908/interfaces/interfaces.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/memclnt/memclnt.ba.go
  plugins/vpp/binapi/vpp1908/memif/memif.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/session/session.ba.go
  plugins/vpp/binapi/vpp1908/sr/sr.ba.go
  plugins/vpp/binapi/vpp1908/stn/stn.ba.go
  plugins/vpp/binapi/vpp1908/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vpp1908/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpp1908/vpe/vpe.ba.go
  plugins/vpp/binapi/vpp1908/vxlan/vxlan.ba.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/ip_container_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/ipsec_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/vppcalls_handler.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l2plugin/vppcalls/vpp1908/vppcalls_handler.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/natplugin/vppcalls/vpp1908/vppcalls_handler.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/vppcalls_handler.go
  plugins/vpp/srplugin/srplugin.go
  plugins/vpp/srplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/stnplugin/vppcalls/vpp1908/vppcalls_handler.go
Labels: :small_orange_diamond: VPP sync

#1395 fix IPSec security associations tunnel mode
  cmd/vpp-agent-ctl/data/ipsecplugin.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1904/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1904/ipsec_vppcalls_test.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/ipsec_vppcalls_test.go
Labels: :bug: bug

#1397 Add debug package for profiling/debugging
  Gopkg.lock
  cmd/vpp-agent/debug.go
  cmd/vpp-agent/main.go
  pkg/debug/debug.go
  vendor/github.com/pkg/profile/.travis.yml
  vendor/github.com/pkg/profile/AUTHORS
  vendor/github.com/pkg/profile/LICENSE
  vendor/github.com/pkg/profile/README.md
  vendor/github.com/pkg/profile/mutex.go
  vendor/github.com/pkg/profile/mutex17.go
  vendor/github.com/pkg/profile/profile.go
  vendor/github.com/pkg/profile/trace.go
  vendor/github.com/pkg/profile/trace16.go
Labels: 🔧 enhancement

#1396 govppmux stats REST handler
  pkg/metrics/metrics.go
  plugins/govppmux/govpp_channel.go
  plugins/govppmux/options.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/rest.go
  plugins/govppmux/stats.go
  plugins/vpp/ifplugin/interface_state.go
Labels: 🔧 enhancement
