Repository ligato/vpp-agent, pull requests merged in 2019-09, with the labels that each got.

#1445 API for GRE
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  plugins/vpp/binapi/vpp1901/gen.go
  plugins/vpp/binapi/vpp1901/gre/gre.ba.go
  plugins/vpp/binapi/vpp1904/gen.go
  plugins/vpp/binapi/vpp1904/gre/gre.ba.go
  plugins/vpp/binapi/vpp1908/gen.go
  plugins/vpp/binapi/vpp1908/gre/gre.ba.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/gre_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gre_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gre_vppcalls.go
  tests/integration/vpp/080_gre_test.go
Labels: ⚡️ feature

#1448 Fixed ignoring of installation vrf table setting for SRv6 proxy…
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1904/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1904/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6_test.go
Labels: :bug: bug

#1453 Interface state change is sometimes delivered as an unknown not…
  plugins/vpp/ifplugin/publish_state.go
Labels: :bug: bug

#1455 Change default VPP to 19.08
  docker/dev/Dockerfile
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1456 Fixing policy delete problem
  plugins/vpp/srplugin/descriptor/policy.go
Labels: :bug: bug

#1457 API for VxLAN-GPE
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  plugins/vpp/binapi/vpp1901/gen.go
  plugins/vpp/binapi/vpp1901/vxlan_gpe/vxlan_gpe.ba.go
  plugins/vpp/binapi/vpp1904/gen.go
  plugins/vpp/binapi/vpp1904/vxlan_gpe/vxlan_gpe.ba.go
  plugins/vpp/binapi/vpp1908/gen.go
  plugins/vpp/binapi/vpp1908/vxlan_gpe/vxlan_gpe.ba.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/vxlan_gpe_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/vxlan_gpe_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/vxlan_gpe_vppcalls.go
  tests/integration/vpp/090_vxlan_gpe_test.go
Labels: ⚡️ feature

#1460 Fix agentctl dump command
  cmd/agentctl/commands/dump.go
Labels: :beetle: bug

#1462 Fix ACL/IPv6ACL CRUD tests
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/vpp_term.py
  tests/robot/suites/crud/acl_crud.robot
  tests/robot/suites/crud/replyACL/reply_acl1_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl1_update_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2_delete_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl3_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl4IPv6_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl4_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl5_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6_all_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl_all_term.txt
  tests/robot/suites/crudIPv6/acl_crudIPv6.robot
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_update_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2IPv6_delete_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2IPv6_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl3IPv6_udp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl4IPv6_udp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl5IPv6_icmp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl6IPv6_all_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl6IPv6_icmp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_aclIPv6_all_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl_all_term.txt
Labels: 🔨 testing

#1464 fix ipsec CRUD tests
  tests/robot/suites/crud/ipsec_crud.robot
  tests/robot/suites/crudIPv6/ipsec_crudIPv6.robot
Labels: 🔨 testing

#1463 Fix afpacket CRUD tests
  tests/robot/libraries/linux.robot
  tests/robot/libraries/vpp_term.robot
Labels: 🔨 testing

#1467 Print help with list of targets by default
  Makefile
Labels: 🔧 enhancement

#1471 Fix ACL ICMP rules
  plugins/vpp/aclplugin/vppcalls/vpp1904/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2001/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2001/acl_vppcalls_test.go
  plugins/vpp/aclplugin/vppcalls/vpp2001/dump_vppcalls.go
  tests/integration/vpp/040_acl_test.go
Labels: :beetle: bug

#1469 Fixed missed interface dependency for SRv6 L2 steering
  plugins/vpp/srplugin/descriptor/steering.go
Labels: :beetle: bug

#1466 fix ip route and inter-vrf route CRUD tests
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/pretty_keywords.robot
Labels: 🔨 testing

#1472 Remove VAT from ACL CRUD tests and refactor
  tests/robot/libraries/acl/acl_etcd.robot
  tests/robot/libraries/acl/acl_utils.py
  tests/robot/libraries/acl/acl_vpp.robot
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/vat_term.robot
  tests/robot/libraries/vpp_term.py
  tests/robot/libraries/vpp_term.robot
  tests/robot/resources/acl/acl_ICMP.json
  tests/robot/resources/acl/acl_ICMP_response_term.txt
  tests/robot/resources/acl/acl_MACIP.json
  tests/robot/resources/acl/acl_TCP.json
  tests/robot/resources/acl/acl_TCP_response_term.txt
  tests/robot/resources/acl/acl_UDP.json
  tests/robot/resources/acl/acl_UDP_response_term.txt
  tests/robot/suites/crud/acl_crud.robot
  tests/robot/suites/crud/replyACL/reply_acl1_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl1_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl1_update_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl1_update_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2_delete_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl2_tcp.txt
  tests/robot/suites/crud/replyACL/reply_acl2_tcp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl3_udp.txt
  tests/robot/suites/crud/replyACL/reply_acl3_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl4IPv6_udp.txt
  tests/robot/suites/crud/replyACL/reply_acl4IPv6_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl4_udp.txt
  tests/robot/suites/crud/replyACL/reply_acl4_udp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl5_icmp.txt
  tests/robot/suites/crud/replyACL/reply_acl5_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6_all_term.txt
  tests/robot/suites/crud/replyACL/reply_acl6_icmp.txt
  tests/robot/suites/crud/replyACL/reply_acl6_icmp_term.txt
  tests/robot/suites/crud/replyACL/reply_acl_all.txt
  tests/robot/suites/crud/replyACL/reply_acl_all_term.txt
  tests/robot/suites/crud/replyACL/reply_acl_empty.txt
  tests/robot/suites/crud/replyACL/reply_acl_empty_term.txt
  tests/robot/suites/crudIPv6/acl_crudIPv6.robot
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_tcp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_update_tcp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl1IPv6_update_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2IPv6_delete_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2IPv6_tcp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2IPv6_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl2_delete_tcp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl3IPv6_udp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl3IPv6_udp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl4IPv6_udp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl4IPv6_udp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl5IPv6_icmp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl5IPv6_icmp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl6IPv6_all_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl6IPv6_icmp.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl6IPv6_icmp_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_aclIPv6_all.txt
  tests/robot/suites/crudIPv6/replyACL/reply_aclIPv6_all_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl_all_term.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl_empty.txt
  tests/robot/suites/crudIPv6/replyACL/reply_acl_empty_term.txt
Labels: 🔨 testing

#1476 rework ACL CRUD tests to use VPP Python API
  tests/robot/libraries/__init__.py
  tests/robot/libraries/acl/__init__.py
  tests/robot/libraries/acl/acl_etcd.robot
  tests/robot/libraries/acl/acl_utils.py
  tests/robot/libraries/acl/acl_vpp.robot
  tests/robot/libraries/all_libs.robot
  tests/robot/libraries/configurations.robot
  tests/robot/libraries/docker.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/libraries/ssh.robot
  tests/robot/libraries/vpp_api.py
  tests/robot/libraries/vpp_api.robot
  tests/robot/suites/crud/acl_crud.robot
  tests/robot/suites/crudIPv6/acl_crudIPv6.robot
  tests/robot/tools/vpp_api_executor.py
  tests/robot/variables/common_variables.robot
Labels: 🔨 testing

#1478 Update VPP 19.08 support to v19.08.1-36~g54ff3fc83
  plugins/vpp/binapi/vpp1908/abf/abf.ba.go
  plugins/vpp/binapi/vpp1908/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp1908/gre/gre.ba.go
  plugins/vpp/binapi/vpp1908/interfaces/interfaces.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/session/session.ba.go
  plugins/vpp/binapi/vpp1908/vpe/vpe.ba.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/admin_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/admin_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls_test.go
  plugins/vpp/natplugin/vppcalls/vpp1908/dump_nat_vppcalls.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6_test.go
Labels: 🔄 VPP sync

#1468 Add e2e test for SPAN feature
  tests/e2e/030_span_test.go
  tests/e2e/e2e_test.go
Labels: 🔨 testing

#1480 test: use relative path for copying VPP API executor to device
  tests/robot/libraries/setup-teardown.robot
Labels: 🔨 testing

#1479 fix(vppcalls): Mapping flag for interface states
  .travis.yml
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_status_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  tests/integration/vpp/010_interfaces_test.go
Labels: :beetle: bug

#1481 test: Cleanup e2e tests
  tests/e2e/000_initial_test.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/011_interface_link_only_test.go
  tests/e2e/020_netalloc_test.go
  tests/e2e/030_span_test.go
  tests/e2e/e2e_test.go
  tests/e2e/run_e2e.sh
  tests/e2e/utils/http_rest.go
Labels: 🔨 testing

#1484 test: Cleanup CRUD tests - IP route, App Namespace, BFD
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/vpp_term.robot
  tests/robot/resources/app_namespace.json
  tests/robot/resources/bfd_echo_function.json
  tests/robot/resources/bfd_key.json
  tests/robot/resources/bfd_session.json
  tests/robot/suites/api/BFD/bfd_api.robot
  tests/robot/suites/crud/app_namespaces_crud.robot
  tests/robot/suites/crud/ip_route_crud.robot
  tests/robot/suites/crudIPv6/app_namespaces_crudIPv6.robot
  tests/robot/suites/crudIPv6/ip_route_crudIPv6.robot
Labels: 🔨 testing

#1486 Test: improve logging when VPP API calls fail
  tests/robot/libraries/vpp_api.py
Labels: 🔨 testing

#1487 test: remove VAT terminal from afpacket CRUD tests
  tests/robot/suites/crud/afpacket_crud.robot
  tests/robot/suites/crudIPv6/afpacket_crudIPv6.robot
  tests/robot/tools/vpp_api_executor.py
Labels: 🔨 testing

#1483 test: Add E2E tests for BD, NAT and ACLs
  Gopkg.lock
  tests/e2e/040_bridge_domain_test.go
  tests/e2e/050_nat_test.go
  tests/e2e/060_acl_test.go
  tests/e2e/e2e_test.go
Labels: 🔨 testing
