Repository ligato/vpp-agent, pull requests merged in 2019-08, with the labels that each got.

#1429 Define VRF as retrieve dependency for routes
  plugins/vpp/l3plugin/descriptor/route.go
Labels: :bug: bug

#1431 extend linux plugin
  api/models/linux/interfaces/interface.pb.go
  api/models/linux/interfaces/interface.proto
  plugins/linux/ifplugin/descriptor/interface.go
Labels: ⚡️ feature

#1428 WIP integration test ACL IP CRUD
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  tests/integration/vpp/040_acl_test.go
Labels: 🔨 testing

#1432 Fix Retrieve for TAPv2 interface without Linux-side NB config
  plugins/vpp/ifplugin/descriptor/interface_crud.go
Labels: :bug: bug

#1433 Update VPP 19.08 to stable (rc1)
  plugins/vpp/binapi/vpp1908/abf/abf.ba.go
  plugins/vpp/binapi/vpp1908/acl/acl.ba.go
  plugins/vpp/binapi/vpp1908/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/vpe/vpe.ba.go
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1436 cn-infra update
  Gopkg.lock
  vendor/github.com/ligato/cn-infra/db/keyval/etcd/plugin_impl_etcd.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/plugin.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/process_impl.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/process_options.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/template/model/process/process.pb.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/template/model/process/process.proto
  vendor/github.com/ligato/cn-infra/exec/supervisor/config.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/hooks.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/plugin.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/supervisor.conf
Labels: 🔗 dependencies

#1439 Fixed some typos in documentation
  docs/Deployment.md
  docs/kvscheduler/kvdescriptor.md
  docs/kvscheduler/kvscheduler.md
  docs/tutorials/05_kv-scheduler.md
Labels: 📜 docs & examples

#1430 API for SPAN
  api/models/vpp/interfaces/keys.go
  api/models/vpp/interfaces/span.pb.go
  api/models/vpp/interfaces/span.proto
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  examples/kvscheduler/span/main.go
  plugins/vpp/binapi/vpp1901/gen.go
  plugins/vpp/binapi/vpp1901/span/span.ba.go
  plugins/vpp/binapi/vpp1904/gen.go
  plugins/vpp/binapi/vpp1904/span/span.ba.go
  plugins/vpp/binapi/vpp1908/gen.go
  plugins/vpp/binapi/vpp1908/span/span.ba.go
  plugins/vpp/ifplugin/descriptor/adapter/span.go
  plugins/vpp/ifplugin/descriptor/span.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/span_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/span_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/span_vppcalls.go
  tests/integration/vpp/071_span_test.go
Labels: ⚡️ feature

#1437 Distinguish localclient from other kvdb data sources
  client/local_client.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  cmd/vpp-agent/app/vpp_agent.go
  examples/localclient_with_etcd/README.md
  examples/localclient_with_etcd/apply_config_via_etcd.sh
  examples/localclient_with_etcd/etcd.conf
  examples/localclient_with_etcd/kvscheduler.conf
  examples/localclient_with_etcd/list_etcd.sh
  examples/localclient_with_etcd/main.go
  examples/localclient_with_etcd/run_agent.sh
  examples/localclient_with_etcd/run_etcd.sh
  plugins/orchestrator/orchestrator.go
  plugins/vpp/ifplugin/interface_state.go
Labels: :bug: bug, 🔧 enhancement

#1441 Add srv6 config and spans to VPP config data
  api/models/vpp/vpp.pb.go
  api/models/vpp/vpp.proto
Labels: :bug: bug

#1442 Update documentation comments in protobuf API
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
Labels: 🔧 enhancement

#1444 Linux ifplugin improvements + VPP ifplugin bug fix
  api/models/linux/interfaces/interface.pb.go
  api/models/linux/interfaces/interface.proto
  api/models/linux/interfaces/keys.go
  api/models/vpp/interfaces/keys.go
  api/models/vpp/interfaces/keys_test.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/ifaceidx/ifaceidx.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/l3plugin/descriptor/route.go
  plugins/vpp/ifplugin/descriptor/dhcp.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_address.go
Labels: :bug: bug, 🔧 enhancement
