Repository ligato/vpp-agent, pull requests merged in 2019-02, with the labels that each got.

#1147 Fix renamed VPP deb packages
  docker/dev/Dockerfile
  docker/prod/Dockerfile
Labels: 🔗 dependencies

#1148 kvscheduler: graph improvements
  plugins/kvscheduler/graphviz.go
  plugins/kvscheduler/rest.go
Labels: 🔧 enhancement

#1149 KVScheduler improvements
  Gopkg.lock
  pkg/util/proto.go
  plugins/kvscheduler/api/errors.go
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/internal/utils/conversions.go
  plugins/kvscheduler/refresh.go
  plugins/orchestrator/dispatcher.go
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/stack.go
Labels: 🔧 enhancement

#1150 kvscheduler: fix cyclic deps + rename FOUND & RETRIEVED states
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/api/value_status.pb.go
  plugins/kvscheduler/api/value_status.proto
  plugins/kvscheduler/graphviz.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/value_flags.go
Labels: :bug: bug, 💡 refactoring

#1152 Implement multi source for data in orchestrator
  api/models/linux/linux_types.go
  api/models/vpp/vpp_types.go
  cmd/vpp-agent/app/v2/vpp_agent.go
  plugins/configurator/configurator.go
  plugins/configurator/options.go
  plugins/configurator/plugin.go
  plugins/orchestrator/dispatcher.go
  plugins/orchestrator/genericmanager.go
  plugins/orchestrator/orchestrator.go
  plugins/orchestrator/store.go
Labels: 💡 refactoring

#1154 Linux routes and ARPs also depend on the target interface to have IP address
  plugins/linuxv2/l3plugin/descriptor/arp.go
  plugins/linuxv2/l3plugin/descriptor/route.go
Labels: :bug: bug

#1156 Fix the missed import
  Makefile
  plugins/configurator/configurator.go
  plugins/linux/ifplugin/linuxcalls/mock_linuxcalls.go
Labels: :bug: bug

#1157 Fix deb package names for production image
  docker/prod/Dockerfile
Labels: :bug: bug

#1155 kvscheduler bugfix: revert only if failed value is from the current txn
  plugins/kvscheduler/graphviz.go
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/internal/test/values.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/utils_for_test.go
Labels: :bug: bug

#1158 Fix ready-test for newer etcd versions
  tests/robot/libraries/docker.robot
Labels: 🔨 testing

#1166 agent 2.0 changelog draft
  CHANGELOG.md
Labels: 📜 docs & examples

#1167 Update README
  README.md
Labels: 📜 docs & examples

#1169 Fix vpp1810 vppcalls binapi imports
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/ip_container_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/ip_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/ipsec_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/loopback_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/mac_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/mtu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/rx_mode_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/rx_placement_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/subif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vrf_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vxlan_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1810/ipsec_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/dump_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1810/vppcalls_handlers.go
Labels: :bug: bug

#1170 Apply patch to vpp1810 generated binapi
  plugins/vpp/binapi/vpp1810/ip/ip.ba.go
  plugins/vpp/binapi/vpp1810/sr/sr.ba.go
Labels: :bug: bug

#1175 Small cleanup and fixes
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/stats.go
  plugins/telemetry/config.go
  plugins/telemetry/prometheus.go
  plugins/telemetry/telemetry.go
  plugins/vpp/aclplugin/vppcalls/acl_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/ipsec_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/l2_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1810/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/natplugin/vppcalls/nat_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/punt_vppcalls.go
  plugins/vpp/stnplugin/vppcalls/stn_vppcalls.go
Labels: 🔧 enhancement

#1159 WIP: Re-enabling and fixing kvscheduler UTs.
  plugins/kvscheduler/internal/graph/graph_read.go
  plugins/kvscheduler/notification_test.go
  plugins/kvscheduler/resync_test.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_record.go
Labels: :exclamation: WIP [don't merge], 🔨 testing

#1183 af-packet fixes
  plugins/vpp/ifplugin/descriptor/interface_crud.go
Labels: :bug: bug

#1184 fixed af-packet mac address update
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
Labels: :bug: bug

#1185 Update vpp.env
  vpp.env
Labels: 🔗 dependencies

#1187 Add missing crypto algorithms for ipsec
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  api/models/vpp/ipsec/ipsec.pb.go
  api/models/vpp/ipsec/ipsec.proto
  plugins/vpp/ifplugin/vppcalls/vpp1810/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1810/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1901/dump_vppcalls.go
Labels: 🔧 enhancement

#1189 interface stats updated with new govpp api
  Gopkg.lock
  plugins/govppmux/plugin_api_govppmux.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/vpp/ifplugin/interface_state.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
  vendor/git.fd.io/govpp.git/api/binapi.go
  vendor/git.fd.io/govpp.git/api/stats.go
  vendor/git.fd.io/govpp.git/core/connection.go
  vendor/git.fd.io/govpp.git/core/request_handler.go
  vendor/git.fd.io/govpp.git/core/stats.go
Labels: 🔧 enhancement

#1192 Fixes and improvements
  pkg/idxvpp/idxvpp.go
  plugins/govppmux/govpp_channel.go
  plugins/govppmux/govpp_channel_test.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/vppcalls/vpp1901/vpe_vppcalls.go
  plugins/kvscheduler/api/kv_scheduler_api.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/txn_exec.go
  plugins/orchestrator/dispatcher.go
  plugins/vpp/ifplugin/ifaceidx/ifaceidx.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/publish_state.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/ipsec_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1810/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/ipsec_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/vmxnet3_vppcalls.go
  plugins/vpp/ipsecplugin/descriptor/sa.go
  plugins/vpp/ipsecplugin/descriptor/spd.go
  plugins/vpp/ipsecplugin/descriptor/spd_interface.go
  plugins/vpp/ipsecplugin/descriptor/spd_policy.go
  plugins/vpp/ipsecplugin/ipsecplugin.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1810/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1810/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1901/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1901/ipsec_vppcalls.go
  plugins/vpp/puntplugin/puntplugin.go
  plugins/vpp/puntplugin/vppcalls/vpp1810/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/punt_vppcalls.go
  plugins/vpp/stnplugin/vppcalls/vpp1810/stn_vppcalls.go
  plugins/vpp/stnplugin/vppcalls/vpp1901/stn_vppcalls.go
  tests/vppcallmock/vpp_ctx_mock.go
Labels: :bug: bug, :exclamation: WIP [don't merge], 🔧 enhancement

#1195 do not retry error where the DPDK interface is missing
  plugins/vpp/ifplugin/descriptor/interface.go
Labels: :bug: bug
