Repository ligato/vpp-agent, pull requests merged in 2019-04, with the labels that each got.

#1249 Added support for SRv6 end function End.DT4 and End.DT6 + other SRv6 fixes
  api/models/vpp/l3/keys.go
  api/models/vpp/srv6/srv6.pb.go
  api/models/vpp/srv6/srv6.proto
  plugins/vpp/srplugin/descriptor/localsid.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1810/srv6_test.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1901/srv6_test.go
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/vpp_term.robot
  tests/robot/resources/srv6_local_sid_with_dt4_end_function.json
  tests/robot/resources/srv6_local_sid_with_dt6_end_function.json
  tests/robot/resources/srv6_local_sid_with_dx2_end_function.json
  tests/robot/resources/srv6_local_sid_with_t_end_function.json
  tests/robot/resources/srv6_local_sid_with_x_end_function.json
  tests/robot/resources/srv6_steering_l2.json
  tests/robot/suites/crudIPv6/srv6_crudIPv6.robot
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_ad_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_dt4_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_dt6_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_dx4_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_dx6_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_t_output_match.txt
  tests/robot/suites/crudIPv6/test_data/srv6_sh_sr_localsid_end_x_output_match.txt
  tests/robot/suites/trafficIPv6/sr_proxy_traffic/dynamic_sr_proxy_trafficIPv6.robot
Labels: :bug: bug

#1255 kvscheduler: separate transaction summary from logrus-based logging
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/txn_record.go
Labels: 🔧 enhancement

#1251 tutorial: synchronous/asynchronous configuration
  docs/tutorials/07_vpp-connection.md
  docs/tutorials/README.md
  examples/tutorials/07_vpp-connection/main.go
Labels: 📜 docs & examples

#1264 fix for socketclient connection
  Gopkg.lock
  plugins/govppmux/govpp.conf
  plugins/govppmux/plugin_impl_govppmux.go
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/vppapiclient.go
  vendor/git.fd.io/govpp.git/core/channel.go
  vendor/git.fd.io/govpp.git/core/connection.go
Labels: :bug: bug, 🔧 enhancement

#1263 Fixed wrong dependency for SRv6 end functions referencing VRF tables (DT6,DT4,T)
  api/models/vpp/l3/keys.go
  api/models/vpp/l3/keys_test.go
  plugins/vpp/srplugin/descriptor/localsid.go
Labels: :bug: bug

#1260 Run supervisord as process with PID 1
  docker/dev/Dockerfile
  docker/prod/Dockerfile
Labels: :bug: bug

#1268 Update GoVPP
  Gopkg.lock
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/vppapiclient.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/vppapiclient_stub.go
Labels: :bug: bug, 🔗 dependencies

#1269 release notes v2.0.1
  CHANGELOG.md
Labels: 📜 docs & examples

#1274 add ipsec unit test 1901
  plugins/vpp/ifplugin/vppcalls/vpp1901/ipsec_vppcalls_test.go
Labels: 🔨 testing

#906 WIP: Generation of jenkins jobs for robot tests with the help of jenkins-jobs-builder
  tests/jenkins/README.md
  tests/jenkins/jenkins_jobs.ini
  tests/jenkins/prepare_templates.sh
  tests/jenkins/vpp_agent_templates/05robot_test_template.yaml
  tests/jenkins/vpp_agent_templates/defaults.yaml
  tests/jenkins/vpp_agent_templates/generate_robot_tests.py
  tests/jenkins/vpp_agent_templates/list_of_all_robot_tests
Labels: 🔧 enhancement, 🔨 testing

#1281 Fix debian package names for VPP 19.04 and move to stable/1904
  docker/dev/Dockerfile
  vpp.env
Labels: :bug: bug

#1280 add subif unit test 1901
  plugins/vpp/ifplugin/vppcalls/vpp1901/subif_vppcals_test.go
Labels: 🔨 testing

#1262 Agentctl2
  Gopkg.lock
  Makefile
  cmd/agentctl2/agentctl2.go
  cmd/agentctl2/cmd/del.go
  cmd/agentctl2/cmd/dump.go
  cmd/agentctl2/cmd/generate.go
  cmd/agentctl2/cmd/log.go
  cmd/agentctl2/cmd/put.go
  cmd/agentctl2/cmd/root.go
  cmd/agentctl2/cmd/show.go
  cmd/agentctl2/cmd/show_version.go
  cmd/agentctl2/cmd/vppcli.go
  cmd/agentctl2/cmd_generator/generate_config.go
  cmd/agentctl2/restapi/handler.go
  cmd/agentctl2/utils/common_utils.go
  cmd/agentctl2/utils/db_read_utils.go
  cmd/agentctl2/utils/db_write_utils.go
  cmd/agentctl2/utils/print_log.go
  cmd/agentctl2/utils/print_text.go
  scripts/genprotos.sh
Labels: :exclamation: WIP [don't merge], ⚡️ feature

#1290 fixed arp v6 retrieve
  plugins/vpp/l3plugin/vppcalls/vpp1810/arp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/arp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/arp_dump.go
Labels: :bug: bug

#1288 Telemetry for VPP 19.04 (use stats API + fix CLI parsing)
  Gopkg.lock
  plugins/configurator/plugin.go
  plugins/govppmux/adapter_vppapiclient.go
  plugins/govppmux/plugin_api_govppmux.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/restapi/handlers.go
  plugins/restapi/plugin_restapi.go
  plugins/telemetry/prometheus.go
  plugins/telemetry/telemetry.go
  plugins/telemetry/vppcalls/vpp1810/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp1904/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1904/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vppcalls_api.go
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client.go
  vendor/git.fd.io/govpp.git/api/stats.go
  vendor/git.fd.io/govpp.git/core/stats.go
Labels: :bug: bug

#1295 govppmux: allow to choose between shm & socket using a config option
  plugins/govppmux/adapter_stubs.go
  plugins/govppmux/adapter_vppapiclient.go
  plugins/govppmux/govpp.conf
  plugins/govppmux/plugin_impl_govppmux.go
Labels: 🔧 enhancement

#1297 Explicitly set vrf=0 for numbered interfaces
  plugins/vpp/ifplugin/descriptor/interface_vrf.go
Labels: :bug: bug

#1298 Kvscheduler transaction statistics
  plugins/kvscheduler/stats.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_record.go
Labels: 🔧 enhancement

#1299 add unit tests to 1904
  plugins/vpp/ifplugin/vppcalls/vpp1904/ipsec_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/subif_vppcals_test.go
Labels: 🔨 testing

#1294 unit test watch_vppcals
  plugins/vpp/ifplugin/vppcalls/vpp1901/watch_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/watch_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/watch_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/watch_vppcalls_test.go
  plugins/vpp/vppcallmock/vpp_ctx_mock.go
Labels: 🔨 testing

#1303 Configurator (gRPC) stats
  plugins/configurator/configurator.go
  plugins/configurator/dump.go
  plugins/configurator/stats.go
  plugins/restapi/handlers.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
Labels: ⚡️ feature

#1304 kvgraph: further performance improvements
  plugins/kvscheduler/internal/graph/bench_test.go
  plugins/kvscheduler/internal/graph/edge_lookup.go
  plugins/kvscheduler/internal/graph/edge_lookup_test.go
  plugins/kvscheduler/internal/graph/graph_impl.go
  plugins/kvscheduler/internal/graph/graph_read.go
Labels: 🔧 enhancement

#1305 fix non zero vrf
  tests/robot/libraries/pretty_keywords.robot
  tests/robot/suites/crud/inter_vrf_routing_crud.robot
  tests/robot/suites/crud/ip_route_crud.robot
  tests/robot/suites/crudIPv6/inter_vrf_routing_crud_ipv6.robot
  tests/robot/suites/crudIPv6/ip_route_crudIPv6.robot
  tests/robot/suites/traffic/ip_route/test_inter_vrf_routes.robot
  tests/robot/suites/trafficIPv6/ip_route/test_inter_vrf_routes_ipv6.robot
Labels: 🔨 testing
