Repository ligato/vpp-agent, pull requests merged in 2019-11, with the labels that each got.

#1559 fix: agentctl import with short keys
  cmd/agentctl/cli/cli.go
  cmd/agentctl/client/api.go
  cmd/agentctl/client/kvdb.go
  cmd/agentctl/commands/import.go
Labels: :beetle: bug

#1560 feat: GTP-U tunnel support
  plugins/vpp/binapi/vpp1904/gen.go
  plugins/vpp/binapi/vpp1904/gtpu/gtpu.ba.go
  plugins/vpp/binapi/vpp1908/gen.go
  plugins/vpp/binapi/vpp1908/gtpu/gtpu.ba.go
  plugins/vpp/binapi/vpp2001/gen.go
  plugins/vpp/binapi/vpp2001/gtpu/gtpu.ba.go
  plugins/vpp/binapi/vpp2001_324/gen.go
  plugins/vpp/binapi/vpp2001_324/gtpu/gtpu.ba.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/vppcalls_handler.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
  tests/integration/vpp/100_gtpu_test.go
Labels: ⚡️ feature

#1561 refactor: Move creation of ProtoBroker to kvdb client
  cmd/agentctl/cli/cli.go
  cmd/agentctl/client/api.go
  cmd/agentctl/client/kvdb.go
  cmd/agentctl/commands/import.go
Labels: ♻️ refactoring

#1534 feat: TLS, HTTP basic auth and config file for AgentCTL
  cmd/agentctl/cli/cli.go
  cmd/agentctl/cli/config.go
  cmd/agentctl/cli/config_test.go
  cmd/agentctl/cli/flags.go
  cmd/agentctl/cli/viper.go
  cmd/agentctl/client/api.go
  cmd/agentctl/client/client.go
  cmd/agentctl/client/http.go
  cmd/agentctl/client/http_transport_go113.go
  cmd/agentctl/client/http_transport_other.go
  cmd/agentctl/client/options.go
  cmd/agentctl/client/tlsconfig/tlsconfig.go
  cmd/agentctl/commands/kvdb.go
  cmd/agentctl/commands/root.go
  go.mod
  go.sum
  tests/e2e/100_agentctl_test.go
  tests/e2e/e2e_test.go
  tests/e2e/microservice_test.go
  tests/e2e/resources/agentctl.conf
  tests/e2e/resources/certs/ca-key.pem
  tests/e2e/resources/certs/ca.pem
  tests/e2e/resources/certs/cert1-key.pem
  tests/e2e/resources/certs/cert1.pem
  tests/e2e/resources/grpc-secure-full.conf
  tests/e2e/resources/grpc-secure.conf
  tests/e2e/resources/grpc.conf
  tests/e2e/run_e2e.sh
Labels: ⚡️ feature

#1563 feat: GRPC retrieve for linux plugins
  plugins/configurator/dump.go
  plugins/configurator/options.go
  plugins/configurator/plugin.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/descriptor/interface_tap.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/ifplugin/linuxcalls/dump_interface_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/descriptor/arp.go
  plugins/linux/l3plugin/descriptor/route.go
  plugins/linux/l3plugin/l3plugin.go
  plugins/linux/l3plugin/linuxcalls/arp_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/dump_arp_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/dump_route_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/linuxcalls/route_linuxcalls.go
  plugins/linux/nsplugin/ns_plugin.go
  plugins/restapi/handlers.go
  plugins/restapi/options.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/options.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/011_interface_link_only_test.go
Labels: ⚡️ feature, 👈 needs review

#1568 fix: added GTPU to the interface type guessing function
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/gtpu_vppcalls_test.go
Labels: :beetle: bug

#1567 fix: Unnumbered interface name
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/dump_interface_vppcalls.go
  tests/integration/vpp/090_vxlan_gpe_test.go
  tests/integration/vpp/100_gtpu_test.go
Labels: :beetle: bug

#1571 feat: vpp sr encap source address descriptor and configurator m…
  plugins/vpp/srplugin/descriptor/adapter/srv6global.go
  plugins/vpp/srplugin/descriptor/srv6_global.go
  plugins/vpp/srplugin/srplugin.go
  proto/ligato/vpp/srv6/models.go
  proto/ligato/vpp/srv6/srv6.pb.go
  proto/ligato/vpp/srv6/srv6.proto
  proto/ligato/vpp/vpp.pb.go
  proto/ligato/vpp/vpp.proto
Labels: project/nsm, 🔧 enhancement

#1573 test: added basic integration tests for SRv6 Localsids
  plugins/vpp/srplugin/vppcalls/api_vppcalls.go
  plugins/vpp/srplugin/vppcalls/vpp1904/srv6_dump.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6_dump.go
  plugins/vpp/srplugin/vppcalls/vpp2001/srv6_dump.go
  plugins/vpp/srplugin/vppcalls/vpp2001_324/srv6_dump.go
  tests/integration/vpp/110_srv6_test.go
Labels: 🔨 testing

#1574 Release 2.5.0
  CHANGELOG.md
  plugins/configurator/dump.go
  plugins/configurator/options.go
  plugins/configurator/plugin.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/descriptor/interface_tap.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/ifplugin/linuxcalls/dump_interface_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/descriptor/arp.go
  plugins/linux/l3plugin/descriptor/route.go
  plugins/linux/l3plugin/l3plugin.go
  plugins/linux/l3plugin/linuxcalls/arp_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/dump_arp_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/dump_route_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/linuxcalls/route_linuxcalls.go
  plugins/linux/nsplugin/ns_plugin.go
  plugins/restapi/handlers.go
  plugins/restapi/options.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/options.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/011_interface_link_only_test.go
  tests/integration/vpp/integration_test.go
Labels: ✨ release
