Repository ligato/vpp-agent, pull requests merged in 2019-07, with the labels that each got.

#1399 Improvements for agentctl
  api/models/vpp/abf/keys_test.go
  client/client_api.go
  client/remoteclient/grpc_client.go
  cmd/agentctl/cmd/generate.go
  cmd/agentctl/cmd/import.go
  cmd/agentctl/cmd/put.go
  cmd/agentctl/cmd/root.go
  cmd/agentctl/cmd/show.go
  cmd/agentctl/utils/common_utils.go
  cmd/agentctl/utils/db_write_utils.go
  examples/custom_model/main.go
  pkg/models/models.go
  pkg/models/spec.go
  plugins/configurator/configurator.go
Labels: 🔧 enhancement

#1400 Update README.md
  README.md
Labels: 📜 docs & examples

#1402 Performance improvements around isNodeReady
  plugins/kvscheduler/internal/graph/graph_api.go
  plugins/kvscheduler/internal/graph/node_read.go
  plugins/kvscheduler/node_utils.go
  plugins/kvscheduler/txn_exec.go
Labels: 🔧 enhancement

#1403 Add derived (property) key-value marking interface with at least one IP address
  api/models/vpp/interfaces/keys.go
  api/models/vpp/interfaces/keys_test.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_with_address.go
  plugins/vpp/ifplugin/descriptor/unnumbered.go
  plugins/vpp/ifplugin/ifplugin.go
Labels: 🔧 enhancement

#1404 Update perf tests
  Makefile
  tests/perf/.gitignore
  tests/perf/grpc-perf/grpc.conf
  tests/perf/grpc-perf/kvscheduler.conf
  tests/perf/grpc-perf/main.go
  tests/perf/grpc-perf/telemetry.conf
  tests/perf/perf_test.sh
  tests/perf/run_all.sh
Labels: 🔨 testing

#1405 Cleanup puntplugin
  plugins/vpp/puntplugin/descriptor/ip_punt_redirect.go
  plugins/vpp/puntplugin/descriptor/punt_exception.go
  plugins/vpp/puntplugin/vppcalls/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1904/punt_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/puntplugin/vppcalls/vpp1908/punt_vppcalls.go
Labels: 💡 refactoring

#1407 vpp19.08 updated to rc0.581-g3eea9de89
  cmd/vpp-agent-ctl/data/ifplugin.go
  cmd/vpp-agent-ctl/data/l3plugins.go
  cmd/vpp-agent-ctl/main.go
  plugins/configurator/options.go
  plugins/configurator/plugin.go
  plugins/restapi/options.go
  plugins/restapi/plugin_restapi.go
  plugins/vpp/abfplugin/vppcalls/abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/abfplugin/vppcalls/vpp1904/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/abf_vppcalls_test.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/dump_abf_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/binapi/vpp1908/abf/abf.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/tapv2/tapv2.ba.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/ip_container_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/ip_container_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1908/arp_term_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/vpp1908/arp_term_vppcalls_test.go
  plugins/vpp/l2plugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/vpp1908/dump_vppcalls_test.go
  plugins/vpp/l3plugin/descriptor/adapter/vrftable.go
  plugins/vpp/l3plugin/descriptor/vrf_table.go
  plugins/vpp/l3plugin/l3plugin.go
  plugins/vpp/l3plugin/l3plugin_api.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/route_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/route_dump_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/route_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/route_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_dump_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_vppcalls_test.go
  plugins/vpp/l3plugin/vrfidx/doc.go
  plugins/vpp/l3plugin/vrfidx/vrfidx.go
  plugins/vpp/l3plugin/vrfidx/vrfidx_test.go
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1409 VPP integration tests
  .travis.yml
  Gopkg.lock
  Makefile
  docker/dev/Dockerfile
  plugins/govppmux/vppcalls/vpp1901/vpe_vppcalls.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls.go
  plugins/vpp/abfplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/aclplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/binapi/vpp1901/abf.patch
  plugins/vpp/binapi/vpp1901/abf/abf.ba.go
  plugins/vpp/binapi/vpp1901/acl/acl.ba.go
  plugins/vpp/binapi/vpp1901/af_packet/af_packet.ba.go
  plugins/vpp/binapi/vpp1901/bfd/bfd.ba.go
  plugins/vpp/binapi/vpp1901/bond/bond.ba.go
  plugins/vpp/binapi/vpp1901/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp1901/gen.go
  plugins/vpp/binapi/vpp1901/interfaces/interfaces.ba.go
  plugins/vpp/binapi/vpp1901/ip/ip.ba.go
  plugins/vpp/binapi/vpp1901/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1901/l2/l2.ba.go
  plugins/vpp/binapi/vpp1901/memclnt/memclnt.ba.go
  plugins/vpp/binapi/vpp1901/memif/memif.ba.go
  plugins/vpp/binapi/vpp1901/nat/nat.ba.go
  plugins/vpp/binapi/vpp1901/punt/punt.ba.go
  plugins/vpp/binapi/vpp1901/session/session.ba.go
  plugins/vpp/binapi/vpp1901/sr/sr.ba.go
  plugins/vpp/binapi/vpp1901/stn/stn.ba.go
  plugins/vpp/binapi/vpp1901/tap/tap.ba.go
  plugins/vpp/binapi/vpp1901/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vpp1901/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpp1901/vpe/vpe.ba.go
  plugins/vpp/binapi/vpp1901/vxlan/vxlan.ba.go
  plugins/vpp/binapi/vpp1908/abf.patch
  plugins/vpp/binapi/vpp1908/ip.patch
  plugins/vpp/ifplugin/vppcalls/vpp1901/vppcalls_handler.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/l2plugin/vppcalls/vpp1901/vppcalls_handler.go
  plugins/vpp/l3plugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/natplugin/vppcalls/vpp1901/vppcalls_handler.go
  plugins/vpp/puntplugin/vppcalls/vpp1901/vppcalls_handler.go
  plugins/vpp/srplugin/vppcalls/vpp1901/vppcalls_handlers.go
  plugins/vpp/stnplugin/vppcalls/vpp1901/vppcalls_handler.go
  scripts/genbinapi.sh
  tests/integration/README.md
  tests/integration/vpp/000_initial_test.go
  tests/integration/vpp/001_basic_test.go
  tests/integration/vpp/integration_test.go
  tests/integration/vpp_integration.sh
  vendor/github.com/mitchellh/go-ps/.gitignore
  vendor/github.com/mitchellh/go-ps/.travis.yml
  vendor/github.com/mitchellh/go-ps/LICENSE.md
  vendor/github.com/mitchellh/go-ps/README.md
  vendor/github.com/mitchellh/go-ps/Vagrantfile
  vendor/github.com/mitchellh/go-ps/process.go
  vendor/github.com/mitchellh/go-ps/process_darwin.go
  vendor/github.com/mitchellh/go-ps/process_freebsd.go
  vendor/github.com/mitchellh/go-ps/process_linux.go
  vendor/github.com/mitchellh/go-ps/process_solaris.go
  vendor/github.com/mitchellh/go-ps/process_unix.go
  vendor/github.com/mitchellh/go-ps/process_windows.go
Labels: 🔨 testing

#1410 Update GoVPP & aggregated watcher
  Gopkg.lock
  plugins/orchestrator/watcher/aggregator.go
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/stat_segment.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/statsclient.go
  vendor/git.fd.io/govpp.git/adapter/vpp_api.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/vppapiclient.go
  vendor/git.fd.io/govpp.git/core/channel.go
  vendor/git.fd.io/govpp.git/core/connection.go
  vendor/git.fd.io/govpp.git/core/log.go
  vendor/git.fd.io/govpp.git/core/request_handler.go
Labels: 🔗 dependencies

#1411 Fix key collisions for vpp routes
  api/models/vpp/l3/keys.go
  api/models/vpp/l3/keys_test.go
  clientv2/linux/data_change_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  cmd/vpp-agent-ctl/data/l3plugins.go
  examples/kvscheduler/vpp-l3/main.go
  examples/localclient_vpp/plugins/main.go
  pkg/models/spec.go
  plugins/vpp/l3plugin/descriptor/route.go
Labels: :bug: bug

#1412 added memif interface test to tests/integration
  tests/integration/vpp/001_basic_test.go
Labels: 🔨 testing

#1413 Update VPP to 19.08-rc0.666-g9082b43dd
  plugins/vpp/binapi/vpp1908/abf/abf.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
  plugins/vpp/binapi/vpp1908/punt/punt.ba.go
  plugins/vpp/binapi/vpp1908/vpe/vpe.ba.go
  scripts/genbinapi.sh
  scripts/install_protobuf.sh
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1415 Optimize interface state dump for specific interfaces
  plugins/vpp/ifplugin/config.go
  plugins/vpp/ifplugin/descriptor/link_state.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/interface_state.go
  plugins/vpp/ifplugin/publish_state.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1901/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  tests/integration/vpp/010_interfaces_test.go
  tests/integration/vpp/integration_test.go
Labels: 🔧 enhancement

#1417 Add option for skipping metrics in telemetry plugin
  plugins/telemetry/config.go
  plugins/telemetry/metrics.go
  plugins/telemetry/telemetry.conf
  plugins/telemetry/telemetry.go
Labels: 🔧 enhancement

#1420 Minor enhancements and code cleanups
  Makefile
  plugins/kvscheduler/api/txn_options.go
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/plugin_scheduler.go
  plugins/kvscheduler/refresh.go
  plugins/kvscheduler/txn_process.go
  plugins/kvscheduler/txn_record.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_tap.go
  plugins/linux/ifplugin/descriptor/interface_veth.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/rx_mode.go
  plugins/vpp/ifplugin/descriptor/rx_placement.go
Labels: 🔧 enhancement

#1421 Add integration test for IP address
  tests/integration/vpp/010_interfaces_test.go
Labels: 🔨 testing

#1422 added arp crud integration test
  tests/integration/vpp/030_arp_test.go
Labels: 🔨 testing

#1424 Update VPP to 19.08-rc0.699-gf7c30df4b
  plugins/vpp/binapi/vpp1908/bond/bond.ba.go
  plugins/vpp/binapi/vpp1908/session/session.ba.go
  vpp.env
Labels: :small_orange_diamond: VPP sync

#1423 kvscheduler: keep node in the graph during recreate
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/datachange_test.go
  plugins/kvscheduler/internal/test/model/values.pb.go
  plugins/kvscheduler/internal/test/model/values.proto
  plugins/kvscheduler/internal/test/southbound.go
  plugins/kvscheduler/internal/test/values.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_record.go
Labels: :bug: bug

#1426 Update VPP to 19.08-rc0.706-ga58fec168
  vpp.env
Labels: :small_orange_diamond: VPP sync
