Repository ligato/vpp-agent, pull requests merged in 2019-10, with the labels that each got.

#1490 test: add missing libraries for VPP python API handling of interfaces
  tests/robot/libraries/interface/__init__.py
  tests/robot/libraries/interface/afpacket.robot
  tests/robot/libraries/interface/interface_generic.py
  tests/robot/libraries/interface/interface_generic.robot
Labels: 🔨 testing

#1495 feat: Add stats poller service for retrieving VPP stats
  Gopkg.lock
  api/configurator/configurator.pb.go
  api/configurator/configurator.proto
  api/models/vpp/interfaces/state.pb.go
  api/models/vpp/interfaces/state.proto
  api/models/vpp/vpp.pb.go
  api/models/vpp/vpp.proto
  examples/grpc_vpp/stats_poller/main.go
  plugins/configurator/metrics.go
  plugins/govppmux/mock/mock_govppmux.go
  plugins/govppmux/stats_client.go
  plugins/telemetry/options.go
  plugins/telemetry/prometheus.go
  plugins/telemetry/stats_poller.go
  plugins/telemetry/telemetry.go
  plugins/telemetry/vppcalls/telemetry_stats.go
  plugins/telemetry/vppcalls/telemetry_stats_test.go
  plugins/telemetry/vppcalls/vpp1904/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1904/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp1908/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1908/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp2001/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp2001/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vppcalls_api.go
  plugins/vpp/ifplugin/interface_state.go
  tests/integration/vpp/001_telemetry_test.go
  vendor/git.fd.io/govpp.git/adapter/mock/mock_stats_adapter.go
  vendor/git.fd.io/govpp.git/adapter/stats_api.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/stat_segment.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/statsclient.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/statseg.go
  vendor/git.fd.io/govpp.git/adapter/statsclient/version.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client.go
  vendor/git.fd.io/govpp.git/adapter/vppapiclient/stat_client_stub.go
  vendor/git.fd.io/govpp.git/api/stats.go
  vendor/git.fd.io/govpp.git/core/connection.go
  vendor/git.fd.io/govpp.git/core/stats.go
Labels: project/nsm, ⚡️ feature

#1492 fix: Wait for interfaces after microservice restart in the bridge domain E2E tests
  tests/e2e/040_bridge_domain_test.go
Labels: 🔨 testing

#1497 test: fix expected IPv6 network value in API dump
  tests/robot/suites/crudIPv6/acl_crudIPv6.robot
Labels: 🔨 testing

#1475 test: Code coverage for e2e tests
  .travis.yml
  Makefile
  cmd/vpp-agent/vpp_agent_test.go
  tests/e2e/e2e_test.go
  tests/e2e/run_e2e.sh
Labels: 🔨 testing

#1501 docs: fix link to docs about building local image
  README.md
Labels: 📜 docs & examples

#1500 test: fix IPv6 ARP CRUD tests using ipv4 addresses
  tests/robot/libraries/linux.py
  tests/robot/libraries/linux.robot
  tests/robot/libraries/vpp_term.py
  tests/robot/libraries/vpp_term.robot
  tests/robot/suites/crudIPv6/arp_crudIPv6.robot
Labels: 🔨 testing

#1502 docs: (cherry-pick) fix link to docs about building local image
  README.md
Labels: 📜 docs & examples

#1504 test: remove VAT from Bridge Domain CRUD tests
  tests/robot/libraries/bridge_domain/bridge_domain.robot
  tests/robot/libraries/bridge_domain/bridge_utils.py
  tests/robot/libraries/etcdctl.py
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/interface/interface_generic.py
  tests/robot/libraries/interface/interface_generic.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/libraries/vat_term.py
  tests/robot/suites/crud/bd_crud.robot
  tests/robot/suites/crudIPv6/bd_crudIPv6.robot
Labels: 🔨 testing

#1506 test: increase agent setup timeout in robot tests
  tests/robot/libraries/docker.robot
Labels: 🔨 testing

#1507 test: remove VAT from xconnect CRUD tests
  tests/robot/suites/crud/l2xconnect_crud.robot
  tests/robot/suites/crudIPv6/l2xconnect_crudIPv6.robot
Labels: 🔨 testing

#1508 test: remove linux-arp CRUD test suites
  tests/robot/suites/crud/linux_arp_crud.robot
  tests/robot/suites/crudIPv6/linux_arp_crudIPv6.robot
Labels: 🔨 testing

#1505 refactor: Update conf duration to string values
  Gopkg.lock
  docker/dev/etcd.conf
  docker/prod/etcd.conf
  examples/localclient_with_etcd/etcd.conf
  examples/tutorials/101_custom-vppagent/etcd.conf
  k8s/dev-setup/etcd.conf
  k8s/dev-setup/vnf-vpp.yaml
  k8s/dev-setup/vswitch-vpp.yaml
  k8s/perf-demo/scenario1/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/scenario1/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/scenario2/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/scenario2/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/scenario4/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/scenario4/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario1/sfc/sfc-cfg.yaml
  k8s/perf-demo/with-controller/scenario1/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario1/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario2/sfc/sfc-cfg.yaml
  k8s/perf-demo/with-controller/scenario2/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario2/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario23/sfc/sfc-cfg.yaml
  k8s/perf-demo/with-controller/scenario23/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario23/vswitch/vswitch-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario4/sfc/sfc-cfg.yaml
  k8s/perf-demo/with-controller/scenario4/vnf/vnf-agent-cfg.yaml
  k8s/perf-demo/with-controller/scenario4/vswitch/vswitch-agent-cfg.yaml
  k8s/tests/vnf-vpp.yaml
  k8s/tests/vpp.yaml
  k8s/tests/vswitch-vpp.yaml
  plugins/govppmux/govpp.conf
  plugins/telemetry/telemetry.conf
  tests/robot/resources/k8-yaml/sfc-k8.yaml
  tests/robot/resources/k8-yaml/vswitch.yaml
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/config/parser.go
  vendor/github.com/ligato/cn-infra/logging/logmanager/logs.conf
  vendor/github.com/ligato/cn-infra/rpc/rest/security/password-hasher/main.go
Labels: ♻️ refactoring

#1511 feat: VPP 20.01 update
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  plugins/vpp/binapi/vpp2001/abf/abf.ba.go
  plugins/vpp/binapi/vpp2001/acl/acl.ba.go
  plugins/vpp/binapi/vpp2001/af_packet/af_packet.ba.go
  plugins/vpp/binapi/vpp2001/bond/bond.ba.go
  plugins/vpp/binapi/vpp2001/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp2001/gre/gre.ba.go
  plugins/vpp/binapi/vpp2001/interfaces/interfaces.ba.go
  plugins/vpp/binapi/vpp2001/ip/ip.ba.go
  plugins/vpp/binapi/vpp2001/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp2001/l2/l2.ba.go
  plugins/vpp/binapi/vpp2001/memclnt/memclnt.ba.go
  plugins/vpp/binapi/vpp2001/memif/memif.ba.go
  plugins/vpp/binapi/vpp2001/nat/nat.ba.go
  plugins/vpp/binapi/vpp2001/punt/punt.ba.go
  plugins/vpp/binapi/vpp2001/span/span.ba.go
  plugins/vpp/binapi/vpp2001/sr/sr.ba.go
  plugins/vpp/binapi/vpp2001/stn/stn.ba.go
  plugins/vpp/binapi/vpp2001/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vpp2001/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpp2001/vpe/vpe.ba.go
  plugins/vpp/binapi/vpp2001/vxlan/vxlan.ba.go
  plugins/vpp/binapi/vpp2001/vxlan_gpe/vxlan_gpe.ba.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/vppcalls/if_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/memif_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/memif_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/afpacket_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/afpacket_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/bond_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dhcp_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dhcp_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/ip_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/memif_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/watch_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/watch_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/dhcpproxy_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/dhcpproxy_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/route_vppcalls.go
  tests/integration/vpp/010_interfaces_test.go
  vpp.env
Labels: 🔃 VPP compatibility

#1512 test: Remove VAT console from loopback interface CRUD tests
  tests/robot/suites/crud/loopback_crud.robot
  tests/robot/suites/crudIPv6/loopback_crudIPv6.robot
Labels: 🔨 testing

#1515 test: remove VAT console from stn_rule CRUD tests
  tests/robot/suites/crud/stn_rule_crud.robot
  tests/robot/suites/crudIPv6/stn_rule_crudIPv6.robot
Labels: 🔨 testing

#1517 test: Remove VAT console from veth interface CRUD tests
  tests/robot/suites/crud/veth_crud.robot
  tests/robot/suites/crudIPv6/veth_crudIPv6.robot
Labels: 🔨 testing

#1518 test: Remove VAT console from vxlan interface CRUD tests
  tests/robot/libraries/interface/vxlan.robot
  tests/robot/suites/crud/vxlan_crud.robot
  tests/robot/suites/crudIPv6/vxlan_crudIPv6.robot
Labels: 🔨 testing

#1516 test: Remove VAT console from tap interface CRUD tests
  tests/robot/suites/crud/tap_unnumbered_crud.robot
  tests/robot/suites/crud/tapv2_crud.robot
  tests/robot/suites/crudIPv6/tap_unnumbered_crudIPv6.robot
  tests/robot/suites/crudIPv6/tapv2_crudIPv6.robot
Labels: 🔨 testing

#1521 fix: Flags for agentctl
  cmd/agentctl/cli/flags.go
  cmd/agentctl/commands/root.go
Labels: :beetle: bug

#1522 feat: Add metrics registry
  pkg/metrics/registry.go
  pkg/metrics/registry_test.go
  pkg/models/models.go
  pkg/models/registry.go
  plugins/govppmux/model/metrics.pb.go
  plugins/govppmux/model/metrics.proto
  plugins/govppmux/stats.go
  plugins/telemetry/telemetry.go
Labels: ⚡️ feature

#1523 build: Update govpp and cn-infra
  Gopkg.lock
  vendor/git.fd.io/govpp.git/core/stats.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/kv_iterator.go
  vendor/github.com/ligato/cn-infra/datasync/syncbase/msg/change_event.go
  vendor/github.com/ligato/cn-infra/docker/dev_cn_infra/Dockerfile
  vendor/github.com/ligato/cn-infra/examples/model/doc.go
  vendor/github.com/ligato/cn-infra/examples/model/example.pb.go
Labels: 🔗 dependencies

#1470 test: e2e tests for agentctl
  tests/e2e/100_agentctl_test.go
  tests/e2e/run_e2e.sh
Labels: 🔨 testing

#1531 VPP-Agent v2.3.1 changelog
  CHANGELOG.md
Labels: 📜 docs & examples

#1532 fix: Allow selectively turn off prometheus metrics and/or stats…
  plugins/telemetry/config.go
  plugins/telemetry/telemetry.conf
  plugins/telemetry/telemetry.go
Labels: 🔧 enhancement

#1533 Release 2.4.0
  CHANGELOG.md
  plugins/telemetry/config.go
  plugins/telemetry/telemetry.conf
  plugins/telemetry/telemetry.go
Labels: ✨ release

#1535 refactor: Cleanup protobuf files
  .travis.yml
  Makefile
  api/configurator/configurator.pb.go
  api/configurator/configurator.proto
  api/configurator/statspoller.pb.go
  api/configurator/statspoller.proto
  api/generic/manager.proto
  api/generic/model.proto
  api/models/linux/interfaces/interface.pb.go
  api/models/linux/interfaces/interface.proto
  api/models/linux/iptables/iptables.pb.go
  api/models/linux/iptables/iptables.proto
  api/models/linux/linux.pb.go
  api/models/linux/linux.proto
  api/models/vpp/abf/abf.pb.go
  api/models/vpp/abf/abf.proto
  api/models/vpp/acl/acl.pb.go
  api/models/vpp/acl/acl.proto
  api/models/vpp/interfaces/interface.pb.go
  api/models/vpp/interfaces/interface.proto
  api/models/vpp/interfaces/span.proto
  api/models/vpp/interfaces/state.pb.go
  api/models/vpp/interfaces/state.proto
  api/models/vpp/vpp.pb.go
  api/models/vpp/vpp.proto
  plugins/govppmux/model/metrics.pb.go
  plugins/govppmux/model/metrics.proto
  plugins/kvscheduler/api/value_status.pb.go
  plugins/kvscheduler/api/value_status.proto
  plugins/kvscheduler/internal/test/model/values.pb.go
  scripts/genprotos.sh
Labels: ♻️ refactoring

#1545 test: Traffic test cleanup: bridge, linux route
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/vpp_term.py
  tests/robot/resources/linux_default_static_route.json
  tests/robot/suites/crud/linux_ip_route_crud.robot
  tests/robot/suites/crudIPv6/linux_ip_route_crudIPv6.robot
  tests/robot/suites/traffic/bridge_domain/test_bridge_domain.robot
  tests/robot/suites/traffic/linux_traffic/1x_vpp_3x_namespaces_traffic.robot
  tests/robot/suites/traffic/tap_int_traffic/tap_int_and_route_config_order_traffic.robot
  tests/robot/suites/traffic/tapv2_int_traffic/tapv2_int_and_route_config_order_traffic.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test1_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test2_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/bridge_domain/test3_bridge_domainIPv6.robot
  tests/robot/suites/trafficIPv6/linux_traffic/1x_vpp_3x_namespaces_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_and_route_config_order_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/tapv2_int_traffic/tapv2_int_and_route_config_order_trafficIPv6.robot
Labels: 🔨 testing

#1547 docs: Fix dead links
  CHANGELOG.md
  README.md
  plugins/vpp/srplugin/README.md
  tests/jenkins/jobs5/README.md
  tests/jenkins/vpp_agent_jobs/README.md
Labels: 📜 docs & examples

#1549 fix: Update GoVPP for stats conversion panic (fixes #1540)
  Gopkg.lock
  vendor/git.fd.io/govpp.git/core/stats.go
Labels: :beetle: bug, 🔗 dependencies
