Repository ligato/vpp-agent, pull requests merged in 2019-05, with the labels that each got.

#1307 Interface plugin 'watch' unit-tests cleanup
  plugins/vpp/ifplugin/vppcalls/vpp1901/watch_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/watch_vppcalls_test.go
Labels: 🔨 testing

#1315 change tap to tapv2
  tests/robot/resources/tap_interface_unnumbered.json
  tests/robot/suites/crud/app_namespaces_crud.robot
  tests/robot/suites/crud/l2xconnect_crud.robot
  tests/robot/suites/crud/stn_rule_crud.robot
  tests/robot/suites/crud/tap_unnumbered_crud.robot
Labels: 🔨 testing

#1316 fix robot tests
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/pretty_keywords.robot
  tests/robot/suites/crud/arp_crud.robot
  tests/robot/suites/crud/linux_ip_route_crud.robot
  tests/robot/suites/crudIPv6/arp_crudIPv6.robot
  tests/robot/suites/crudIPv6/linux_ip_route_crudIPv6.robot
Labels: 🔨 testing

#1317 Try enabling ipv6 for linux interface with sysctl
  plugins/linux/ifplugin/descriptor/interface.go
Labels: :bug: bug

#1319 added grpc tutorial code
  examples/tutorials/08_grpc/cmd/client/main.go
  examples/tutorials/08_grpc/plugins/grpc/grpc_client.go
  examples/tutorials/08_grpc/plugins/grpc/options.go
Labels: 📜 docs & examples

#1320 fix robot tests ipsec nat l2x
  tests/robot/libraries/vpp_term.robot
  tests/robot/resources/vpp_nat.conf
  tests/robot/suites/crud/ipsec_crud.robot
  tests/robot/suites/crud/l2xconnect_crud.robot
  tests/robot/suites/crudIPv6/ipsec_crudIPv6.robot
  tests/robot/suites/crudIPv6/l2xconnect_crudIPv6.robot
Labels: 🔨 testing

#1323 fix test acl, traffic tests
  tests/robot/libraries/etcdctl.robot
  tests/robot/suites/traffic/ip_route/test_ip_route.robot
  tests/robot/suites/traffic/tap_int_traffic/tap_int_traffic.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_traffic.robot
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_trafficIPv6.robot
Labels: 🔨 testing

#1327 Move gen.go and patches to respective subdirectory
  Makefile
  plugins/vpp/binapi/default
  plugins/vpp/binapi/doc.go
  plugins/vpp/binapi/fixapi-sr.patch
  plugins/vpp/binapi/gen.go
  plugins/vpp/binapi/vpp1904/abf.patch
  plugins/vpp/binapi/vpp1904/gen.go
  plugins/vpp/binapi/vpp1904/ip.patch
  plugins/vpp/binapi/vpp1904/sr.patch
Labels: 💡 refactoring

#1328 Update NAT example for VPP 19.04.
  examples/kvscheduler/nat/main.go
Labels: :bug: bug

#1330 changelog + readme updated and cleaned up
  CHANGELOG.md
  README.md
Labels: 📜 docs & examples

#1333 remove unnecessary readmes
  clientv2/README.md
  cmd/README.md
  docker/dev/README.md
  docker/prod/README.md
  examples/README.md
  examples/tutorials/README.md
  plugins/govppmux/README.md
  plugins/linux/nsplugin/README.md
  plugins/restapi/README.md
  plugins/telemetry/README.md
  plugins/vpp/ipsecplugin/README.md
  plugins/vpp/puntplugin/README.md
Labels: 📜 docs & examples

#1331 changelog for vpp-agent v2.1
  CHANGELOG.md
Labels: 📜 docs & examples

#1334 update to cn-infra 2.1
  Gopkg.lock
  vendor/github.com/ligato/cn-infra/CHANGELOG.md
  vendor/github.com/ligato/cn-infra/README.md
  vendor/github.com/ligato/cn-infra/agent/README.md
  vendor/github.com/ligato/cn-infra/agent/agent.go
  vendor/github.com/ligato/cn-infra/agent/doc.go
  vendor/github.com/ligato/cn-infra/datasync/README.md
  vendor/github.com/ligato/cn-infra/db/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/consul/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/etcd/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/filedb/README.md
  vendor/github.com/ligato/cn-infra/db/keyval/redis/README.md
  vendor/github.com/ligato/cn-infra/docker/dev_cn_infra/README.md
  vendor/github.com/ligato/cn-infra/docs/README.md
  vendor/github.com/ligato/cn-infra/docs/readmes/cn_virtual_function.md
  vendor/github.com/ligato/cn-infra/health/statuscheck/README.md
  vendor/github.com/ligato/cn-infra/idxmap/README.md
  vendor/github.com/ligato/cn-infra/infra/infra.go
  vendor/github.com/ligato/cn-infra/logging/README.md
  vendor/github.com/ligato/cn-infra/logging/logmanager/README.md
  vendor/github.com/ligato/cn-infra/logging/logrus/README.md
  vendor/github.com/ligato/cn-infra/logging/measure/README.md
  vendor/github.com/ligato/cn-infra/messaging/README.md
  vendor/github.com/ligato/cn-infra/messaging/kafka/README.md
  vendor/github.com/ligato/cn-infra/messaging/kafka/mux/README.md
  vendor/github.com/ligato/cn-infra/processmanager/README.md
  vendor/github.com/ligato/cn-infra/rpc/grpc/README.md
  vendor/github.com/ligato/cn-infra/servicelabel/README.md
  vendor/github.com/ligato/cn-infra/utils/README.md
Labels: 🔗 dependencies

#1339 remove tapv1 test and fix tests
  tests/robot/examples/example_crud_test.robot
  tests/robot/libraries/etcdctl.robot
  tests/robot/libraries/pretty_keywords.robot
  tests/robot/resources/tap_interface_with_ip.json
  tests/robot/suites/crud/bd_crud.robot
  tests/robot/suites/crud/tap_crud.robot
  tests/robot/suites/crudIPv6/app_namespaces_crudIPv6.robot
  tests/robot/suites/crudIPv6/arp_crudIPv6.robot
  tests/robot/suites/crudIPv6/bd_crudIPv6.robot
  tests/robot/suites/crudIPv6/stn_rule_crudIPv6.robot
  tests/robot/suites/crudIPv6/tap_crudIPv6.robot
  tests/robot/suites/crudIPv6/tap_unnumbered_crudIPv6.robot
  tests/robot/suites/traffic/physical_int_traffic/physical_int_traffic.robot
  tests/robot/suites/traffic/tap_int_traffic/tap_int_and_route_config_order_traffic.robot
  tests/robot/suites/trafficIPv6/physical_int_traffic/physical_int_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_and_route_config_order_trafficIPv6.robot
Labels: 🔨 testing

#1340 fix robot test
  tests/robot/libraries/etcdctl.robot
  tests/robot/suites/crudIPv6/linux_arp_crudIPv6.robot
  tests/robot/suites/traffic/l2xconnect_traffic/l2xconnect_trafic.robot
  tests/robot/suites/trafficIPv6/l2xconnect_traffic/l2xconnect_traficIPv6.robot
Labels: 🔨 testing

#1341 Fix stats publishers
  cmd/vpp-agent/app/vpp_agent.go
  docker/dev/Dockerfile
  docker/dev/linux-ifplugin.conf
  docker/dev/vpp-ifplugin.conf
  docker/prod/Dockerfile
  docker/prod/linux-ifplugin.conf
  docker/prod/vpp-ifplugin.conf
Labels: :bug: bug

#1342 Update GoVPP
  Gopkg.lock
  vendor/git.fd.io/govpp.git/adapter/socketclient/socketclient.go
Labels: 🔗 dependencies

#1343 Refactor image building to use ligato/vpp-base
  .dockerignore
  Makefile
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/dev/exec_agent.sh
  docker/dev/exec_vpp.sh
  docker/dev/linux-ifplugin.conf
  docker/dev/supervisord.conf
  docker/prod/Dockerfile
  docker/prod/build.sh
  docker/prod/exec_agent.sh
  docker/prod/linux-ifplugin.conf
  docker/prod/supervisord.conf
  docker/prod/vpp-ifplugin.conf
  scripts/install_protobuf.sh
  vpp.env
Labels: VPP sync, 💡 refactoring

#1345 Remove vpp-agent-ctl from robot tests
  tests/robot/libraries/docker.robot
  tests/robot/libraries/setup-teardown.robot
  tests/robot/suites/api/BFD/bfd_api.robot
  tests/robot/suites/crudIPv6/linux_ip_route_crudIPv6.robot
  tests/robot/suites/misc/etcd_clear.robot
  tests/robot/suites/sfc/east-west/vswitch_2x_vnf_vpp/vswitch_2x_vnf_vpp.robot
  tests/robot/suites/traffic/physical_int_traffic/physical_int_traffic.robot
  tests/robot/suites/traffic/tap_int_traffic/tap_int_and_route_config_order_traffic.robot
  tests/robot/suites/traffic/tapv2_int_traffic/tapv2_int_and_route_config_order_traffic.robot
  tests/robot/suites/traffic/veth_af_packet_traffic/veth_af_packet_traffic.robot
  tests/robot/suites/traffic/veth_afpacket_memif_vxlan_traffic/veth_afpacket_memif_vxlan_traffic.robot
  tests/robot/suites/trafficIPv6/physical_int_traffic/physical_int_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/tap_int_traffic/tap_int_and_route_config_order_trafficIPv6.robot
  tests/robot/suites/trafficIPv6/tapv2_int_traffic/tapv2_int_and_route_config_order_trafficIPv6.robot
  tests/robot/variables/common_variables.robot
  tests/robot/variables/obsolete_common_variables.py
  tests/robot/variables/obsolete_jozo_local_variables.py
  tests/robot/variables/obsolete_tricorder_variables.py
Labels: 🔨 testing

#1347 Define env vars for overriding start/stop timeouts of agent
  cmd/vpp-agent/main.go
Labels: 🔧 enhancement

#1348 Support building images with different VPP versions
  Makefile
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/prod/build.sh
  plugins/vpp/binapi/vpp1901/gen.go
  plugins/vpp/binapi/vpp1901/ip.patch
  plugins/vpp/binapi/vpp1901/sr.patch
  plugins/vpp/binapi/vpp1904/gen.go
  scripts/genbinapi.sh
  vpp.env
Labels: 🔧 enhancement

#1352 Make channel for notifications buffered
  plugins/vpp/ifplugin/vppcalls/vpp1901/watch_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/watch_vppcalls.go
Labels: :bug: bug

#1351 Add interfaces metrics to telemetry plugin
  plugins/telemetry/metrics.go
  plugins/telemetry/telemetry.go
  plugins/telemetry/vppcalls/vpp1901/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1904/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vppcalls_api.go
Labels: 🔧 enhancement

#1355 Fix IPv6 detection
  plugins/linux/ifplugin/descriptor/interface.go
Labels: :bug: bug

#1356 add ABF to config data model
  api/models/vpp/vpp.pb.go
  api/models/vpp/vpp.proto
  api/models/vpp/vpp_types.go
  cmd/agentctl/utils/db_read_utils.go
  plugins/configurator/dump.go
Labels: :bug: bug

#1358 Release 2.1.1
  CHANGELOG.md
  api/models/vpp/vpp.pb.go
  api/models/vpp/vpp.proto
  api/models/vpp/vpp_types.go
  cmd/agentctl/utils/db_read_utils.go
  cmd/vpp-agent/app/vpp_agent.go
  cmd/vpp-agent/main.go
  docker/dev/Dockerfile
  docker/dev/linux-ifplugin.conf
  docker/dev/vpp-ifplugin.conf
  docker/prod/Dockerfile
  docker/prod/linux-ifplugin.conf
  docker/prod/vpp-ifplugin.conf
  plugins/configurator/dump.go
  plugins/linux/ifplugin/descriptor/interface.go
Labels: 🌟 release

#1359 Improve error logs for invalid key value pairs
  plugins/orchestrator/orchestrator.go
Labels: 🔧 enhancement

#1318 replace supervisord with vpp-agent-init
  Gopkg.lock
  Makefile
  cmd/vpp-agent-init/main.go
  docker/dev/Dockerfile
  docker/dev/init_hook.sh
  docker/dev/supervisor.conf
  docker/dev/supervisord.conf
  docker/dev/supervisord_kill.py
  docker/prod/Dockerfile
  docker/prod/init_hook.sh
  docker/prod/supervisor.conf
  docker/prod/supervisord.conf
  docker/prod/supervisord_kill.py
  vendor/github.com/ligato/cn-infra/.gitignore
  vendor/github.com/ligato/cn-infra/Gopkg.lock
  vendor/github.com/ligato/cn-infra/Gopkg.toml
  vendor/github.com/ligato/cn-infra/datasync/syncbase/msg/datamsg.pb.go
  vendor/github.com/ligato/cn-infra/examples/etcd-lib/model/phonebook/phonebook.pb.go
  vendor/github.com/ligato/cn-infra/examples/process-manager-plugin/advanced-scenario/main.go
  vendor/github.com/ligato/cn-infra/examples/process-manager-plugin/basic-scenario/main.go
  vendor/github.com/ligato/cn-infra/examples/process-manager-plugin/templates/main.go
  vendor/github.com/ligato/cn-infra/examples/redis-lib/airport/model/flight.pb.go
  vendor/github.com/ligato/cn-infra/examples/supervisor-plugin/example.log
  vendor/github.com/ligato/cn-infra/examples/supervisor-plugin/main.go
  vendor/github.com/ligato/cn-infra/examples/tutorials/04_kv-store/model/model.pb.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/options.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/plugin.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/pm.conf
  vendor/github.com/ligato/cn-infra/exec/processmanager/process.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/process_impl.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/process_options.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/status/status.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/status/test-state
  vendor/github.com/ligato/cn-infra/exec/processmanager/template/model/process/process.pb.go
  vendor/github.com/ligato/cn-infra/exec/processmanager/template/model/process/process.proto
  vendor/github.com/ligato/cn-infra/exec/processmanager/template/template.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/config.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/hooks.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/logger.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/options.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/plugin.go
  vendor/github.com/ligato/cn-infra/exec/supervisor/supervisor.conf
  vendor/github.com/ligato/cn-infra/health/statuscheck/model/status/status.pb.go
  vendor/github.com/ligato/cn-infra/logging/measure/model/apitrace/apitrace.pb.go
  vendor/github.com/ligato/cn-infra/rpc/rest/security/model/access-security/accesssecurity.pb.go
Labels: 🔧 enhancement

#1363 Allow skipping binapi check in dev docker image
  Makefile
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/prod/Dockerfile
  docker/prod/build.sh
Labels: 🔧 enhancement
