Repository ligato/vpp-agent, pull requests merged in 2020-09, with the labels that each got.

#1718 fix: Fix grpc context timeout for agentctl import command
  cmd/agentctl/commands/import.go
Labels: :beetle: bug

#1719 feat: Add RemoteTeid to GTPU interface
  plugins/vpp/ifplugin/vppcalls/vpp2009/gtpu_vppcalls.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
Labels: ⚡️ feature

#1717 feat(agentctl): Support specific history seq num and improve layout
  cmd/agentctl/api/types/client.go
  cmd/agentctl/client/scheduler.go
  cmd/agentctl/commands/config.go
  cmd/agentctl/commands/dump.go
  cmd/agentctl/commands/formatter.go
  cmd/agentctl/commands/import.go
  cmd/agentctl/commands/kvdb.go
  cmd/agentctl/commands/root.go
  cmd/agentctl/commands/status.go
  cmd/agentctl/commands/util.go
  cmd/agentctl/commands/vpp.go
  plugins/configurator/configurator.go
  plugins/orchestrator/dispatcher.go
Labels: 🔧 enhancement

#1720 refactor: added suggestion in error message for cases of missing iptables in host system
  plugins/linux/iptablesplugin/linuxcalls/iptables_linuxcalls.go
Labels: ♻️ refactoring

#1721 feat(gtpu): Add support for arbitrary DecapNextNode
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2009/gtpu_vppcalls.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
  tests/integration/vpp/100_gtpu_test.go
Labels: ⚡️ feature

#1726 feat: add IP protocol number to ACL model
  plugins/vpp/aclplugin/descriptor/acl.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2001/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2001/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2005/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2005/dump_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2009/acl_vppcalls.go
  plugins/vpp/aclplugin/vppcalls/vpp2009/dump_vppcalls.go
  proto/ligato/vpp/acl/acl.pb.go
  proto/ligato/vpp/acl/acl.proto
  tests/e2e/060_acl_test.go
  tests/integration/vpp/040_acl_test.go
Labels: ⚡️ feature
