Repository ligato/vpp-agent, pull requests merged in 2020-05, with the labels that each got.

#1649 feat: IP Flow Information eXport (IPFIX) plugin
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  cmd/vpp-agent/app/vpp_agent.go
  plugins/vpp/binapi/vpp1904/flowprobe/flowprobe.ba.go
  plugins/vpp/binapi/vpp1904/ipfix_export/ipfix_export.ba.go
  plugins/vpp/binapi/vpp1904/vpp1904.go
  plugins/vpp/binapi/vpp1908/flowprobe/flowprobe.ba.go
  plugins/vpp/binapi/vpp1908/ipfix_export/ipfix_export.ba.go
  plugins/vpp/binapi/vpp1908/vpp1908.go
  plugins/vpp/binapi/vpp2001/flowprobe/flowprobe.ba.go
  plugins/vpp/binapi/vpp2001/ipfix_export/ipfix_export.ba.go
  plugins/vpp/binapi/vpp2001/vpp2001.go
  plugins/vpp/ipfixplugin/descriptor/adapter/flowprobefeature.go
  plugins/vpp/ipfixplugin/descriptor/adapter/flowprobeparams.go
  plugins/vpp/ipfixplugin/descriptor/adapter/ipfix.go
  plugins/vpp/ipfixplugin/descriptor/flowprobe_feature.go
  plugins/vpp/ipfixplugin/descriptor/flowprobe_params.go
  plugins/vpp/ipfixplugin/descriptor/ipfix.go
  plugins/vpp/ipfixplugin/ipfixplugin.go
  plugins/vpp/ipfixplugin/options.go
  plugins/vpp/ipfixplugin/vppcalls/doc.go
  plugins/vpp/ipfixplugin/vppcalls/ipfix_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1904/flowprobe_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1904/ipfix_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1908/flowprobe_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1908/ipfix_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/ipfixplugin/vppcalls/vpp2001/dump_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp2001/flowprobe_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp2001/ipfix_vppcalls.go
  plugins/vpp/ipfixplugin/vppcalls/vpp2001/vppcalls_handlers.go
  proto/ligato/vpp/ipfix/flowprobe.pb.go
  proto/ligato/vpp/ipfix/flowprobe.proto
  proto/ligato/vpp/ipfix/ipfix.pb.go
  proto/ligato/vpp/ipfix/ipfix.proto
  proto/ligato/vpp/ipfix/models.go
  tests/integration/vpp/050_ipfix_test.go
  tests/integration/vpp/051_flowprobe_test.go
Labels: ⚡️ feature

#1657 test(e2e): Skip IPIP e2e test for VPP <= 19.04
  tests/e2e/040_bridge_domain_test.go
  tests/e2e/060_acl_test.go
  tests/e2e/070_ipsec_test.go
  tests/e2e/e2e_test.go
  tests/integration/vpp/120_ipip_test.go
Labels: 🔨 testing

#1659 fix: Fix error message for duplicate keys
  plugins/orchestrator/dispatcher.go
Labels: :beetle: bug
