Repository ligato/vpp-agent, pull requests merged in 2020-04, with the labels that each got.

#1645 fix: Regenerate binapi VPP 19.08
  plugins/vpp/binapi/vpp1908/acl/acl.ba.go
  plugins/vpp/binapi/vpp1908/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp1908/ip/ip.ba.go
  plugins/vpp/binapi/vpp1908/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp1908/l2/l2.ba.go
  plugins/vpp/binapi/vpp1908/nat/nat.ba.go
Labels: 🔃 VPP sync

#1644 perf: Performance enhancement for adding many rules to Linux IPtables chain
  plugins/linux/iptablesplugin/descriptor/rulechain.go
  plugins/linux/iptablesplugin/iptablesplugin.go
  plugins/linux/iptablesplugin/linux-iptablesplugin.conf
  plugins/linux/iptablesplugin/linuxcalls/iptables_api.go
  plugins/linux/iptablesplugin/linuxcalls/iptables_linuxcalls.go
Labels: 🚀 optimization

#1650 fix: Fix creation of multiple ipip tunnels
  plugins/vpp/ifplugin/vppcalls/vpp1908/ipip_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/ipip_vppcalls.go
  tests/integration/vpp/120_ipip_test.go
Labels: :beetle: bug
