Repository ligato/vpp-agent, pull requests merged in 2020-08, with the labels that each got.

#1695 build(ci): Update ci.yml
  .github/workflows/ci.yml
Labels: ⚙️ CI/CD

#1679 refactor: separate model for IPSec Security Policies
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  examples/grpc_vpp/remote_client/main.go
  plugins/configurator/dump.go
  plugins/restapi/handlers.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/ipsecplugin/descriptor/adapter/sp.go
  plugins/vpp/ipsecplugin/descriptor/adapter/spd.go
  plugins/vpp/ipsecplugin/descriptor/sp.go
  plugins/vpp/ipsecplugin/descriptor/spd.go
  plugins/vpp/ipsecplugin/descriptor/spd_policy.go
  plugins/vpp/ipsecplugin/ipsecplugin.go
  plugins/vpp/ipsecplugin/vppcalls/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1904/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1904/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1904/ipsec_vppcalls_test.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/ipsec_vppcalls_test.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2001/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2001/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2001/ipsec_vppcalls_test.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls_test.go
  proto/ligato/vpp/ipsec/ipsec.pb.go
  proto/ligato/vpp/ipsec/ipsec.proto
  proto/ligato/vpp/ipsec/models.go
  proto/ligato/vpp/ipsec/models_test.go
  proto/ligato/vpp/vpp.pb.go
  proto/ligato/vpp/vpp.proto
  proto/ligato/vpp/vpp_types.go
  tests/e2e/070_ipsec_test.go
  tests/integration/vpp/130_ipsec_test.go
Labels: ♻️ refactoring

#1696 build: Change default VPP to v20.05
  vpp.env
Labels: 🔃 VPP sync

#1697 test(e2e): Fix process outputs in e2e tests causing failures on travis
  tests/e2e/e2e_test.go
Labels: 🔨 testing

#1699 test: Fix failing unit test for go1.15
  plugins/vpp/srplugin/vppcalls/vpp1904/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp1908/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp2001/srv6.go
  plugins/vpp/srplugin/vppcalls/vpp2005/srv6.go
Labels: 🔨 testing

#1698 feat: (ipsec) allow to configure salt for encryption algorithm
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp1908/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2001/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2001/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls.go
  proto/ligato/vpp/ipsec/ipsec.pb.go
  proto/ligato/vpp/ipsec/ipsec.proto
  tests/e2e/070_ipsec_test.go
Labels: ⚡️ feature

#1700 test(integration): Skip failing test for SRv6 localsids
  tests/integration/vpp/110_srv6_test.go
Labels: 🔨 testing

#1691 build: Switch to new proto v2
  cmd/agentctl/commands/model.go
  go.mod
  go.sum
  pkg/models/model.go
  pkg/models/registry.go
  plugins/configurator/configurator.go
  plugins/configurator/dump.go
  plugins/orchestrator/meta_service.go
  plugins/telemetry/stats_poller.go
  proto/ligato/configurator/configurator.pb.go
  proto/ligato/configurator/configurator_grpc.pb.go
  proto/ligato/configurator/statspoller.pb.go
  proto/ligato/configurator/statspoller_grpc.pb.go
  proto/ligato/generic/manager.pb.go
  proto/ligato/generic/manager_grpc.pb.go
  proto/ligato/generic/meta.pb.go
  proto/ligato/generic/meta_grpc.pb.go
  proto/ligato/generic/model.pb.go
  proto/ligato/generic/options.pb.go
  proto/ligato/govppmux/metrics.pb.go
  proto/ligato/kvscheduler/value_status.pb.go
  proto/ligato/linux/interfaces/interface.pb.go
  proto/ligato/linux/iptables/iptables.pb.go
  proto/ligato/linux/l3/arp.pb.go
  proto/ligato/linux/l3/route.pb.go
  proto/ligato/linux/linux.pb.go
  proto/ligato/linux/namespace/namespace.pb.go
  proto/ligato/linux/punt/punt.pb.go
  proto/ligato/netalloc/netalloc.pb.go
  proto/ligato/vpp/abf/abf.pb.go
  proto/ligato/vpp/acl/acl.pb.go
  proto/ligato/vpp/interfaces/dhcp.pb.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/span.pb.go
  proto/ligato/vpp/interfaces/state.pb.go
  proto/ligato/vpp/ipfix/flowprobe.pb.go
  proto/ligato/vpp/ipfix/ipfix.pb.go
  proto/ligato/vpp/ipsec/ipsec.pb.go
  proto/ligato/vpp/l2/bridge_domain.pb.go
  proto/ligato/vpp/l2/fib.pb.go
  proto/ligato/vpp/l2/xconnect.pb.go
  proto/ligato/vpp/l3/arp.pb.go
  proto/ligato/vpp/l3/l3.pb.go
  proto/ligato/vpp/l3/l3xc.pb.go
  proto/ligato/vpp/l3/route.pb.go
  proto/ligato/vpp/l3/teib.pb.go
  proto/ligato/vpp/l3/vrf.pb.go
  proto/ligato/vpp/nat/nat.pb.go
  proto/ligato/vpp/punt/punt.pb.go
  proto/ligato/vpp/srv6/srv6.pb.go
  proto/ligato/vpp/stn/stn.pb.go
  proto/ligato/vpp/vpp.pb.go
  scripts/make/buf.make
  scripts/protoc_gen_go.sh
  tests/integration/vpp/110_srv6_test.go
Labels: 👈 needs review, 🔗 dependencies

#1703 feat: Generate graph images using Go library
  docker/dev/Dockerfile
  go.mod
  go.sum
  plugins/kvscheduler/graphviz.go
Labels: 🔗 dependencies, 🔧 enhancement

#1706 feat: Store interface internal name & dev type as metadata
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/ifaceidx/ifaceidx.go
  plugins/vpp/ifplugin/vppcalls/interface_handler_api.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/dump_interface_vppcalls.go
Labels: ⚡️ feature

#1709 feat(agentctl): Add config get/update commands
  client/client_api.go
  cmd/agentctl/api/types/client.go
  cmd/agentctl/api/types/types.go
  cmd/agentctl/cli/cli.go
  cmd/agentctl/cli/flags.go
  cmd/agentctl/client/api.go
  cmd/agentctl/client/client.go
  cmd/agentctl/client/http.go
  cmd/agentctl/client/infra.go
  cmd/agentctl/client/model.go
  cmd/agentctl/client/options.go
  cmd/agentctl/client/scheduler.go
  cmd/agentctl/client/vpp.go
  cmd/agentctl/commands/all_models.go
  cmd/agentctl/commands/commands.go
  cmd/agentctl/commands/config.go
  cmd/agentctl/commands/dump.go
  cmd/agentctl/commands/errors.go
  cmd/agentctl/commands/formatter.go
  cmd/agentctl/commands/import.go
  cmd/agentctl/commands/model.go
  cmd/agentctl/commands/root.go
  cmd/agentctl/commands/util.go
  cmd/agentctl/main.go
  go.mod
  go.sum
  pkg/version/version.go
  plugins/kvscheduler/api/txn_record.go
  plugins/kvscheduler/txn_exec.go
  plugins/kvscheduler/txn_record.go
  proto/ligato/vpp/vpp_types.go
  tests/e2e/100_agentctl_test.go
Labels: ⚡️ feature

#1712 Permit agent to run even when VPP stats are unavailable
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/telemetry/stats_poller.go
  plugins/telemetry/telemetry.go
  plugins/vpp/ifplugin/interface_state.go
Labels: 🔧 enhancement

#1713 Fix agentctl tests
  cmd/agentctl/commands/dump.go
  tests/e2e/100_agentctl_test.go
Labels: 🔨 testing
