Repository ligato/vpp-agent, pull requests merged in 2020-02, with the labels that each got.

#1615 refactor: Perf tests refactor and optimizations
  .gitignore
  pkg/debug/debug.go
  pkg/models/model.go
  tests/.gitignore
  tests/perf/.gitignore
  tests/perf/grpc-perf/main.go
  tests/perf/perf_test.sh
Labels: 🚀 optimization

#1617 fix: Fix VPP TAP dump/create
  plugins/vpp/ifplugin/vppcalls/vpp2001/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/tap_vppcalls.go
Labels: :beetle: bug

#1607 ci: Create CI workflow
  .github/workflows/ci.yml
  buf.yaml
Labels: ⚙️ CI/CD

#1616 feat: Allow AF-PACKET to reference target Linux interface via logical name
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/interface_handler_api.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/afpacket_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/afpacket_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/afpacket_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/afpacket_vppcalls_test.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/afpacket_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/afpacket_vppcalls_test.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
  tests/e2e/010_interfaces_test.go
Labels: 🔧 enhancement

#1619 ci: Prepare release 3.0.0
  .github/workflows/ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/docker.yml
  CHANGELOG.md
  Makefile
  cmd/vpp-agent/main.go
  docker/dev/Dockerfile
  docker/dev/build.sh
  pkg/version/version.go
Labels: ⚙️ CI/CD, 🔧 enhancement

#1621 ci: Update docker.yml
  .github/workflows/docker.yml
  Makefile
Labels: ⚙️ CI/CD

#1625 fix: Add missing models to ConfigData
  plugins/configurator/configurator.go
  proto/ligato/linux/linux_types.go
  proto/ligato/vpp/vpp.pb.go
  proto/ligato/vpp/vpp.proto
  proto/ligato/vpp/vpp_types.go
Labels: :beetle: bug

#1626 feat: Add promethues metrics to govppmux
  cmd/vpp-agent/app/vpp_agent.go
  cmd/vpp-agent/main.go
  pkg/version/version.go
  plugins/govppmux/client_binapi.go
  plugins/govppmux/client_stats.go
  plugins/govppmux/metrics.go
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/stats.go
  plugins/govppmux/vppcalls/vpp1908/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp2001/vpe_vppcalls.go
  plugins/telemetry/metrics.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/e2e_test.go
  tests/e2e/microservice_test.go
  tests/integration/vpp/000_initial_test.go
  tests/integration/vpp/001_telemetry_test.go
  tests/integration/vpp/010_interfaces_test.go
  tests/integration/vpp/020_routes_test.go
  tests/integration/vpp/021_l3xc_test.go
  tests/integration/vpp/022_ip_neighbor_test.go
  tests/integration/vpp/080_gre_test.go
  tests/integration/vpp/090_vxlan_gpe_test.go
  tests/integration/vpp/100_gtpu_test.go
  tests/integration/vpp/integration_test.go
  tests/integration/vpp/utils.go
Labels: 🔧 enhancement

#1627 ci: Update ci.yml
  .github/workflows/ci.yml
Labels: ⚙️ CI/CD
