Repository ligato/vpp-agent, pull requests merged in 2020-07, with the labels that each got.

#1672 feat: Add VRF field to proxy ARP range
  plugins/vpp/l3plugin/descriptor/proxy_arp.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/proxyarp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/proxyarp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/proxyarp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/proxyarp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/proxyarp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/proxyarp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/proxyarp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/proxyarp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/proxyarp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/proxyarp_vppcalls_test.go
  proto/ligato/vpp/l3/l3.pb.go
  proto/ligato/vpp/l3/l3.proto
  tests/integration/vpp/031_proxy_arp_test.go
Labels: ⚡️ feature

#1674 fix(vpp/ifplugin): Recognize interface name prefix "tun" as TAP
  plugins/vpp/ifplugin/vppcalls/vpp2005/dump_interface_vppcalls.go
Labels: :beetle: bug

#1675 feat: Improvements
  client/remoteclient/grpc_client.go
  cmd/agentctl/commands/dump.go
  cmd/agentctl/commands/formatter.go
  plugins/orchestrator/orchestrator.go
  plugins/telemetry/telemetry.go
  proto/ligato/vpp/ipfix/models.go
  proto/ligato/vpp/vpp.pb.go
  proto/ligato/vpp/vpp.proto
  tests/e2e/010_interfaces_test.go
  tests/e2e/011_interface_link_only_test.go
  tests/e2e/e2e_test.go
  tests/integration/vpp/020_routes_test.go
Labels: 🔧 enhancement

#1677 refactor: Delete unused REST handler for VPP commands
  plugins/restapi/handlers.go
Labels: ♻️ refactoring

#1692 ci: Change event to push
  .github/workflows/ci.yml
Labels: ⚙️ CI/CD
