Repository ligato/vpp-agent, pull requests merged in 2020-10, with the labels that each got.

#1734 feat: Add support for waiting until config update is done
  cmd/agentctl/commands/config.go
  plugins/configurator/configurator.go
  plugins/orchestrator/dispatcher.go
  proto/ligato/configurator/configurator.pb.go
  proto/ligato/configurator/configurator.proto
Labels: ⚡️ feature

#1741 fix: maps caching prometheus gauges weren't really used
  plugins/telemetry/prometheus.go
Labels: :beetle: bug

#1731 Wireguard plugin support
  cmd/vpp-agent/app/vpp_agent.go
  go.sum
  plugins/configurator/dump.go
  plugins/configurator/plugin.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/binapi/vpp2009/vpp2009.go
  plugins/vpp/binapi/vpp2009/wireguard/wireguard.ba.go
  plugins/vpp/binapi/vpp2009/wireguard/wireguard_rpc.ba.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/vppcalls/interface_handler_api.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/wireguard_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/wireguard_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/wireguard_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2009/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2009/vppcalls_handler.go
  plugins/vpp/ifplugin/vppcalls/vpp2009/wireguard_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2009/wireguard_vppcalls_test.go
  plugins/vpp/wireguardplugin/descriptor/adapter/peer.go
  plugins/vpp/wireguardplugin/descriptor/peer.go
  plugins/vpp/wireguardplugin/options.go
  plugins/vpp/wireguardplugin/vppcalls/vpp2009/dump_vppcalls.go
  plugins/vpp/wireguardplugin/vppcalls/vpp2009/vppcalls_handlers.go
  plugins/vpp/wireguardplugin/vppcalls/vpp2009/wireguard_vppcalls.go
  plugins/vpp/wireguardplugin/vppcalls/vpp2009/wireguard_vppcalls_test.go
  plugins/vpp/wireguardplugin/vppcalls/wireguard_vppcalls.go
  plugins/vpp/wireguardplugin/wgidx/wgidx.go
  plugins/vpp/wireguardplugin/wireguardplugin.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
  proto/ligato/vpp/vpp.pb.go
  proto/ligato/vpp/vpp.proto
  proto/ligato/vpp/vpp_types.go
  proto/ligato/vpp/wireguard/models.go
  proto/ligato/vpp/wireguard/wireguard.pb.go
  proto/ligato/vpp/wireguard/wireguard.proto
  tests/integration/vpp/160_wireguard_test.go
Labels: ⚡️ feature

#1743 Disable allowed failures for VPP 20.09
  .travis.yml
  plugins/vpp/binapi/vpp2009/wireguard/wireguard.ba.go
Labels: ⚙️ CI/CD

#1742 Remove forced delay for linux interface notifications
  plugins/configurator/configurator.go
  plugins/linux/ifplugin/descriptor/watcher.go
  plugins/linux/nsplugin/ns_plugin.go
Labels: ♻️ refactoring

#1745 refactor: do not mark host_if_name for AF_PACKET as deprecated
  plugins/vpp/ifplugin/descriptor/interface.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
Labels: ♻️ refactoring

#1735 feat: VRRP support
  clientv2/linux/data_change_api.go
  clientv2/linux/data_resync_api.go
  clientv2/linux/dbadapter/data_change_db.go
  clientv2/linux/dbadapter/data_resync_db.go
  clientv2/vpp/data_change_api.go
  clientv2/vpp/data_resync_api.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  plugins/restapi/handlers.go
  plugins/restapi/resturl/urls.go
  plugins/vpp/binapi/vpp2005/vpp2005.go
  plugins/vpp/binapi/vpp2005/vrrp/vrrp.ba.go
  plugins/vpp/binapi/vpp2009/vpp2009.go
  plugins/vpp/binapi/vpp2009/vrrp/vrrp.ba.go
  plugins/vpp/binapi/vpp2009/vrrp/vrrp_rpc.ba.go
  plugins/vpp/l3plugin/descriptor/adapter/vrrpentry.go
  plugins/vpp/l3plugin/descriptor/vrrp.go
  plugins/vpp/l3plugin/l3plugin.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrrp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrrp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vrrp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vrrp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/vrrp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/vrrp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/vrrp_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2009/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2009/vrrp_dump.go
  plugins/vpp/l3plugin/vppcalls/vpp2009/vrrp_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2009/vrrp_vppcalls_test.go
  proto/ligato/vpp/l3/models.go
  proto/ligato/vpp/l3/vrrp.pb.go
  proto/ligato/vpp/l3/vrrp.proto
  tests/integration/vpp/170_vrrp_test.go
Labels: ⚡️ feature

#1744 feat: Add support for Linux VRFs
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/descriptor/interface_vrf.go
  plugins/linux/ifplugin/descriptor/interface_vrfdev.go
  plugins/linux/ifplugin/ifaceidx/ifaceidx.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/ifplugin/linuxcalls/dump_interface_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/descriptor/route.go
  plugins/linux/l3plugin/linuxcalls/dump_route_linuxcalls.go
  plugins/linux/l3plugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/linuxcalls/route_linuxcalls.go
  proto/ligato/linux/interfaces/interface.pb.go
  proto/ligato/linux/interfaces/interface.proto
  proto/ligato/linux/interfaces/models.go
  proto/ligato/linux/interfaces/models_test.go
  tests/e2e/080_vrf_test.go
  tests/e2e/e2e_test.go
  tests/e2e/microservice_test.go
Labels: ⚡️ feature, 🔧 enhancement

#1747 test(e2e): Disable VRF tests for Travis CI for now.
  tests/e2e/080_vrf_test.go
Labels: 🔨 testing

#1753 feat: add reading VPP threads to the telemetry plugin
  examples/vpp_stats/main.go
  plugins/govppmux/vppcalls/vpp1908/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp2001/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp2005/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp2009/vpe_vppcalls.go
  plugins/govppmux/vppcalls/vpp_handler_api.go
  plugins/telemetry/prometheus.go
  plugins/telemetry/vppcalls/telemetry_handler_api.go
  plugins/telemetry/vppcalls/telemetry_stats.go
  plugins/telemetry/vppcalls/vpp1908/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp1908/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp2001/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp2001/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp2005/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp2005/telemetry_vppcalls_test.go
  plugins/telemetry/vppcalls/vpp2009/telemetry_vppcalls.go
  plugins/telemetry/vppcalls/vpp2009/telemetry_vppcalls_test.go
Labels: ⚡️ feature

#1757 Improve testing process for e2e/integration tests
  Makefile
  go.mod
  go.sum
  pkg/graphviz/graphviz_cgo.go
  pkg/graphviz/graphviz_nocgo.go
  plugins/kvscheduler/graph.go
  plugins/kvscheduler/rest.go
  plugins/vpp/import_test.go
  tests/e2e/000_initial_test.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/011_interface_link_only_test.go
  tests/e2e/020_netalloc_test.go
  tests/e2e/030_span_test.go
  tests/e2e/040_bridge_domain_test.go
  tests/e2e/050_nat_test.go
  tests/e2e/060_acl_test.go
  tests/e2e/070_ipsec_test.go
  tests/e2e/080_vrf_test.go
  tests/e2e/100_agentctl_test.go
  tests/e2e/101_rest_api_test.go
  tests/e2e/200_telemetry_test.go
  tests/e2e/Dockerfile.e2e
  tests/e2e/buildtag.go
  tests/e2e/e2e_test.go
  tests/e2e/entrypoint.sh
  tests/e2e/main_test.go
  tests/e2e/microservice_test.go
  tests/e2e/resources/certs/cert1-key.pem
  tests/e2e/resources/certs/cert1.pem
  tests/e2e/run_e2e.sh
  tests/integration/Dockerfile.integration
  tests/integration/entrypoint.sh
  tests/integration/run_integration.sh
  tests/integration/vpp/160_wireguard_test.go
  tests/integration/vpp/buildtag.go
  tests/integration/vpp/main_test.go
  tests/integration/vpp_integration.sh
  tests/testutils/testsuite.go
Labels: 🔧 enhancement, 🔨 testing

#1746 chore: Update CHANGELOG for v3.2.0
  CHANGELOG.md
Labels: ✨ release

#1756 feat: Implement WaitDone for Delete in Configurator service
  cmd/agentctl/commands/config.go
  plugins/configurator/configurator.go
  proto/ligato/configurator/configurator.pb.go
  proto/ligato/configurator/configurator.proto
  proto/ligato/vpp/l3/vrrp.pb.go
Labels: ⚡️ feature
