Repository ligato/vpp-agent, pull requests merged in 2020-12, with the labels that each got.

#1764 feat: proxied models (remotely learned models used in DefaultRegistry)
  pkg/models/api.go
  pkg/models/item.go
  pkg/models/registry.go
Labels: 🔧 enhancement

#1766 test: Fix unit tests for configurator Notify
  cmd/agentctl/commands/config.go
  cmd/agentctl/commands/config_test.go
Labels: 🔨 testing

#1765 feat: dummy linux interface and existing IPs
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/descriptor/interface_dummy.go
  plugins/linux/ifplugin/descriptor/watcher.go
  plugins/linux/ifplugin/linuxcalls/dump_interface_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/link_linuxcalls.go
  plugins/linux/ifplugin/linuxcalls/netlink_api.go
  plugins/linux/l3plugin/descriptor/route.go
  proto/ligato/linux/interfaces/interface.pb.go
  proto/ligato/linux/interfaces/interface.proto
  proto/ligato/linux/interfaces/models.go
  proto/ligato/linux/interfaces/models_test.go
  proto/ligato/netalloc/netalloc.pb.go
  proto/ligato/netalloc/netalloc.proto
  tests/e2e/012_linux_interfaces_test.go
  tests/e2e/e2e.go
Labels: ⚡️ feature

#1768 feat: existing Linux VRFs
  cmd/agentctl/api/types/client.go
  cmd/agentctl/client/scheduler.go
  plugins/linux/ifplugin/descriptor/adapter/interfaceaddress.go
  plugins/linux/ifplugin/descriptor/adapter/interfacevrf.go
  plugins/linux/ifplugin/descriptor/interface.go
  plugins/linux/ifplugin/descriptor/interface_address.go
  plugins/linux/ifplugin/descriptor/interface_vrf.go
  plugins/linux/ifplugin/descriptor/watcher.go
  plugins/linux/ifplugin/ifplugin.go
  plugins/linux/l3plugin/descriptor/route.go
  proto/ligato/linux/interfaces/models.go
  proto/ligato/linux/interfaces/models_test.go
  tests/e2e/010_interfaces_test.go
  tests/e2e/012_linux_interfaces_test.go
  tests/e2e/080_vrf_test.go
  tests/e2e/101_rest_api_test.go
  tests/e2e/200_telemetry_test.go
  tests/e2e/e2e.go
  tests/e2e/utils/http_rest.go
Labels: ⚡️ feature, 🔧 enhancement

#1773 fix: add missing return statements for EXISTING Linux interface VRF assignment
  plugins/linux/ifplugin/descriptor/interface_vrf.go
Labels: :beetle: bug

#1774 fix: dhcp proxy key should include the Rx-VRF ID
  pkg/models/remote_model.go
  plugins/vpp/l3plugin/descriptor/dhcp_proxy.go
  proto/ligato/vpp/l3/models.go
  tests/e2e/13_dhcp_proxy_test.go
Labels: :beetle: bug

#1769 feat: Added possibility to setup NB configuration from file at VPP-Agent start
  client/local_client.go
  clientv2/vpp/dbadapter/data_change_db.go
  clientv2/vpp/dbadapter/data_resync_db.go
  cmd/vpp-agent/app/vpp_agent.go
  pkg/models/model.go
  pkg/models/models.go
  pkg/models/options.go
  pkg/models/registry.go
  pkg/models/remote_model.go
  plugins/configurator/configurator.go
  plugins/orchestrator/contextdecorator/context.go
  plugins/orchestrator/dispatcher.go
  plugins/orchestrator/localregistry/initfileregistry.go
  plugins/orchestrator/meta_service.go
  plugins/orchestrator/orchestrator.go
  plugins/orchestrator/store.go
  plugins/orchestrator/watcher/aggregator.go
  tests/e2e/000_initial_test.go
  tests/e2e/100_agentctl_test.go
  tests/e2e/e2e.go
  tests/e2e/etcd.go
  tests/e2e/options.go
  tests/e2e/run_e2e.sh
  tests/e2e/vppagent.go
Labels: ⚡️ feature
