Repository ligato/vpp-agent, pull requests merged in 2020-01, with the labels that each got.

#1601 ci: Switch to master branch for checking breaking changes
  buf.yaml
  scripts/make/buf.make
Labels: ⚙️ CI/CD

#1602 feat: Add L3XC support
  plugins/kvscheduler/internal/graph/node_read.go
  plugins/netalloc/netalloc_api.go
  plugins/vpp/abfplugin/abfidx/abfidx.go
  plugins/vpp/abfplugin/abfplugin.go
  plugins/vpp/binapi/vpp1908/l3xc.patch
  plugins/vpp/binapi/vpp1908/l3xc/l3xc.ba.go
  plugins/vpp/binapi/vpp1908/vpp1908.go
  plugins/vpp/binapi/vpp2001/l3xc.patch
  plugins/vpp/binapi/vpp2001/l3xc/l3xc.ba.go
  plugins/vpp/binapi/vpp2001/vpp2001.go
  plugins/vpp/binapi/vpp2001_324/l3xc.patch
  plugins/vpp/binapi/vpp2001_324/l3xc/l3xc.ba.go
  plugins/vpp/binapi/vpp2001_324/vpp2001_324.go
  plugins/vpp/l3plugin/descriptor/adapter/l3xc.go
  plugins/vpp/l3plugin/descriptor/l3xc.go
  plugins/vpp/l3plugin/descriptor/proxy_arp.go
  plugins/vpp/l3plugin/descriptor/route.go
  plugins/vpp/l3plugin/descriptor/vrf_table.go
  plugins/vpp/l3plugin/l3plugin.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/vppcalls_handlers.go
  proto/ligato/vpp/l3/l3xc.pb.go
  proto/ligato/vpp/l3/l3xc.proto
  proto/ligato/vpp/l3/models.go
  proto/ligato/vpp/l3/route.pb.go
  proto/ligato/vpp/l3/route.proto
  proto/ligato/vpp/l3/vrf.pb.go
  proto/ligato/vpp/l3/vrf.proto
  tests/integration/vpp/021_l3xc_test.go
Labels: ⚡️ feature

#1605 build: Update govpp
  go.mod
  go.sum
Labels: 🔗 dependencies

#1604 chore: Doc updates and minor fixes
  CODINGSTYLE.md
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/agentctl/commands/status.go
  cmd/agentctl/commands/values.go
  docker/dev/Dockerfile
  docker/dev/grpc.conf
  docker/prod/Dockerfile
  docker/prod/grpc.conf
Labels: 📜 docs & examples

#1606 fix: Handling disabled VPP plugins
  go.mod
  go.sum
  plugins/govppmux/plugin_impl_govppmux.go
  plugins/govppmux/vppcalls/vpp2001/vpe_vppcalls.go
  plugins/kvscheduler/descriptor_handler.go
  plugins/vpp/binapi/binapi.go
  plugins/vpp/binapi/vpp1904/vpp1904.go
  plugins/vpp/binapi/vpp1908/vpp1908.go
  plugins/vpp/binapi/vpp2001/vpp2001.go
  plugins/vpp/binapi/vpp2001_324/vpp2001_324.go
  plugins/vpp/handlers.go
  plugins/vpp/ifplugin/descriptor/interface_crud.go
  plugins/vpp/ifplugin/ifplugin.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/vmxnet3_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/gtpu_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/memif_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001_324/vmxnet3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/l3xc_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/vppcalls_handlers.go
  plugins/vpp/proxy_test.go
  plugins/vpp/vpp.go
  plugins/vpp/vppmock/vppmock.go
  scripts/genjsonapi.sh
  tests/integration/vpp/integration_test.go
Labels: :beetle: bug

#1610 feat: IP flow hash settings support
  plugins/vpp/l3plugin/descriptor/vrf_table.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vrf_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vrf_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vrf_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vrf_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vrf_vppcalls_test.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/vrf_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2001_324/vrf_vppcalls_test.go
  proto/ligato/vpp/l3/vrf.pb.go
  proto/ligato/vpp/l3/vrf.proto
Labels: ⚡️ feature

#1614 feat: Switch to proto-gen-go v1.3.3 to start using grpc.ClientC…
  go.mod
  go.sum
  proto/ligato/configurator/configurator.pb.go
  proto/ligato/configurator/statspoller.pb.go
  proto/ligato/generic/manager.pb.go
  proto/ligato/generic/meta.pb.go
  scripts/make/buf.make
Labels: 🔗 dependencies
