Repository ligato/vpp-agent, pull requests merged in 2020-06, with the labels that each got.

#1661 ci: Update .travis.yml
  .travis.yml
Labels: ⚙️ CI/CD

#1663 fix: Fix bridge domain dump for VPP 20.05
  plugins/vpp/l2plugin/vppcalls/vpp2005/bridge_domain_vppcalls.go
  plugins/vpp/l2plugin/vppcalls/vpp2005/dump_vppcalls.go
Labels: :beetle: bug

#1664 fix: Fix IPSec SA add/del in VPP 20.05
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls_test.go
Labels: :beetle: bug

#1662 Check if HostIfName contains non-printable characters
  plugins/vpp/ifplugin/vppcalls/vpp1904/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1904/helpers.go
Labels: 🚧 WIP

#1665 docs: Add example for developing agents with custom VPP plugins
  Makefile
  examples/custom_model/proto/models.go
  examples/customize/custom_api_model/main.go
  examples/customize/custom_api_model/proto/custom/model.pb.go
  examples/customize/custom_api_model/proto/custom/model.proto
  examples/customize/custom_api_model/proto/custom/models.go
  examples/customize/custom_vpp_plugin/README.md
  examples/customize/custom_vpp_plugin/binapi/syslog/syslog.ba.go
  examples/customize/custom_vpp_plugin/binapi/vpp2005.go
  examples/customize/custom_vpp_plugin/main.go
  examples/customize/custom_vpp_plugin/proto/custom/vpp/syslog/model.go
  examples/customize/custom_vpp_plugin/proto/custom/vpp/syslog/syslog.pb.go
  examples/customize/custom_vpp_plugin/proto/custom/vpp/syslog/syslog.proto
  examples/customize/custom_vpp_plugin/syslog/descriptor/adapter/syslogsender.go
  examples/customize/custom_vpp_plugin/syslog/descriptor/sender.go
  examples/customize/custom_vpp_plugin/syslog/syslog_plugin.go
  examples/customize/custom_vpp_plugin/syslog/vppcalls/vpp2005/handler.go
  examples/customize/custom_vpp_plugin/syslog/vppcalls/vppcalls.go
Labels: 📜 docs & examples

#1666 Update .travis.yml
  .travis.yml
Labels: ⚙️ CI/CD

#1667 fix(binapi): Regenerate binapi for VPP 20.01-45~g7a071e370~b63
  Makefile
  docker/dev/Dockerfile
  plugins/vpp/binapi/vpp2001/abf/abf.ba.go
  plugins/vpp/binapi/vpp2001/acl/acl.ba.go
  plugins/vpp/binapi/vpp2001/af_packet/af_packet.ba.go
  plugins/vpp/binapi/vpp2001/arp/arp.ba.go
  plugins/vpp/binapi/vpp2001/bond/bond.ba.go
  plugins/vpp/binapi/vpp2001/dhcp/dhcp.ba.go
  plugins/vpp/binapi/vpp2001/fib_types/fib_types.ba.go
  plugins/vpp/binapi/vpp2001/flowprobe/flowprobe.ba.go
  plugins/vpp/binapi/vpp2001/gre/gre.ba.go
  plugins/vpp/binapi/vpp2001/gtpu/gtpu.ba.go
  plugins/vpp/binapi/vpp2001/interfaces/interfaces.ba.go
  plugins/vpp/binapi/vpp2001/ip/ip.ba.go
  plugins/vpp/binapi/vpp2001/ip_neighbor/ip_neighbor.ba.go
  plugins/vpp/binapi/vpp2001/ip_types/ip_types.ba.go
  plugins/vpp/binapi/vpp2001/ipfix_export/ipfix_export.ba.go
  plugins/vpp/binapi/vpp2001/ipip/ipip.ba.go
  plugins/vpp/binapi/vpp2001/ipsec/ipsec.ba.go
  plugins/vpp/binapi/vpp2001/ipsec_types/ipsec_types.ba.go
  plugins/vpp/binapi/vpp2001/l2/l2.ba.go
  plugins/vpp/binapi/vpp2001/l3xc/l3xc.ba.go
  plugins/vpp/binapi/vpp2001/memclnt/memclnt.ba.go
  plugins/vpp/binapi/vpp2001/memif/memif.ba.go
  plugins/vpp/binapi/vpp2001/nat/nat.ba.go
  plugins/vpp/binapi/vpp2001/punt/punt.ba.go
  plugins/vpp/binapi/vpp2001/span/span.ba.go
  plugins/vpp/binapi/vpp2001/sr/sr.ba.go
  plugins/vpp/binapi/vpp2001/stn/stn.ba.go
  plugins/vpp/binapi/vpp2001/tapv2/tapv2.ba.go
  plugins/vpp/binapi/vpp2001/vmxnet3/vmxnet3.ba.go
  plugins/vpp/binapi/vpp2001/vpe/vpe.ba.go
  plugins/vpp/binapi/vpp2001/vxlan/vxlan.ba.go
  plugins/vpp/binapi/vpp2001/vxlan_gpe/vxlan_gpe.ba.go
Labels: 🔃 VPP sync

#1669 feat: Add IPIP & IPSec point-to-multipoint support
  plugins/vpp/binapi/vpp2005/teib/teib.ba.go
  plugins/vpp/binapi/vpp2005/vpp2005.go
  plugins/vpp/ifplugin/descriptor/interface.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/ipip_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/dump_vppcalls.go
  plugins/vpp/ipsecplugin/vppcalls/vpp2005/ipsec_vppcalls.go
  plugins/vpp/l3plugin/descriptor/adapter/teibentry.go
  plugins/vpp/l3plugin/descriptor/teib_entry.go
  plugins/vpp/l3plugin/l3plugin.go
  plugins/vpp/l3plugin/vppcalls/l3_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp1904/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp1908/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2001/vppcalls_handlers.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/teib_vppcalls.go
  plugins/vpp/l3plugin/vppcalls/vpp2005/vppcalls_handlers.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
  proto/ligato/vpp/ipsec/ipsec.pb.go
  proto/ligato/vpp/ipsec/ipsec.proto
  proto/ligato/vpp/ipsec/models.go
  proto/ligato/vpp/l3/models.go
  proto/ligato/vpp/l3/teib.pb.go
  proto/ligato/vpp/l3/teib.proto
  tests/e2e/070_ipsec_test.go
  tests/e2e/e2e_test.go
  tests/integration/vpp/120_ipip_test.go
  tests/integration/vpp/130_ipsec_test.go
  tests/integration/vpp/140_teib_test.go
Labels: ⚡️ feature

#1671 feat: Add tunnel mode support for VPP TAP interfaces
  plugins/vpp/ifplugin/vppcalls/vpp1904/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp1908/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2001/tap_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/dump_interface_vppcalls.go
  plugins/vpp/ifplugin/vppcalls/vpp2005/tap_vppcalls.go
  proto/ligato/vpp/interfaces/interface.pb.go
  proto/ligato/vpp/interfaces/interface.proto
Labels: ⚡️ feature

#1670 feat: New REST endpoint for retrieving version of Agent
  cmd/agentctl/api/types/types.go
  cmd/agentctl/client/api.go
  cmd/agentctl/client/infra.go
  cmd/agentctl/commands/status.go
  pkg/version/version.go
  plugins/restapi/handlers.go
  plugins/restapi/plugin_restapi.go
  plugins/restapi/resturl/urls.go
  tests/e2e/101_rest_api_test.go
Labels: 🔧 enhancement
